.banner {
  padding-bottom: $space-8x;
  position: relative;
  z-index: 20;
}

.imageShape {
  width: 100%;
  height: 160px;
  border-radius: 0 0 10px 10px;
}

.image {
  composes: imageShape;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.post-type {
  margin: 0 5px;

  span {
    color: white;
  }
}

.post-typelabel {
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
}

.custom-icon {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  background-color: rgba(255, 255, 255, 1);

  span {
    font-size: 32px;
  }
}

.displaying {
  display: inline;
  position: relative;
  top: -3px;
}

.filtered-topics {
  margin-left: 5px;
  margin-right: 5px;
  display: inline;
  position: relative;
  top: -3px;
}

.filtered-topic {
  position: relative;
  top: -3px;
  padding-right: 5px;
}

.num-filters {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(35, 65, 91, .8);
  font-size: 12px;
  display: inline-block;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 0 0 0 5px;
  top: -2px;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.custom-filters {
  display: block;
  align-items: center;
}

.fade {
  // Note: replace these with pseudo elements
  composes: imageShape;
  position: relative;
}

.fade2 {
  composes: imageShape;
  background: linear-gradient(180deg, #2A4059 0%, rgba(42, 64, 89, 0.2) 0%, rgba(42, 64, 89, 0.5) 100%);
}

.header {
  position: relative;
  top: -110px;
  padding-left: 20px;
  display: flex;
}

.header-contents {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.logo {
  min-width: 4rem;
  min-height: 4rem;
  height: 4rem;
  width: 4rem;
  background-size: cover;
  border-radius: 100%;
  margin-right: 10px;
  border: 3px solid rgba(255, 255, 255, 1);
}

.all-logo {
  width: 55px;
  height: 62px;
}

.header-text {
  display: inline-block;
  vertical-align: top;
  line-height: 1.1;
}

.header-name {
  // Extract typography?
  @include font-medium;
  color: $color-white;
  font-size: 24px;
  letter-spacing: -0.47px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}

.header-subtitle {
  @include font-regular;
  color: $color-white;
  font-size: 12px;
  opacity: 0.7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

.header-icon {
  position: relative;
  top: 1px;
  margin-right: 5px;
  font-size: 16px;
  color: $color-white;
}

// PostPrompt

// Note: find other places where 56px and 28px are used.
.postPromptShape {
  border-radius: 4px;
  height: 56px;
  position: absolute;
  bottom: $space-3x;
  left: $space-4x;
  right: $space-4x;
}

.postPrompt {
  composes: postPromptShape;
  background-color: $color-white;
  line-height: 56px;
  margin: 0 auto;
  cursor: pointer;
  @include font-regular;
  font-size: 16px;
  color: $color-rhino-30;
  text-decoration: none;
}

.prompt-image {
  margin-right: 10px;
  margin-left: 20px;
  position: relative;
  top: 14px;
}

.shadow {
  composes: postPromptShape;
  background-color: transparent;
  box-shadow: 0 4px 15px rgba(35, 65, 91, .3);;
  z-index: -10;
  transition: all .25s ease;

  &.hover {
    box-shadow: 0 4px 15px rgba(35, 65, 91, .5);
  }
}

.all-groups {
  background-color: $color-athens-gray;
  .header-name {
    text-shadow: none;
  }
  .fade {
    background-image: none;
  }
  .fade2 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .imageShape {
    border-radius: 0;
  }

  .banner {
    padding-top: 0;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding-left: 15px;
  }

  .header-name {
    font-size: 18px;
  }

  .postPrompt {
    font-size: 14px;
    line-height: 50px;
  }

  .postPromptShape {
    height: 50px;
  }

  .prompt-image {
    margin-left: 10px;
    top: 11px;
  }
}

@media screen and (max-width: 325px) {
  .header-name {
    font-size: 16px;
  }

  .postPrompt {
    font-size: 12px;
  }
}
