// GroupSettingsTab
.label {
  composes: tag from 'css/typography.scss';
}

.new-custom-view {
  font-size: 36px;
  color: rgba(191, 197, 206, 1.0);
}

.warning {
  color: $color-amaranth;
}

.add-custom-view {
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  padding: 10px;
  box-shadow: 0px 5px 8px rgba(35, 65, 91, .2);
  display: flex;
  align-items: center;
  justify-content: space-between;

  h4 {
    font-size: 16px;
    color: rgba(35, 65, 91, 1.0);
    margin-bottom: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.custom-view-container {
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  padding: 10px;
  box-shadow: 0px 5px 8px rgba(35, 65, 91, .2);

  /* For delete icon */
  h4 {
    display: flex;
    justify-content: space-between;
    color: rgba(35, 65, 91, 1.0);
    font-family: 'Circular Bold', sans-serif;
    font-weight: 800;
    font-size: 18px;

    span {
      vertical-align: bottom;
      cursor: pointer;
    }

    strong {
      font-size: 12px;
      font-family: 'Circular Book', sans-serif;
      opacity: .5;
      display: block;
    }

  }
}

.custom-posts-view.disabled {
  opacity: 40%;
  pointer-events: none;
}

.settings-control {
  border-bottom: none;
  padding-right: 10px;
  margin-bottom: 0;
  padding-bottom: 5px;

  label {
    color: rgba(44, 64, 89, 0.6);
  }
}

.settings-control input {
  border: 1px solid rgba(224, 229, 233, 1.0);
  padding: 5px 8px;
  font-size: 16px;
  line-height: 16px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
}

.dropdown {
  border: 1px solid $color-grey-keyline-light;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid rgba(224, 229, 233, 1.0);
  padding: 0px 5px;
  line-height: 16px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
}

.dropdown-label {
  composes: bdy-drk-sm from 'css/typography.scss';
  font-size: 15px;
  padding: 3px;
  white-space: nowrap;

  span {
    vertical-align: middle;
  }
}


.selectedIcon {
  font-size: 18px;
  vertical-align: middle;
}

.post-types {

  .post-types-chosen {
    margin: 0 8px;
    padding: 1px 2px;
    cursor: pointer;
    border-radius: 4px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
  }

  .post-type {
    margin: 0px 5px;
  }
}

.icon-button {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 5px;
  padding-right: 10px;

  label {
    color: rgba(44, 64, 89, 0.6);
  }
}

.icon-button > div {
  border: 1px solid rgba(224, 229, 233, 1.0);
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
}

.custom-view-row {
  border-bottom: 1px dashed rgba(225, 229, 233, 1.0);
  padding: 10px 0;
  display: flex;
  align-items: center;
  min-height: 60px;

  .label {
    margin-bottom:0;
  }
}

.custom-view-last-row {
  padding: 10px 0;

  &> div {
    border: 1px solid rgba(224, 229, 233, 1.0);
    border-radius: 5px;
  }
}

.post-types-selector {
  display: none;
  position: absolute;
  background: white;
  z-index: 100;
  border: 1px solid black;
  padding: 3px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin-top: 5px;
  width: 180px;

  &.open {
    display: block;
  }

  .post-type-switch {
    margin: 5px;
    > span {
      margin-left: 10px;
    }
  }

  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
  }
}

.help-text {
  color: $color-black-60;
  font-size: 0.9rem;
  transition: all .25s ease;
  padding: 10px 0;
}
