.post-grid-item-container{
  width: 100%;
  height: 160px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(42, 64, 89, 0.3);
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 1);
  transition: all .25s ease;
}

.post-grid-item-container.image {

  .content-summary {
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(35, 65, 91, 1);

    .title {
      color: white;
      background-color: rgba(35, 65, 91, 0);
      position: absolute;
      z-index: 5;
      bottom: 30px;
      width: 100%;
      padding: 5px 8px;
      text-shadow: 2px 1px 3px rgba(35, 65, 91, 1);
    }

    .first-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .9;
      background-size: cover;
    }

    .details {
      display: none;
    }

    .grid-fade {
      z-index: 1;
      background: linear-gradient(180deg, rgba(42, 64, 89, 0) 0%, rgba(42, 64, 89, 1) 100%);
    }
  }

  .grid-meta .type-author .avatar {
    margin-left: 5px;
  }
}

.post-grid-item-container.file {
  .content-summary {
    text-align: center;

    .file-attachment {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(calc(-50% - 7px)) translateX(-50%);

      .attachment-number {
        padding-bottom: 10px;
        font-size: 11px;
        margin-top: -5px;
        opacity: .5;
        color: $color-regent;
      }

      .attachment-name {
        font-size: 11px;
        color: rgba(255, 177, 36, 1.0)
      }
    }

    .file-icon {
      font-size: 36px;
      color: rgba(255, 157, 34, 1.0);
    }

    .details {
      display: none;
    }
  }
}

.content-summary {
  display: flex;
  flex-direction: column;
  padding: 4px 5px;
  flex: 1 1 auto;
  overflow: hidden;

  p {
    overflow: hidden;
  }

  .title {
    color: $color-member;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    text-overflow: ellipsis;
    padding: 5px;

    span {
      font-size: 10px;
      font-weight: normal;
    }
  }

  .details {
    color: rgba(35, 65, 91, .7);
    height: auto;
    width: 100%;
    font-size: 11px;
    padding: 0 5px;
  }

  .image-bg {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .grid-fade {
    z-index: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 49.48%, #FFFFFF 100%);
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
  }

  .grid-meta {
    z-index: 3;
    position: absolute;
    bottom:0;
    width: 100%;
    padding-right: 15px;
    padding-left: 3px;
  }

  .grid-meta-row-1 {
    display: flex;
    justify-content: space-between;
    .type-author {
      display: block;
      height: 36px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 30px;
      color: $color-grey-keyline;
      font-size: 12px;
      position: relative;
      top: 9px;

      .avatar {
        margin-right: 5px;
        position: relative;
        top: 2px;
      }

      span {
        display: inline-block;
        margin-left: 3px;
      }
    }
  }
}

.participants, .details, .timestamp, .topics {
  font-size: 12px;
}

.date {
  color: red;
}

.topics {
    display: block;
    margin-bottom: -3px;
    font-size: 12px;
    opacity: .5;
}

.title .details p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.vote-button {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(37, 195, 159, .5);
  background: $color-white;
  border-radius: 3px;
  font-size: 12px;
}

.vote-icon {
  display: block;
  margin: 0 0 -4px 0;
  color: $color-caribbean-green;
  font-size: 18px;
}

// button state when upvote is active
.vote-button.voted {
  background: $color-caribbean-green;

  color: $color-white !important;
  .vote-icon {
    color: $color-white;
  }
}

.topic {
  color: $color-caribbean-green;
  margin-right: 10px;
}

.timestamp {
  color: $color-grey-keyline;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

// unread state overrides
.unread {

}

// active state overrides
.expanded {
  margin: 0 0 5px 5px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(42, 64, 89, 0.6);
  width: 110%;
  height: 190px;
  margin: -15px -5%;
  z-index: 10;
  border: 1px solid rgba(0, 118, 223, .5);
  border-top: 3px solid rgba(0, 118, 223, .5);
  background-color: rgba(255,255,255,1);
}


@media screen and (max-width: 425px) {
  .participants div span {
    display: none;
  }

  .post-type {
    display: none;
  }

  .title {
    font-size: 14px;
  }

  .details {
    font-size: 11px;
  }

  .post-row {
    padding: 10px;
  }

  .post-grid-item-container{
    height: 120px;
  }
}
