.post-grid-item-container{
  width: 100%;
  height: 160px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 3px 5px 0px #d8d8d8;
  position: relative;
  overflow: hidden;
}

.post-grid-item-container.image {
  .content-summary {
    padding: 0;

    .title {
      color: white;
      background-color: rgba(35, 65, 91, .8);
      position: relative;
      z-index: 5;
    }

    .first-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
    }

    .details {
      display: none;
    }

    .grid-fade {
      z-index: 1;
      background: linear-gradient(180deg, rgba(42, 64, 89, 0) 0%, rgba(42, 64, 89, 0.79) 61.98%, rgba(42, 64, 89, 0.85) 100%);
    }
  }
}

.post-grid-item-container.file {
  .content-summary {
    text-align: center;

    .file-attachment {

      .attachment-number {
        padding-bottom: 10px;
        font-size: 11px;
        margin-top: -5px;
        opacity: .5;
        color: $color-regent;
      }

      .attachment-name {
        font-size: 11px;
        color: rgba(255, 177, 36, 1.0)
      }
    }

    .file-icon {
      font-size: 36px;
      color: rgba(255, 157, 34, 1.0);
    }

    .details {
      display: none;
    }
  }
}

.content-summary {
  display: flex;
  flex-direction: column;
  padding: 4px 5px;
  flex: 1 1 auto;
  overflow: hidden;


  .title {
    color: $color-member;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    display: flex;
    max-height: 72px;
    text-overflow: ellipsis;
    padding: 5px;
    overflow: hidden;
    display: block;
    white-space: nowrap;

    span {
      font-size: 10px;
      font-weight: normal;
    }
  }

  .details {
    color: $color-regent;
    height: auto;
    width: 100%;
    font-size: 11px;
    padding: 0 5px;
  }

  .image-bg {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .grid-fade {
    z-index: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 49.48%, #FFFFFF 100%);
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
  }

  .grid-meta {
    display: flex;
    z-index: 3;
    position: absolute;
    bottom:0;
    justify-content: space-between;
    width: 100%;
    padding-right: 15px;
    padding-left: 3px;

    .type-author {
      display: block;
      height: 36px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 30px;
      color: $color-grey-keyline;
      font-size: 12px;
      position: relative;
      top: 9px;

      .avatar {
        margin-right: 5px;
        position: relative;
        top: 2px;
      }

      span {
        display: inline-block;
        margin-left: 3px;
      }
    }
  }
}

.participants, .details, .timestamp, .topics {
  font-size: 12px;
}

.date {
  color: red;
}

.topics {
    display: block;
    margin-bottom: -3px;
    font-size: 12px;
    opacity: .5;
}

.title .details p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.vote-button {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(37, 195, 159, .5);
  background: $color-white;
  border-radius: 3px;
  font-size: 12px;
}

.vote-icon {
  display: block;
  margin: 0 0 -4px 0;
  color: $color-caribbean-green;
  font-size: 18px;
}

// button state when upvote is active
.vote-button.voted {
  background: $color-caribbean-green;

  color: $color-white !important;
  .vote-icon {
    color: $color-white;
  }
}

.topic {
  color: $color-caribbean-green;
  margin-right: 10px;
}

.timestamp {
  color: $color-grey-keyline;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

// unread state overrides
.unread {

}

// active state overrides
.expanded {
  margin: 0 0 5px 5px;
  padding: 3px 4px;
  border-radius: 5px;
  box-shadow: 0px 8px 15px 0px #d8d8d8;
}


@media screen and (max-width: 425px) {
  .participants div span {
    display: none;
  }

  .post-type {
    display: none;
  }

  .title {
    font-size: 14px;
  }

  .details {
    font-size: 11px;
  }

  .post-row {
    padding: 10px;
  }

  .post-grid-item-container{
    height: 120px;
  }
}
