// composes: d-flex from $bootstrap-path;
// composes: flex-item from $bootstrap-path;

.item {
  // FIXME use actual spacing vars
  padding: 0 12.5px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
}

.link {
  color: $color-rhino-50;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $color-rhino;
  }
}

.active {
  background-color: $color-iceberg;
  .link {
    text-decoration: none;
    color: $color-rhino;
  }
}

.icon {
  margin-right: 24px;
}

.badge {
  float: right;
  position: relative;
  top: 10px;
}
