.item {
  // FIXME this makes padding of 12px, actual spacing is 12.5px
  padding: 0 $space-3x;
  // height and line-height maybe should use spacing units too?
  height: 40px;
  line-height: 40px;
  border-radius: 5px;

}

.link {
  display: flex;
  align-items: center;
  color: $color-rhino-60;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $color-rhino;
  }

  transition: 1.5s;

  &.collapsed {
    color: transparent;
  }
}



.active {
  background-color: $color-iceberg;
  .link {
    text-decoration: none;
    color: $color-rhino;
    &.collapsed {
      color: transparent;
    }
  }
}

.icon {
  margin-right: 24px;
}

.label {
  padding-right: 5px;
}


@media screen and (max-width: 600px) {
  .label {
    display: none;
  }

  .link {
    text-align: center;
  }

  .item {
    margin: 0 5px;
  }

  .icon {
    margin: 0;
    margin-top: 7px;
  }
}

@media screen and (max-width: 425px) {
  .icon {
    font-size: 24px;
  }

  .item {
    padding: 0 8px;
  }
}

@media screen and (max-width: 375px) {
  .icon {
    font-size: 22px;
  }

  .item {
    padding: 0 6px;
  }
}


@media screen and (max-width: 320px) {
  .icon {
    font-size: 20px;
  }

  .link {
    height: 32px;
  }

  .item {
    padding: 0 4px;
  }
}