.center {
  text-align: center;
}

.header {
  margin-bottom: 25px;
  color: $color-rhino-60;
  font-size: 150%;
}

.axolotl-phone-image {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}
