.container {
  padding-bottom: 200px;

  h1 {
    margin-bottom: 0;
  }

  h3 {
    font-size: 16px;
    color: rgba(125, 140, 157, 1.000);
    font-weight: 100;
  }

}
.icon {
  margin: 15px 15px 0 auto;
  align-self: flex-start;
}

// Group invite/request picker
.group-picker-container {
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
}

.connect-button {
  background-color: rgba(255,255,255,1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  color: rgba(125, 140, 157, .5);
  padding: 0 10px;
  font-style: italic;
  border: 1px solid rgba(0, 199, 157, 0);
  transition: all .25s ease;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  position: relative;
  z-index: 1;

  .connect-label {
    font-style: normal;
    border: 1px solid rgba(191, 197, 206, 1.000);
    color: rgba(191, 197, 206, 1.000);
    font-size: 14px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    position: relative;
    top: 9px;
    border-radius: 30px;
  }

  .connect-icon {
    position: relative;
    top: 2px;
    margin-right: 8px;
    font-size: 20px;
  }

  &:hover {
    color: rgba(125, 140, 157, 1);
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(0, 199, 157, 1.000);
  }
}

.group-picker {
  position: absolute;
  width: 100%;
  background: white;
  border-radius: 0 0 15px 15px;
  z-index: 1;
  left: 0;
  overflow: hidden;
  padding-top: 40px;
  z-index: 0;
  top: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
}

.group-picker-list {
  height: 150px;
  overflow-y: auto;
}

.invite-button {
  display: block;
  border-bottom: 1px solid rgba(191, 197, 206, 1.000);
  padding: 10px 10px;
  color: rgba(44, 63, 89, 1.000);
  cursor: pointer;
  transition: all .25s ease;
  background-color: rgba(224, 229, 233, 0);

  b {
    display: inline-block;
    padding: 2px 8px;
    margin-right: 10px;
    border: 1px solid rgba(0, 199, 157, 1.000);
    color: rgba(0, 199, 157, 1.000);
    border-radius: 30px;
    background-color: rgba(255,255,255,1);

  }

  &:hover {
    background-color: rgba(224, 229, 233, 1.000);
  }
}

.request-modal-bg {
  width: 100%;
  height: 100%;
  background: rgba(41, 64, 90, .7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  display: flex;
  align-items: center;
  overflow-y: auto;
  padding-top: 70px;
  padding-bottom: 70px;
  justify-content: center;
}

.request-modal {
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 15px;
  width: 100%;
  max-width: 480px;
  z-index: 10;
  background: white;
  border: 1px solid gray;

  .request-top {
    background-color: rgba(242, 242, 242, 1.00);
    padding: 15px;
    border-radius: 15px 15px 0 0;

    strong {
      @include font-bold;
    }

    .request-message {
      text-align: center;
      display: block;
      margin-bottom: 15px;
      color: rgba(49, 73, 101, 1.00);
    }

    .join-example {
      display: flex;
      align-items: center;
      justify-content: center;

      .requesting-group, .requested-parent-group {
        width: 120px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        text-align: center;
        background-size: cover;
        border-radius: 10px;
        background-color: rgba(37, 195, 159, 1.00);

        .group-image {
          min-width: 50px;
          min-height: 50px;
          margin-right: 0;
        }

        h4 {
          color: rgba(255, 255, 255, 1);
          font-size: 12px;
          margin-bottom: 0;
        }
      }

      .requesting-icon {
        width: 70px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .join-questions {
    padding: 15px 15px 0 15px;

    .request-message-title {
      text-align: center;
      color: rgba(140, 151, 166, 1.00);
      font-size: 14px;
      padding-bottom: 15px;
    }

    .join-question {
      background-color: rgba(249, 250, 251, 1.000);
      border: 1px solid rgba(224, 229, 233, 1.000);
      border-radius: 5px;
      padding: 15px;
      width: 100%;
      margin-bottom: 25px;

      h3 {
        color: rgba(140, 151, 166, 1.00);
      }

      textarea {
        width: 100%;
        background-color: transparent;
        border: none;
        color: rgba(35, 64, 91, 1.000);

        &::placeholder {
          font-style: italic;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  .request-bottom {
    background-color: rgba(242, 242, 242, 1.00);
    padding: 15px;
    border-radius: 0 0 15px 15px;
    text-align: center;
  }
}

// SearchBar
.search-bar {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}

.search-input {
  flex: 1;
  margin-right: $space-4x;
}

.search-order {
  min-width: 80px;
}

.search-sorter-label {
  font-size: 15px;
  line-height: 28px;
  composes: caption-lt-lg from 'css/typography.scss';
  > span {
    vertical-align: middle;
    margin-left: $space-1x;
  }
}

// GroupList
.group-list {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 25px;
}

// GroupCard
.group-card-wrapper {
  border-bottom: 1px solid $color-rhino-10;
}

.group-card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.group-image {
  margin-right: 10px;
  height: 30px;
}

.group-details {
  line-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.group-name {
  color: $color-rhino;
  @include font-regular;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
}

.group-stats {
  color: $color-rhino-60;
  @include font-regular;
  font-size: 14px;
}

.answer {
  padding-left: 70px;
  margin: 20px 0;

  h3 {
    font-size: 14px;
    color: rgba(125, 140, 157, 1.000);
    margin-bottom: 0;
  }

  p {
    font-size: 14px;
    color: rgba(35, 64, 91, 1.000);
  }
}

.answer-wrapper {
  padding: 0 15px 15px 15px;

  .answer {
    padding-left: 0;
  }
}

.accept-button {
  cursor: pointer;
  border: 1px solid rgba(166, 239, 226, 1.000);
  color: rgba(0, 199, 157, 1.000);
  height: 30px;
  line-height: 30px;
  display: inline-block;
  border-radius: 30px;
  font-size: 14px;
  padding: 0 8px;
  margin-left: 5px;
  transition: all .25s ease;

  .accept-icon {
    color: rgba(0, 199, 157, 1.000);
    font-size: 18px;
    transition: all .25s ease;
    top: 2px;
    left: 4px;
    margin-right: 5px;
    position: relative;
  }

  span {
    position: relative;
    top: -2px;
  }

  &:hover {
    border: 1px solid rgba(0, 199, 157, 1.000);
    background-color: rgba(0, 199, 157, 1.000);
    color: rgba(255, 255, 255, 1.000);

    .accept-icon {
      color: rgba(255, 255, 255, 1.000);
    }
  }
}

.cancel-button {
  cursor: pointer;
  border: 1px solid rgba(191, 197, 206, 1.000);
  color: rgba(125, 140, 157, 1.000);
  font-size: 14px;
  border-radius: 30px;
  display: inline-block;
  padding: 5px 10px;

  &:hover {
    border: 1px solid rgba(125, 140, 157, 1.000);
    background-color: rgba(125, 140, 157, 1.000);
    color: rgba(255,255,255,1);
  }
}

.reject-button {
  cursor: pointer;
  border: 1px solid rgba(255, 193, 195, 1.000);
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  width: 30px;
  display: inline-block;
  transition: all .25s ease;

  .reject-icon {
    color: rgba(254, 72, 80, 1.000);
    position: relative;
    top: 1px;
    left: 4px;
    transition: all .25s ease;
    font-size: 20px;
  }

  &:hover {
    border: 1px solid rgba(254, 72, 80, 1.000);
    background-color: rgba(254, 72, 80, 1.000);

    .reject-icon {
      color: rgba(255,255,255,1);
    }
  }
}
