.container {
  padding-bottom: 200px;

  h1 {
    margin-bottom: 0;
  }

  h3 {
    font-size: 16px;
    color: rgba(125, 140, 157, 1.000);
    font-weight: 100;
  }

}
.icon {
  margin: 15px 15px 0 auto;
  align-self: flex-start;
}

// Group invite/request picker
.group-picker-container {
  position: relative;
  margin-bottom: 50px;
}

.connect-button {
  background-color: rgba(255,255,255,1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  color: rgba(125, 140, 157, .5);
  padding: 0 10px;
  font-style: italic;
  border: 1px solid rgba(0, 199, 157, 0);
  transition: all .25s ease;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  position: relative;
  z-index: 1;

  .connect-label {
    font-style: normal;
    border: 1px solid rgba(191, 197, 206, 1.000);
    color: rgba(191, 197, 206, 1.000);
    font-size: 14px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    position: relative;
    top: 9px;
    border-radius: 30px;
  }

  .connect-icon {
    position: relative;
    top: 2px;
    margin-right: 8px;
    font-size: 20px;
  }

  &:hover {
    color: rgba(125, 140, 157, 1);
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(0, 199, 157, 1.000);
  }
}

.group-picker {
  position: absolute;
  width: 100%;
  background: white;
  border-radius: 0 0 15px 15px;
  z-index: 1;
  left: 0;
  overflow: hidden;
  padding-top: 40px;
  z-index: 0;
  top: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
}

.group-picker-list {
  height: 150px;
  overflow-y: auto;
}

.invite-button {
  display: block;
  border-bottom: 1px solid rgba(191, 197, 206, 1.000);
  padding: 10px 10px;
  color: rgba(44, 63, 89, 1.000);
  cursor: pointer;
  transition: all .25s ease;
  background-color: rgba(224, 229, 233, 0);

  b {
    display: inline-block;
    padding: 2px 8px;
    margin-right: 10px;
    border: 1px solid rgba(0, 199, 157, 1.000);
    color: rgba(0, 199, 157, 1.000);
    border-radius: 30px;
    background-color: rgba(255,255,255,1);

  }

  &:hover {
    background-color: rgba(224, 229, 233, 1.000);
  }
}

// SearchBar
.search-bar {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}

.search-input {
  flex: 1;
  margin-right: $space-4x;
}

.search-order {
  min-width: 80px;
}

.search-sorter-label {
  font-size: 15px;
  line-height: 28px;
  composes: caption-lt-lg from 'css/typography.scss';
  > span {
    vertical-align: middle;
    margin-left: $space-1x;
  }
}

// GroupList
.group-list {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 25px;
}

// GroupCard
.group-card {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-rhino-10;
  padding: 10px;
}

.group-image {
  margin-right: 10px;
  height: 30px;
}

.group-details {
  line-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.group-name {
  color: $color-rhino;
  @include font-regular;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
}

.group-stats {
  color: $color-rhino-60;
  @include font-regular;
  font-size: 14px;
}

.accept-button {
  cursor: pointer;
  border: 1px solid rgba(166, 239, 226, 1.000);
  color: rgba(0, 199, 157, 1.000);
  height: 30px;
  line-height: 30px;
  display: inline-block;
  border-radius: 30px;
  font-size: 14px;
  padding: 0 8px;
  margin-left: 5px;
  transition: all .25s ease;

  .accept-icon {
    color: rgba(0, 199, 157, 1.000);
    font-size: 18px;
    transition: all .25s ease;
    top: 2px;
    left: 4px;
    margin-right: 5px;
    position: relative;
  }

  span {
    position: relative;
    top: -2px;
  }

  &:hover {
    border: 1px solid rgba(0, 199, 157, 1.000);
    background-color: rgba(0, 199, 157, 1.000);
    color: rgba(255, 255, 255, 1.000);

    .accept-icon {
      color: rgba(255, 255, 255, 1.000);
    }
  }
}

.cancel-button {
  cursor: pointer;
  border: 1px solid rgba(191, 197, 206, 1.000);
  color: rgba(125, 140, 157, 1.000);
  font-size: 14px;
  border-radius: 30px;
  display: inline-block;
  padding: 5px 10px;

  &:hover {
    border: 1px solid rgba(125, 140, 157, 1.000);
    background-color: rgba(125, 140, 157, 1.000);
    color: rgba(255,255,255,1);
  }
}

.reject-button {
  cursor: pointer;
  border: 1px solid rgba(255, 193, 195, 1.000);
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  width: 30px;
  display: inline-block;
  transition: all .25s ease;

  .reject-icon {
    color: rgba(254, 72, 80, 1.000);
    position: relative;
    top: 1px;
    left: 4px;
    transition: all .25s ease;
    font-size: 20px;
  }

  &:hover {
    border: 1px solid rgba(254, 72, 80, 1.000);
    background-color: rgba(254, 72, 80, 1.000);

    .reject-icon {
      color: rgba(255,255,255,1);
    }
  }
}
