.images {
  :global(.slick-prev:before),
  :global(.slick-next:before) {
    text-shadow: 0px 0px 5px black;
  }

  :global(.slick-list) {
    margin-bottom: 15px;
  }

  :global(.slick-dots) {
    bottom: -20px;
  }

  :global(.slick-arrow) {
    top: 25px;
    transform: scale(1.5);
  }

  :global(.slick-next) {
    right: 15px;
  }

  .imageWrapper {
    width: 100%;
    height: 75vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain; /* Ensures the image is scaled appropriately */
      display: inline-block;
    }
  }
}
