.newThread {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  height: $messages-header-height;
  padding: $messages-header-vertical-padding $messages-header-horizontal-padding;
  border-bottom: $light-border;
  border-left: $light-border;
  border-right: $light-border;
}

.close-messages {
  cursor: pointer;
  padding: $space-2x 0;

  &:hover {
    text-decoration: none;

    .close-messages-icon {
      color: $color-rhino-60;
    }
  }
}

.more-icon {
  padding: $space-1x 0;
}

.message-form {
  position: absolute;
  bottom: 40px;
  padding: 0 30px;
  width: 100%;
}
