.item {
  display: flex;
  align-items: center;
  min-height: 52px;
  border-bottom: 1px solid $color-ghost;
}

.avatar {
  margin-right: $space-4x;
}

.name {
  composes: bdy-drk-sm from 'css/typography.scss';
  font-size: 16px;
  &:hover {
    color: $color-rhino;
    text-decoration: none;
  }
}

.remove-button {
  margin-left: auto;
  composes: text-button from 'css/typography.scss'
}
