.wrapper {
  display: flex;
  flex-direction: column;
  min-width: $signup-modal-width;
  min-height: 600px;
  list-style: none;
  border: solid 1px rgb(0,0,0);
  border-radius: $space-1x;
  border: 1px solid $color-cape-cod-10;
  background: $color-white;
  padding-top: 30px;
}

.left-sidebar {
  width: 200px;
  padding-top: 30px;
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: 'green';
  &.border {
    border-right: 1px solid $color-cape-cod-10;
  }
}

.sidebar {
  // From Bootstrap make-col-ready():
  position: relative;
  min-height: 1px; // Prevent collapsing
  height: 100%;
  flex: 0 0 33%;
  max-width: 33%;
  transition-delay: 0.1s;
  transition-duration: 0.3s;
  right: 0px;
  padding: 0 32px 0 32px;
  overflow-y: auto;
}

.detail {
  padding-top: 30px;
  background-color: $color-white;
  position: absolute;
  top: 0;
  right: 0px;
  height: 100%;
  width: 67%;
  overflow-y: auto;
  background-color: $color-caribbean-green;
}

.white-text {
  color: $color-white
}

.signup-modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.signup-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.signup-wrapper {
  position: relative;
  z-index: 1;
  width: $signup-modal-width;
  margin: -($post-editor-height/2) auto 0;
  top: 50%;
}

.sidebar-header {
  color: $color-caribbean-green;
  margin-top: 20px;
  font-size: 20px;
}

.float-right {
  float: right;
  margin-right: 50px;
}

.step-count {
  float: right;
  margin-right: 30px;
  letter-spacing: 1px;
  font-size: 14px;
}

.gray-text {
  color: $color-dove-gray-75;
}

.logo {
  @include image(100px);
  border-radius: 4px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-upload-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.bottom {
  position:absolute;
  bottom:40px;
  right:0;
}

.continue-button {
  border: 0;
  font-size: 12px;
  color: $color-caribbean-green;
  background-color: $color-white;
  width: 120%;
  text-align: center;
  font-size: 1rem;
}

.continue-button:hover {
  color: $color-caribbean-green;
  background-color: $color-white;
}

.instruction {
  color: $color-white;
  font-size: 90%;
  text-align: center;
  margin-top: 10px;
  font-weight: 100;
  font-style: italic;
  width: 120%;
  opacity: 0.5;
}

.center-vertical {
  position: absolute;
  top: 47.5%;
  width: 100%;
}

.center-skills {
  position: absolute;
  top: 25%;
  width: 100%;
}

.center-text {
  text-align: center;
}

.signup-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-athens-gray-dark-50;
  width: 90%;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 24px;
  color: $color-white;
  font-weight: lighter;
  padding-bottom: 10px;
}

.signup-input::placeholder {
  color: $color-white;
}

.signup-input:focus {
    outline: none;
}

.alert {
  display: block;
}

.close-button {
  letter-spacing: 1px;
  font-size: 14px;
  opacity: 0.5;
}

.avatar {
  display: flex;
  align-items: flex-end;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin: -70px auto $space-8x auto;
}

.upload-background-image {
  height: 120px;
  width: 120px;
  background-position: center;
  padding: 30px;
  background-color: $color-athens-gray-dark-50;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.loading-background-image {
  height: 120px;
  width: 120px;
  background-position: left 35px top 55px;
  padding: 30px;
  background-color: $color-athens-gray-dark-50;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.change-avatar-button {
  margin: 0 auto;
  width: 30px;
}

.icon {
  background-position: center;
  position: absolute;
  margin-top: 30px;
  color: $color-white;
}

.skills-cloud {
  position: absolute;
  top: 35%;
}

.my-skills-cloud {
  position: absolute;
  top: 75%;
}

.skills {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 50px 0px 50px;
}

.skill {
  margin-right: 10px;
  color: $color-white;
  padding: 4px 10px 4px 10px;
  border-radius: 25px;
  margin: 7px 5px 7px 5px;
  border: 1px solid $color-white;
}

.skill:hover {
  background-color: $color-white;
  color: $color-caribbean-green;
}
