.flex-wrapper {
  background: $color-white;
  width: 320px;
  margin: 0 auto;
  border-radius: 10px;
}

.flex-wrapper.final-wrapper {
  background-color: rgba(248, 248, 248, 1.00);
}

.panel {
  padding: 30px;
  position: relative;
}

.final-panel {
  padding: 30px 15px 15px 15px;

  .instructions {
    padding: 10px;

    h3 {
      font-size: 24px;
      color: rgba(0, 196, 159, 1.00);
      font-weight: bold;
    }
  }
}

.step-count {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 10px;
  color: rgba(128, 140, 156, 1.00);
}

.final-step {
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 15px rgba(42, 64, 89, 0.2);
  border-radius: 10px;
  background-color: $color-white;
  transition: all .25s ease;
  position: relative;
  top: 0;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;

  h4 {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
    color: rgba(41, 64, 90, 1.00);
    margin-bottom: 0px;
    text-decoration: none;
  }

  p {
    font-size: 12px;
    color: rgba(128, 140, 156, 1.00);
    text-decoration: none;
    line-height: 16px;
    margin-bottom: 0;
  }

  .step-image {
    min-width: 80px;
    min-height: 80px;
    margin-right: 15px;
    border-radius: 10px;
    transition: all .25s ease;
    box-shadow: 0px 5px 15px rgba(42, 64, 89, 0.2);
    background-size: cover;

    .profile-cover {
      background: linear-gradient(11.34deg, rgba(235, 87, 87, 0.7) 20.05%, rgba(238, 194, 40, 0.7) 87.14%);
      width: 80px;
      height: 80px;
      border-radius: 10px;
      opacity: .7;
    }
  }
}

.final-step:hover {
  top: -3px;
  box-shadow: 0px 5px 15px rgba(42, 64, 89, 0.4);

  .step-image.map {
    box-shadow: 0px 5px 15px rgba(79, 118, 193, .7);
  }

  .step-image.stream {
    box-shadow: 0px 5px 15px rgba(22, 178, 190, .7);
  }

  .step-image.group {
    box-shadow: 0px 5px 15px rgba(129, 174, 101, .7);
  }

  .step-image.profile {
    box-shadow: 0px 5px 15px rgba(238, 136, 56, .7);
  }
}

.final-panel a:hover {
  text-decoration: none;
}

.sidebar-header {
  color: $color-caribbean-green;
  margin-top: 20px;
  font-size: 18px;
}

.sidebar-header-full-page {
  color: $color-caribbean-green;
  margin-top: 20px;
  font-size: 18px;
  padding-left: 25px;
  padding-right: 35px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-modal-footer {
  padding-top: 20px;
}

.footer-buttons {
  margin-bottom: 20px;
  text-align: center;
}

.continue-button {
  color: $color-white;
  background-color: $color-caribbean-green;
  text-align: center;
  font-size: 16px;
  padding: 6px 30px 6px 30px;
  border-radius: 25px;
  max-width: 10px;
  cursor: pointer;
  transition: all .25s ease;
  position: relative;
  box-shadow: 0px 5px 15px rgba(42, 64, 89, 0);
  top: 0;
}

.continue-button:hover {
  background-color: rgba(0, 113, 219, 1.00);
  box-shadow: 0px 5px 15px rgba(42, 64, 89, 0.2);
  top: -2px;
}

.previous-button {
  color: rgba(128, 140, 156, 1.00);
  border: 1px solid rgba(128, 140, 156, 1.00);
  text-align: center;
  font-size: 12px;
  margin-right: 20px;
  padding: 2px 10px 2px 10px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 8px;
  left: 15px;
}

.previous-button:hover {
  color: $color-caribbean-green;
  background-color: $color-white;
}

.press-enter {
  font-size: 10px;
  color: rgba(128, 140, 156, 1.00);
  margin-top: -12px;
  text-align: center;
}

.sidebar-text {
  font-size: 14px;
  font-weight: lighter;
}
.sidebar-text-full-page {
  font-size: 14px;
  font-weight: lighter;
  padding-left: 25px;
  padding-right: 25px;
}

.signup-modal {
  height: 100%;
  width: 100%;
  overflow: scroll;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instructions {
  text-align: center;
  padding-top: 30px;

  h3 {
    color: rgba(41, 64, 90, 1.00);
  }

  p {
    color: rgba(128, 140, 156, 1.00);
    font-size: 14px;
  }

}

.signup-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 64, 90, .5);
}

.signup-wrapper {
  transition: all .25s ease;
  position: relative;
  z-index: 1;
  min-height: 480px;
  min-width: 320px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.pill-container {
  position: relative;
}

.float-right {
  float: right;
  margin-right: 50px;
}

.logo {
  @include image(100px);
  border-radius: 4px;
  margin-top: 10px;
}

.bottom {
  position:absolute;
  bottom:40px;
  right:0;
}

.center-vertical-side {
  position: absolute;
  top: 47.5%;
  width: 20%;
}

.center-text {
  text-align: center;
}

.signup-input-review {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-athens-gray-dark-50;
  width: 60%;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 18px;
  color: $color-white;
  font-weight: lighter;
  padding-bottom: 10px;
}

.large-input-text {
  font-size: 16px;
  text-align: left;
  padding-left: 37px;
}

.signup-input {
  margin-top: 40px;
  border-radius: 5px;
  background-color: rgba(251, 252, 253, 1.00);
  border: none;
  width: 100%;
  color: rgba(128, 140, 156, 1.00);
  border: 1px solid rgba(225, 229, 233, 1.00);
  height: 50px;
  font-weight: lighter;
}

.gray-bottom-border {
  border-bottom: 1px solid $color-athens-gray-dark-50;
}
.review-input-padding {
  padding-bottom: 5px;
}

.signup-input:focus {
    outline: none;
}

.close-button {
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 10px;
  opacity: 0.5;
}

.icon {
  background-position: center;
  position: absolute;
  margin-top: 30px;
  color: $color-white;
}

span.globe-icon {
  font-size: 100px;
}

.skills {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 50px 0px 50px;
}

.location-input {
  position: relative;

  .location-icon {
    position: absolute;
    top: 53px;
    left: 8px;
    z-index: 100;
  }
}

.skill {
  margin-right: 10px;
  color: $color-white;
  padding: 2px 12px 2px 12px;
  border-radius: 25px;
  margin: 2px;
  border: 1px solid $color-white;
  font-size: 12.5px;
}

.skill:hover {
  background-color: $color-white;
  color: $color-caribbean-green;
  cursor: pointer;
}

.review-skill {
  margin-right: 10px;
  color: $color-white;
  padding: 2px 12px 2px 12px;
  border-radius: 25px;
  margin: 2px;
  border: 1px solid $color-white;
  font-size: 12.5px;
  cursor: default;
}

.your-skills-label {
  padding-top: 30px;
  color: $color-white;
  font-size: 12px;
  font-weight: 200;
}

.your-skills-list {
  padding-left: 30px;
  margin-top: -24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 50px 0px 50px;
}

.your-skills {
  margin-top: 30px;
  background-color: $color-black-10;
  padding-top: -30px;
  margin-left: -15px;
  margin-right: -24.5px;
  padding-left: 20px;
  padding-bottom: 30px;
}

.text-opacity {
  opacity: 0.7;
}

.final-edit {
  margin-top: 20px;
}

.left-input-column {
  float: left;
  width: 22.5%;
  font-size: 10px;
  color: $color-white;
  margin-top: 5px;
}
.right-input-column {
  float: right;
  width: 22.5%;
  margin-top: 3px;
}

.center-input-column {
  display:
  inline-block;
  width: 45%;
}

.center-input-column-scrollable {
  display:
  inline-block;
  width: 55%;
  max-height: 125px;
  overflow-y: scroll;
  padding-right: -100px;
}

.three-column-input {
  margin-left: 5%;
  width: 90%;
  margin-bottom: 8px;
}

.show-button {
  margin-left: 20px;
  color: $color-white;
  cursor: pointer;
}

.edit-button {
  float: right;
  color: $color-white;
  cursor: pointer;
  font-size: 14px;
}

.gray-text {
  color: $color-dove-gray-75;
}


.uploadWrapper {
  border: 3px dashed rgba(0, 196, 159, .5);
  width: 160px;
  height: 160px;
  border-radius: 160px;
  padding: 7px;
}

.avatar {
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  cursor: pointer;

  .upload-icon {
    margin: 0 auto;
    cursor: pointer;
    opacity: 0.5;
    font-size: 30px;
    color: $color-white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
}