$comment-left-margin: 35px;
$comment-row-padding: 25px;

.comment {
  padding: 0px $comment-row-padding;
  margin-bottom: 20px;
 }

.header {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 5px;

  div {
    height: 30px;
    width: 30px;
  }
}

.userName {
  composes: userName from 'components/PostCard/PostHeader/PostHeader.scss';
  margin-right: 7px;
}

.commented {
  composes: caption-lt-lg from 'css/typography.scss';
}

.upperRight {
  margin-left: auto;
}

.commentAction {
  display: inline-block;
  cursor: pointer;
  margin-right: 0.6em;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  padding: 3px 4px;

  &:hover {
    background: $color-picton-blue;
    [class^="icon-"], [class*=" icon-"] {
      color: $color-white;
    }
  }
}

.timestamp {
  composes: timestamp from 'css/typography.scss';
  margin-right: 10px;
}

.dropdown {
  > div {
    left: initial;
    right: 0;
  }
}

.cancelIcon {
  color: $color-amaranth;
}

.text {
  composes: bdy-lt-sm from 'css/typography.scss';
  margin-left: $comment-left-margin;

  strong {
    color: rgba(66, 94, 114, 1.0);
  }
}

.editing {
  composes: bdy-lt-sm from 'css/typography.scss';
  margin-left: $comment-left-margin;
  padding: 10px;
  border-radius: 0.5rem;
  border: 1px solid $color-cape-cod-10;
  overflow-y: auto;
  max-height: 200px;
}

.reply {
  composes: text-button from 'css/typography.scss';
  margin-bottom: 20px;
  &:hover {
    //hack to get the icon to change on hover
    .icon {
      color: $color-gossamer;
    }
  }
}

.more-wrap {
  margin-left: -25px; // offsets internal margin of ShowMore component
}

.imageLink {
  display: block;
  margin-left: 69px;
}

.images {
  display: flex;
  padding-top: 0px;
  margin-left: $comment-left-margin;
  width: 70%;
  margin-bottom: 0;
  border-radius: 20px;
}

.files {
  display: flex;
  margin-left: $comment-left-margin;
  padding-bottom: 0;
}

.replybox {
  margin-left: 33px;
}

.subreply {
    margin-left: 30px;
    margin-top: 15px;
}

@media screen and (max-width: 500px) {
  .comment {
    padding: 0 10px;
  }

  .avatar {
    margin-right: 10px;
  }

  .text {
    margin-left: 40px;
  }
}
