.subhead {
  composes: hdr-headline from 'css/typography.scss';
  margin: $space-8x 0 $space-6x 0;
}

.activity-item {
  margin: 20px 0;
  background-color: rgba(255,255,255,1);
  border-radius: 5px;
  box-shadow: 0 4px 10px rgb(35 65 90 / 20%);

  a:first-child {
    text-decoration: none;
  }
}
