.container {
  position: relative;
}
 
.pill {
  border: 2px solid $color-ghost;
  background: #FFF;
  font-size: 15px;
  font-family: 'Circular Medium';
  letter-spacing: 0.08em;
  color: $color-slate-gray-80;
  display: inline-block;
  padding: 5px 10px;
  margin: 10px 8px 0px 0px;
  border-radius: 20px;
  text-transform: uppercase;

  &.clickable {
    cursor: pointer;

    &:hover {
      color: $color-caribbean-green;
      border: 2px solid $color-caribbean-green;
    }
  }
}

.small {
  border-width: 1px;
  padding: 0 8px;
  height: 24px;
  line-height: 24px;
  font-size: 10px;
}
