// we use mixins here to get around the class selector limitation of 'composes'

@mixin badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: $color-white;
  background-color: $color-persimmon;
  font-weight: 600;
  vertical-align: middle;
  line-height: normal;
  text-align: center;
  position: relative;
  top: -13px;
  left: -1px;
  transition: 0.15s;
}

@mixin badgeNumber {
  display: inline;
  font-size: 12px;
  position: relative;
  right: 0.5px;
  top: -2px;
  transition: 0.15s;
}

.badgeWrapper {
  display: inline-block;
  width: 20px;
  height: 20px;
  // border: 1px solid black;
}

.badge {
  @include badge();
}

.badge-collapsed {
  composes: badge;
  width: 7px;
  height: 7px;
  position: relative;
  top: -13px;
  left: 5px;
}

.badgeNumber {
  @include badgeNumber();
}

.badgeNumber-collapsed {
  composes: badgeNumber;
  font-size: 0px;
  top: -13px;
}

.parent {
  /* empty */
}

.parent:hover .badge-collapsed {
  @include badge();
}

.parent:hover .badgeNumber-collapsed {
  @include badgeNumber();
  right: -0.5px;
}
