{
  "presets": [
    "react-app"
  ],
  "plugins": [
    [
      "react-css-modules",
      {
        "filetypes": {
          ".scss": "postcss-scss"
        },
        "exclude": "node_modules",
        "searchPaths": [
          "src"
        ],
        "webpackHotModuleReloading": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "data-stylename"
        ]
      ]
    }
  },
  "ignore": [
    "scripts/templates/*"
  ]
}
