# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
build-hc
es5
storybook-static

# local config
config/ssl

# misc
.DS_Store
.env
.env.old
.env.production
npm-debug.log

.vscode
.floo
.flooignore

yarn-error.log
.idea
yarn.lock
