# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
es5

# misc
.DS_Store
.env
.env.production
.env.old
npm-debug.log

.vscode
.floo
.flooignore

yarn-error.log
.idea
