.no-items {
  text-align: center;
  height: $messages-body-height;

  h3 {
    color: $color-dove-gray-50;
    font-size: 25px;
    margin-top: 25px;
    padding: 10px 30px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .image {
    background: no-repeat center;
    height: $messages-body-height;
    background-size: calc($messages-body-height/2);
  }
}
