.postCompletion {
  background-color: #F2F2F2;
  color: $color-regent;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 15px 0;
  padding: 15px;
  background: rgba(213, 236, 250, .3);
  border: 1px dashed rgba(213, 236, 250, 1);
  border-radius: 5px;

  div { line-height: 29px; }
}
