// Still used below for calculated-name-width
// this value is duplicated in src/routes/PrimaryLayout/PrimaryLayout.scss
$drawer-width: 367px;

$close-color: #98AFBE;
$close-offset-top: 27px;
$close-offset-right: 18px;
$close-dimension: 24px;

$current-avatar-size: 42px;
$current-avatar-border-radius: 8px;
$current-padding-top: 28px;
$current-padding-bottom: 20px;
$current-name-margin-top: 13px;

$ul-vertical-spacing: 10px;
$ul-horizontal-spacing: 14px;
$ul-network-community-indent: 25px;
$li-padding: 4px;
$li-spacing: 14px;
$li-height: 40px;
$li-avatar-size: 38px;

$badge-width: 20px;

$community-list-avatar-size: 28px;
$community-list-font-size: 13px;

$break-border: 1px solid rgba(255,255,255,0.11);

$new-community-width: 310px;
$new-community-vertical-margin: 15px;
$new-community-font-size: 14px;
$new-community-spacing: 16px;

.communityDrawer {
  background-image: linear-gradient(0deg, $color-rhino 0%, $color-chambray 100%);
}

.closeDrawer {
  color: $close-color;
  cursor: pointer;
  position: absolute;
  top: $close-offset-top;
  right: $close-offset-right;
  font-size: $close-dimension;
}

.currentCommunity {
  padding: $current-padding-top 0 $current-padding-bottom;
  text-align: center;

  .avatar {
    @include image($current-avatar-size);
    margin: 0 auto;
    border-radius: $current-avatar-border-radius;
  }

  .name {
    margin-top: $current-name-margin-top;
  }
}

.settingsLink {
  margin-bottom: 21px;
  @include font-regular;
  text-align: center;
  color: $color-white;
  font-size: 16px;
  &:hover {
    color: $color-white;
    text-decoration: none;
  }
}

.settingsIcon {
  font-size: 16px;
  color: $color-white;
  margin-right: 4px;
  &:hover {
    color: $color-white;
    text-decoration: none;
  }
}

.sectionTitle {
  padding-top: 5px;
  padding-left: $ul-horizontal-spacing;
  margin-bottom: 6px;
  margin: 15px 0 15px 0;
  text-transform: uppercase;
  font-size: 8pt;
  font-weight: 300;
  color: $color-white;
  opacity: 0.5;
  letter-spacing: 0.2px;
}

.sectionTitleSeparator {
  border-top: $break-border;
  padding-top: 20px;
}

.avatar {
  @include image($li-avatar-size);
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  margin-right: $li-spacing;
}

.communitiesList {
  padding: 0;
  border-top: $break-border;
  overflow-y: auto;
  li {
    list-style: none;
  }
}

.networkCommunitiesList {
  padding: 0;
  li {
    list-style: none;
  }
}

.communityRowAvatar {
  @include image($community-list-avatar-size);
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  margin-right: $li-spacing;
}

.communityRow {
  padding: 6px $ul-horizontal-spacing 6px 28px;
  &:hover {
    background: $color-black-10;
  }
}

.nonMember {
  color: $color-iceberg;
}

.communityRowLink {
  display: flex;
  align-items: center;
  &:hover {
    text-decoration: none;
  }
}

.seeAllBtn {
  font-size: 14px;
  cursor: pointer;
  padding: 6px $ul-horizontal-spacing 6px 28px;
  &:hover {
    background: $color-black-10;
  }
  color: $color-white;
  text-align: center;
}

.networkRow {
  padding: 6px 0;
  &:hover {
    background: $color-black-10;
  }
}

.networkRowLink {
  &:hover, &:visited, &:focus {
    text-decoration: none;
  }
  padding-right: 0 !important;
  li {
    list-style: none;
  }
}

.networkExpanded {
  background-color: $color-black-10;
}

.community-name, .network-name {
  composes: drawer-inv-li from 'css/typography.scss';
  flex: 2;
  vertical-align: middle;
  margin-right: $li-spacing;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.network-name-wrapper {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 5px 0px 5px 20px;
}

.network-name {
  font-weight: 600;
  opacity: unset;
}

.communitiesButton {
  width: 38px;
  height: 26px;
  border-left: 1px solid rgba(#FFF, 0.3);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.arrowDown {
  color: $color-white;
  &:hover, &:visited {
    text-decoration: none;
  }
}

.arrowForward {
  color: $color-white;
  font-size: 16px;
  &:hover, &:visited {
    text-decoration: none;
  }
}

.community-name {
  font-size: $community-list-font-size;
  opacity: 0.9;
}

.highlight {
  @include font-bold;
  color: $color-white;
}

.newCommunity {
  text-align: center;
  width: $new-community-width;
  margin: $new-community-vertical-margin auto;
  font-size: $new-community-font-size;
  padding: 0;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.05);
}
