.loader {
  height: $messages-body-height;

  .loader-image {
    background: no-repeat center;
    height: $messages-body-height;
    background-size: $messages-body-height/2;
  }
  .loader-animation {
    width: 39px;
    height: 20px;
    position: absolute;
    top: 162px;
    left: 177px;
  }
}
