.drawing-icon {
  font-size: 20px;
}
.trash-icon {
  font-size: 24px;
}
.circle-arrow-icon {
  font-size: 18px;
}

.mapbox-gl-draw_polygon {
  padding-top: 4px !important;
}
.mapbox-gl-draw_trash {
  padding-top: 2px !important;
}
.mapbox-gl-draw_reset {
  padding-top: 5px !important;
}

