:global .post-editor-enter, :global .post-editor-appear {
  .post-editor-background {
    opacity: 0;
  }

  .post-editor-wrapper {
    opacity: 0;
    transform: translate(0, -100px);
  }
}

:global .post-editor-enter.post-editor-enter-active, :global .post-editor-appear.post-editor-appear-active {
  .post-editor-background {
    opacity: 1;
    transition: opacity 200ms ease-out;
  }

  .post-editor-wrapper {
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 300ms ease-out, opacity 400ms ease-out;
  }
}

:global .post-editor-leave {
  .post-editor-background {
    opacity: 0;
  }

  .post-editor-wrapper {
    opacity: 1;
    transform: translate(0, 0);
  }
}

:global .post-editor-leave.post-editor-leave-active {
  .post-editor-background {
    opacity: 0;
    transition: opacity 300ms ease-out;
  }

  .post-editor-wrapper {
    opacity: 0;
    transform: translate(0, -100px);
    transition: transform 200ms ease-out, opacity 200ms ease-out;
  }
}

.post-editor-modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.4);
}

.post-editor-wrapper {
  position: relative;
  z-index: 1;
  width: $post-editor-width;
  margin: -($post-editor-height/2) auto 70px;
  top: 50%;
}
@media (max-width: $bp-small-screen) {
  .post-editor-wrapper {
    width: unset;
    top: 0px;
    height: 100%;
    margin: 0px;
  }
}
@media (max-height: 500px) {
  .post-editor-wrapper {
    width: unset;
    top: 0px;
    height: 100%;
    margin: 0px;
  }
}
