.groups {
  padding-right: 0;
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid $color-cape-cod-10;
  overflow: hidden;
  min-height: 40px;
  background-color: rgba(246, 247, 249, 1.0);
}

.constrained.groups {
}

.groupList {
  composes: timestamp from 'css/typography.scss';
  overflow: hidden;
  text-overflow: ellipsis;
}

.groupLink {
  color: $color-caribbean-green;
  font-size: 12px;
  &:hover {
    text-decoration: none;
    color: $color-gossamer;
  }
}

.bottomBorder {
}

.expanded {
  padding-top: 7px;
  width: 100%;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 8px;
}

.label {
  composes: timestamp from 'css/typography.scss';
}

.publicGroupIcon {
  color: $color-caribbean-green;
  padding-left: 3px;
  font-size: 14px;
  top: 2px;
}

.expandLink {
  margin-left: auto;
  margin-right: 22px;
  display: flex;
  align-items: center;
}

.expandIcon {
  composes: timestamp from 'css/typography.scss';
  font-size: 20px;
}

.expandedSection {
  width: 100%;
  padding-bottom: 10px;
}

.groupRow {
  display: flex;
  margin-bottom: 5px;
}

.groupCell {
  flex: 1;
  &:hover {
    text-decoration: none;
  }
}

.groupCellAvatar {
  @include image(20px);
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  margin-right: 10px;
}

.groupCellName {
  composes: text-button from 'css/typography.scss';
  font-size: 12px;
}

@media screen and (max-width: 325px) {

  .groupList {
    overflow: hidden;
    display: block;
    height: 20px;
    text-overflow: ellipsis;
    line-height: 20px;
    padding-left: 5px;
  }

  .label {
    text-align: right;
  }

}
