.welcome-widget {
  box-shadow: 0px 4px 15px rgba(41, 64, 90, .2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  margin: 0 15px 0 15px;
  padding: 10px 15px 15px 15px;
  text-align: left;

  h2 {
    color: rgba(41, 64, 90, 1.00);
    font-size: 18px;
    margin-bottom: 8px;
  }

  p {
    color: rgba(128, 140, 156, 1.00);
    font-size: 14px;
    margin-bottom: 0;
    line-height: 24px;
    letter-spacing: -0.3px;
  }
}

@media screen and (max-width: 425px) {
  .welcome-widget {
    h2 {
      font-size: 16px;
    }

    p {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
