.header {
  padding: 0px 15px;
  margin-bottom: 30px;
}

.headerMainRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.authorName {
  /* !empty */
}

.avatar {
  margin-right: 10px;
}

.headerText {
  display: inline-block;
  position: relative;
  top: 1px;
  line-height: 15px;
}

.userName {
  // Extract typography?
  @include font-bold;
  color: $color-rhino-80;
  font-size: 14px;
  &:hover {
    color: $color-rhino;
    text-decoration: none;
  }
}

.userTitle {
  // Extract typography? this one is very close to bdy-drk-sm
  @include font-regular;
  color: $color-rhino-80;
  font-size: 14px;
}

.date {
  line-height: 12px;
}

.spacer {
  composes: timestamp from 'css/typography.scss';
  margin: 0 7px;
  font-size: 8px;
  position: relative;
  top: -2px;
}

.announcementSpacer {
  composes: timestamp from 'css/typography.scss';
  margin: 0 7px;
  font-size: 8px;
  position: relative;
  top: -6px;
}

.timestampRow {
  align-items: center;
  display: flex;
}

.timestamp {
  composes: timestamp from 'css/typography.scss';
}

.context {
  // Extract typography?
  @include font-regular;
  color: $color-caribbean-green;
  font-size: 12px;
  &:hover {
    color: $color-gossamer;
    text-decoration: none;
  }
}

.upperRight {
  margin-left: auto;
  display: flex;
  vertical-align: top;
  justify-content: right;
  align-items: baseline;
}

.pinIcon {
  top: 1px;
  margin-right: 12px;
  font-size: 24px;
}

.announcementIcon {
  top: 1px;
  margin-right: -3px;
  margin-left: -4px;
  font-size: 24px;
  color: $color-caribbean-green;
}

.announcementSection {
  margin-top: -2px;
}

.label {
  margin-right: 20px;
  // TODO remove this positioning. Only necessary because of Dropdown breaking layout
  position: relative;
  top: -3px;
}

.menuLink:hover {
  text-decoration: none;
}

.menuLink:hover > span {
  color: $color-rhino-80;
}

.close {
  display: inline-block;
  cursor: pointer;
  position: relative;
  top: 2px;
}

.topicsLine {
  composes: text-button from 'css/typography.scss';
  font-size: 12px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 220px;
}

.topic {
  composes: text-button from 'css/typography.scss';
  font-size: 12px;
  margin-right: 10px;
}

.newLineForTopics {
  overflow: initial;
  text-overflow: initial;
  margin-left: 10px;
  margin-top: 10px;
  width: 450px;
}
