// NotificationsDropdown

.header-content {
  composes: header-content from '../TopNavDropdown/TopNavDropdown.scss';
}

.tab {
  composes: header-link from '../TopNavDropdown/TopNavDropdown.scss';
  margin-right: 15px;
}

.active {
  color: $color-rhino;
  border-bottom: 2px solid $color-rhino;
  position: relative;
  top: 4px;
  padding: 0 4px 7px 4px;
  margin: 0 11px 0 -4px;
  &:hover {
    color: $color-rhino-80;
    border-bottom: 2px solid $color-rhino-80;
  }
}

.mark-read {
  composes: header-link from '../TopNavDropdown/TopNavDropdown.scss';
  margin-left: auto;
}

.notifications {
  composes: body from '../TopNavDropdown/TopNavDropdown.scss';
}

.notification {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  border-bottom: 1px solid $color-black-squeeze;

  &:first-child {
    margin-top: 5px;
  }
  &:last-child {
    .message-content {
      border: none;
    }
  }
}

.image-wraper {
  margin: 0 10px 0 15px;
  padding-top: 20px;
}

.date {
  composes: caption-lt-lg from 'css/typography.scss';
  color: $color-slate-gray-80;
  font-size: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 15px 15px 0;
}

// NotificationHeader

.header {
  composes: caption-lt-lg from 'css/typography.scss';
  margin-bottom: 5px;
  color: $color-rhino-60;;
}

.bold {
  @include font-bold;
}

// NotificationBody

.body {
  composes: caption-lt-lg from 'css/typography.scss';
  color: $color-rhino-60;
}

.unread {
  background-color: rgba(42, 201, 167, .1);

  .body {
    color: $color-rhino;
  }

  .header {
    color: $color-rhino;
    @include font-bold;
  }
}

