.badgeWrapper {
  display: inline-block;
  width: 9px;
  height: 9px;
  position: absolute;
  right: -2px;
}

.badge {
  display: inline-block;
  width: 9px;
  height: 9px;
  position: relative;
  top: -10px;
  background-color: $color-persimmon;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: $color-white;
  transition-delay: 0.5s;
  transition-duration: 0.25s;
}

.badgeNumber {
  color: white;
}

.green {
  border-color: $color-iceberg;
}

.badge-hidden {
  composes: badge;
  width: 0px;
  height: 0px;
  border-width: 0px;
  transition-delay: 0.0s;
  transition-duration: 0.0s;
  top: -15px;
  right: -4px;
}
