.bar {
  width: 100%;
  padding: 0 $space-4x;
  display: flex;
  align-content: stretch;
  height: $space-7x;
  margin-bottom: $space-3x;
}

.tabs {
  flex-grow: 1;
  > span {
    cursor: pointer;
  }
}

.tab {
  composes: caption-lt-lg from 'css/typography.scss';
  padding: 0 15px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
}

.tab-active {
  composes: tab;
  // TODO: extract typography? 1px from .HDR-MINOR
  @include font-bold;
  color: $color-rhino;
  font-size: 15px;
  background-color: $color-cape-cod-05;
  border-radius: 4px;
}

.sorter {
  font-size: 14px;
}

.sorter-label {
  line-height: 28px;
  composes: caption-lt-lg from 'css/typography.scss';
  > span {
    vertical-align: middle;
    margin-left: $space-1x;
  }
}
