$size-sidebar-width: 10rem;

.left-sidebar {
  width: $size-sidebar-width;
  padding-top: 220px;
  padding-right: 32px;
  border-right: 1px solid $color-cape-cod-10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.nav-link {
  margin-bottom: 8px;
  @include font-regular;
  font-size: 17px;
  color: $color-rhino-30;
  text-decoration: none;
  &:hover, &:visited {
    color: $color-rhino;
  }
  &:hover, &:visited, &:active, &:link {
    text-decoration: none;
  }
}

.active {
  color: $color-rhino;
}

.center {
  width: $center-column-width;
  padding: 72px 94px;
  overflow-y: auto;
}

.right-sidebar {
  width: $size-sidebar-width;
}

// CloseButton
.close-button {
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  top: 15px;
  left: 254px;
  background-color: $color-athens-gray-medium;
  cursor: pointer;
}

.icon {
  font-size: 30px;
  position: relative;
  top: 7px;
  color: $color-rhino;
}
