.FeedList-container {
  position: relative;
}

.FeedListItems {
  margin: 0 auto;
  overflow: auto; // prevent margin collapse
}

.FeedListItem {
  margin: 0 $space-4x $space-6x;
}

.expanded {
  margin: 0 $space-2x $space-6x;
}

.tabbar-sticky {
  position: absolute;
  z-index: 22;
  width: 100%;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.9) 55%, rgba(255, 255, 255, 0));
}
