:global .ProseMirror:focus {
  outline: none;
}

.topMenuBar,
.bottomMenuBar {
  background-color: whitesmoke;
  border: solid 1px gainsboro;
  line-height: 1em;
  button {
    background-color: none;
    margin: 0;
    background: none;
    border: 0;
    color: gray;
    font-size: 14px;
  }
  .divider {
    display: inline-block;
    background-color: #0000001a;
    height: 1.25rem;
    margin-left: .5rem;
    margin-right: .75rem;
    width: 2px;
  }
}

