.community {
  //
}

.communityDetailHeader {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 244px;
  width: 100%;
}

.communityTitleContainer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.communityTitle {
  color: $color-white;
  font-size: 24px;
  font-weight: bold;
  margin-left: 15px;
}

.close {
  background-color: $color-white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 3px;
  position: absolute;
  top: 15px;
  right: 25px;
  width: 30px;
  z-index: 2;
}

.communityDetailBody {
  padding: 25px 30px;
}

.communityDescription {
  color: $color-regent;
  font-size: 16px;
}

.communityTopics {
  margin: 25px 0;
}

.communitySubtitle {
  color: $color-loblolly;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 10px;
}

.communityDetails {
  display: flex;
  margin-bottom: 20px;
}

.detailContainer {
  margin-right: 15px;
}

.detail {
  border: 1px solid $color-athens-gray-dark;
  border-radius: 2px;
  color: $color-regent;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 20px;
}

.detailText {
  margin-left: 10px;
}

.avatarContainer {
  color: $color-regent;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.avatar {
  margin-right: 10px;
}

.requestBar {
  background-color: $color-white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid $color-athens-gray-dark;
  border-radius: 5px;
  color: $color-regent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: sticky;
  bottom: -120px;
  right: 2%;
  z-index: 5;
}

.requestOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.requestHint {
  font-size: 14px;
}

.requestButton {
  background-color: $color-picton-blue;
  border-radius: 15px;
  color: $color-white;
  cursor: pointer;
  font-size: 14px;
  margin: 0 15px;
  padding: 5px 15px;

  &:hover {
    text-decoration: none;
    color: $color-white;
  }
}

.requestCommunity {
  font-weight: bold;
}
