.button {
  cursor: pointer;
  &:hover {
    .icon {
      opacity: 0.85;
    }
  }
}

.icon {
  cursor: pointer;
  opacity: 0.5;
  font-size: 30px;
  color: $color-white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
