.container {
  /* empty */
  padding-left: 55px;
  position: relative;

  .action-bar {
    display: none;
    position: absolute;
    right: 5px;
    top: -15px;

    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(42, 64, 89, 0.3);
    border-radius: 30px;

    .action-item {
      color: gray;
      border: 0;
      background: white;
      display: inline-block;
      cursor: pointer;
      user-select: none;
      padding: 3px 8px;

      span {
        vertical-align: middle;
      }

      &:focus {
        outline: 0;
      }

      &:hover {
        background: lightgray;
      }
    }
  }

  &:hover {
    background: #efefef;
    cursor: pointer;

    .action-bar {
      display: block;
    }
  }

  p:last-child {
    margin-bottom: 5px;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    margin-bottom: -10px;

    .author {
      position: relative;

      .name {
        white-space: nowrap;
        margin-left: 22px;
        position: relative;
        font-size: 17px;
        font-family: "Circular Bold";
        color: #2A4059;
        top: 9px;
      }
    }

    .date {
      opacity: .3;
      font-size: 12px;
      position: relative;
      top: 12px;
      margin-right: 20px;
    }
  }
}

.cardPadding {
  padding: 0px 10px;
}

.avatar {
  margin-left: -30px;
  float: left;
}

.body {
  margin-bottom: 36px;
}

.smallMargin {
  margin-bottom: 12px;
}

.title {
  composes: cardPadding;
  margin-bottom: 12px;
}

.details {
  composes: cardPadding;
  // Extract typography? This one is exactly half way between
  // BDY-LT-LG and BDY-LT-SM
  @include font-regular;
  color: rgba(44, 64, 89, 0.7);
  font-size: 16px;
  line-height: 24px;
  margin-left: 10px;

  h1, h2, h3 {
    font-family: 'Circular Bold';
    color: rgba(35, 65, 91, 1.0);
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  h3, h4, h5 {
    font-size: 16px;
  }
}

.images {
  width: 100%;
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
  margin-left: 20px;
}

.images-inner {
  display: flex;
  flex-direction: row;
  //margin-left: auto;
}

.image {
  display: block;
  > div {
    width: 80px;
    height: 80px;
    border-radius: 3px;
    margin-right: 20px;
    background-size: cover;
    border: 1px solid $color-cape-cod-10;
    box-shadow: 0px 4px 10px rgba(42, 64, 89, 0.3);

    &:hover {
      filter: brightness(110%);
    }
  }
}

.link-preview {
  margin: 0 1.25rem .5rem 1.25rem;
}

.emojis {
  margin-left: 18px;
  margin-top: -8px;
}

.noEmojis {
  display: none;
  // position: absolute;
  // right: 5px;
  // top: 6px;
}


.comments-container {
  margin-left: 15px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.commenters {
  margin-right: 4px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}

.comments-caption {
  composes: caption-lt-lg from 'css/typography.scss';
}

@media screen and (max-width: 425px) {
  .details.cardPadding {
    padding: 0 5px;
    margin: 0;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .details {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 375px) {
  .details {
    font-size: 12px;
    line-height: 16px;
  }
}
