.multi-select {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item {
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include font-regular;
  font-size: 14px;
}

.item.selected {
  background-color: #f0f0f0;
}

.show-more {
  cursor: pointer;
  text-align: center;
  color: $color-caribbean-green;
  border-top: 2px dashed #ccc;
}

.item {
  // position: relative;

  // h3 {
  //   font-size: 16px;
  //   margin-bottom: 0px;
  // }

  // p {
  //   font-size: 14px;
  // }

  // .agreement-description {
  //   opacity: .7;
  // }

  &.border-bottom {
    border-bottom: 1px dashed rgba(205, 209, 213, 1.0);
    margin-bottom: 15px;
  }
}
