$about-height: 116px;

// GroupSidebar
.group-sidebar::-webkit-scrollbar {
  background-color:transparent;
  width: 5px;
  border-radius: 5px;
}

.group-sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(200,200,200,.5   );
  outline: none;
  border-radius: 3px;
}

.group-sidebar {
  padding: 25px 0;
  overflow: scroll;
  height: 100vh;
}

// AboutSection

.about-section {
  margin-top: $space-3x;
  margin-bottom: $space-7x;
}

.header {
  composes: bdy-drk-lg from 'css/typography.scss';
  margin-bottom: $space-1x;
}

.description {
  composes: caption-lt-lg from 'css/typography.scss';
  height: $about-height;
  overflow: hidden;
  margin-top: $space-3x;
  margin-bottom: 5px;
}

.gradient {
  position: absolute;
  background-image: linear-gradient(0, white, rgba(255,255,255,0) 50%, rgba(255,255,255,0));
  height: $about-height;
  width: 100%;
}

.expanded {
  height: auto;
}

.expand-button {
  composes: text-button from 'css/typography.scss';
}

// SettingsLink

.settings-link {
  display: block;
  margin-bottom: 20px;
  composes: text-button from 'css/typography.scss';
}

// MemberSection

.member-section {
  margin-bottom: $space-10x;
}

.members-link {
  &:hover {
    text-decoration: none;
    .header {
      color: $color-rhino;
    }
    .members-total {
      color: $color-gossamer;
    }
  }
}

.images-and-count {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.image-row {
  display: inline-block;
  margin-right: $space-2x;
}

.members-total {
  composes: text-button from 'css/typography.scss';
  &:hover {
    cursor: default;
  }
}

.invite-link {
  /* empty */
}

// GroupLeaderSection

.leader-section {
  /* empty */
}

.leader-header {
  margin-bottom: $space-2x;
}

// GroupLeader

.leader {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.leader-image {
  margin-right: $space-4x;
}

.leader-name {
  composes: bdy-lt-sm from 'css/typography.scss';
  font-size: 16px;
  &:hover {
    color: $color-rhino-80;
    text-decoration: none;
  }
}
