$dropdown-border-color: rgba(49, 72, 67, 0.11);
$dropdown-width: 375px;

.backdrop {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: transparent;
  z-index: 51;
}

.wrapper {
  display: none;
  position: fixed;
  top: 80px;
  right: 15px;
  background-color: $color-white;
  border: 1px solid $dropdown-border-color;
  border-radius: 4px;
  width: $dropdown-width;
  box-shadow: 11px 12px 26px 0px rgba(#dcdcdc, 0.6);
  &.active {
    display: block;
    z-index: 52;
  }
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.triangle {
  min-width: 0 !important;
  @include is-top-triangle(#fff, $dropdown-border-color, 14px);
  left: auto;
}

.header {
  display: flex;
  align-items: center;
  height: 38px;
  padding: 0 15px;
  composes: bdy-lt-sm from 'css/typography.scss';
  box-shadow: 0px 4px 16px 0px rgba(#dcdcdc, 0.6);
}

// used by consumers (eg MessagesDropdown)

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 10;
}

.header-link {
  composes: bdy-lt-sm from 'css/typography.scss';
  &:hover {
    color: $color-rhino-80;
    text-decoration: none;
  }
}

.body {
  height: $messages-body-height;
  overflow: auto;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animateFadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}


@media screen and (max-width: 600px) {
  .wrapper {
    top: initial;
    bottom: 80px;
  }

  .triangle {
    top: initial;
    bottom: -14px;
    z-index: 0;
  }

  .body {
    position: relative;
    z-index: 1;
    background-color: rgba(255,255,255,1);
  }
}

@media screen and (max-width: 425px) {
  .wrapper {
    width: 90%;
  }
}
