$dropdown-border-color: rgba(49, 72, 67, 0.11);
$dropdown-width: 375px;

.top-nav-dropdown {
  position: relative;
  display: inline-block;
}

.wrapper {
  display: none;
  position: fixed;
  background-color: $color-white;
  border: 1px solid $dropdown-border-color;
  border-radius: 4px;
  width: $dropdown-width;
  box-shadow: 11px 12px 26px 0px rgba(#dcdcdc, 0.6);
  &.active {
    display: block;
  }
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.triangle {
  min-width: 0 !important;
  @include is-top-triangle(#fff, $dropdown-border-color, 14px);
}

.header {
  display: flex;
  align-items: center;
  height: 38px;
  padding: 0 15px;
  composes: bdy-lt-sm from 'css/typography.scss';
  box-shadow: 0px 4px 16px 0px rgba(#dcdcdc, 0.6);
}

// used by consumers (eg MessagesDropdown)

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 10;
}

.header-link {
  composes: bdy-lt-sm from 'css/typography.scss';
  &:hover {
    color: $color-rhino-80;
    text-decoration: none;
  }
}

.body {
  height: 420px;
  overflow: scroll;
}
