.opportunities-to-collaborate-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.collab-item {
  width: 90%;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
}

.collab-text-container {
  width: 100%;
  text-align: start;
  height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; 
}

.collab-title {
  font-size: 14px;
  font-weight: 700;
  color: $color-member;
  text-overflow: ellipsis;
}

.collab-text {
  font-size: 12px;
  color: $color-regent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; 
}

.collab-icon {
  font-size: 24px;
}
