// Footer Height
$footer-height: 56px;

.footer {
  padding-left: $space-4x;
  padding-right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: $footer-height;
  border-top: 1px solid $color-cape-cod-10;
  border-bottom: 1px solid $color-cape-cod-10;
  overflow: hidden;
}


.footer.constrained {
  padding-left: 5px;
  height: 46px;
}

.icon-links{
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.icon {
  width:30px;
  height:30px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
}


.people {
  margin-right: 10px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}

.caption {
  composes: caption-lt-lg from 'css/typography.scss';
}

.footer.constrained .caption {
  font-size: 10px;
  line-height: 12px;
}

.footer.constrained .people {
  margin-right: 5px;
}

.share {
  margin-left: auto;
  width: $footer-height;
  height: $footer-height;
  line-height: $footer-height;
  text-align: center;
  border-left: 1px solid $color-cape-cod-10;
}

.arrowIcon {
  position: relative;
  top: 5px;
  margin-right: 8px;
  margin-left: -3px;
  color: $color-caribbean-green;
}

.vote-button {
  composes: text-button from 'css/typography.scss';
  color: $color-caribbean-green !important;
  margin-left: auto;
  height: $footer-height;
  line-height: $footer-height;
  text-align: center;
  border-left: 1px solid $color-cape-cod-10;
  border-bottom-right-radius: 4px;
  width: 90px;

  &:hover {
    &, .arrowIcon {
      color: $color-gossamer !important;
    }
  }

  &.voted {
    background-color: $color-caribbean-green;
    color: white;
    &, .arrowIcon {
      color: white !important;
    }
  }
}

.constrainend.vote-button {
  width: 66px;
}

@media screen and (max-width: 425px) {
  .footer {
    height: 40px;
    padding-left: 10px;
  }

  .vote-button {
    width: 70px;
  }

  .people {
    margin-right: 10px;
  }
}
