$preview-image-dimension: $space-20x;

.container {
  display: flex;
  flex-direction: column;
  margin-left: $space-14x;
  margin-right: $space-5x;
  margin-top: $space-2x;
  margin-bottom: $space-2x;
  background-color: $color-athens-gray;
  border: 1px solid $color-athens-gray-dark;
}

.link-preview {
  display: flex;
  padding: 0.6em;
}

.image {
  margin-right: 12px;
  width: $preview-image-dimension;
  height: $preview-image-dimension;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  &:has(.feature-button) {
    .feature-button {
      display: none;
    }
    &:hover {
      box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
      transition: box-shadow 0.1s ease-in-out;
      .feature-button {
        display: initial;
        transition: display 0.2s ease-in-out;
        color: ghostwhite;
        width: 100%;
        height: 100%;
        padding: 30px;
      }
    }
  }
}

.feature-button {
  text-align: right;
  color: $color-rhino-60;
  font-size: 14px;
  border-radius: 0.1em;
  color: $color-caribbean-green;
  cursor: pointer;
}

.featured:not(.feature-button) {
  display: flex;
  align-items: center;
  font-size: 0.75em;
  border-radius: 0.5em 0.5em 0 0;
  padding: 0.5em;
  background-color: $color-regent;
  color: white;
}

.header {
  display: flex;
}

.close {
  margin-left: auto;
  cursor: pointer;
}

.icon {
  font-size: 18px;
}

.text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  composes: title from 'components/LinkPreview/LinkPreview.scss';
}

.description {
  composes: description from 'components/LinkPreview/LinkPreview.scss';
}

.domain {
  composes: domain from 'components/LinkPreview/LinkPreview.scss';
}