.link-preview {
  display: flex;
  padding: $space-5x;
}

.image {
  margin-right: 16px;
  width: 96px;
  height: 96px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
}

.text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
}

.title {
  composes: hdr-subheadline from 'css/typography.scss';
}

.close {
  margin-left: auto;
  cursor: pointer;
}

.icon {
  font-size: 18px;
}

.description {
  composes: caption-lt-lg from 'css/typography.scss';

}
