// SocialControl
.control {
  composes: control from 'components/SettingsControl/SettingsControl.module.scss';
}

.linkedIcon {
  color: rgba(13, 195, 159, 1.000);
}

.social-control-label {
  composes: control-input from 'components/SettingsControl/SettingsControl.module.scss';
  display: flex;
  align-items: center;
}

.link-button {
  composes: text-button from 'css/typography.scss';
  margin-left: auto;
}

@media screen and (max-width: 425px) {
  .save-button {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .saveChanges {
    span {
      padding: 0;
      font-size: 12px;
      line-height: 12px;
    }
  }
  .save-button {
    font-size: 12px;
  }
}
