.people-container {
  display: flex;
  align-items: center;
}

.people {
  margin-right: 4px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}

.caption {
  composes: caption-lt-lg from 'css/typography.scss';
}

.constrained .caption {
  font-size: 10px;
  line-height: 12px;
}

.constrained .people {
  margin-right: 5px;
}
