.tag-pill{
  font-family: Circular Std;
  text-transform: none;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 2px;
  font-size: 1em;
  cursor: pointer;
  padding: 4px 6px;
}

.selected {
  background-color: #e5f3f9;
}

.pill-tooltip {
  white-space: pre-line  !important;
}
