.container {
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 20px;
  background: white;
  width: 400px;
  overflow-y: auto;
  overflow-x: hidden;

  h1 {
    text-align: center;
  }
}

.postCard {
  position: relative;
  margin: 12px;
}