.hashtagSuggestions {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 2px;
  box-shadow: 0 4px 30px 0 rgba(220, 220, 220, 1);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 1.75em;
  max-width: 440px;
  min-width: 220px;
  position: fixed;
  transform: scale(0);
  z-index: 2;
}
