.control {
  margin-bottom: $space-2x;
  padding-bottom: $space-2x;
  border-bottom: 1px solid $color-ghost;
  &.error {
    border-bottom: 1px solid red;
  }
}

.control-label {
  display: block;
  composes: tag from 'css/typography.scss';
  color: $color-rhino-30;
  margin-bottom: $space-1x;
  &.error {
    color: red;
  }
}

.control-input {
  width: 100%;
  border: none;
  composes: bdy-drk-sm from 'css/typography.scss';
  font-size: 16px;
  resize: none;
  &:focus {
    outline: none;
  }
}

input::placeholder {
  color: $color-rhino-30;
}

textarea.control-input {
  resize: vertical;
  height: $space-20x;
}

@media screen and (max-width: 320px) {
  .control-input {
    font-size: 14px;
    line-height: 18px;
  }
}
