.control {
  margin-bottom: $space-4x;
  border-bottom: 1px solid $color-ghost;
}

.control-label {
  display: block;
  composes: tag from 'css/typography.scss';
  color: $color-rhino-30;
  margin-bottom: $space-1x;
}

.control-input {
  width: 100%;
  border: none;
  composes: bdy-drk-sm from 'css/typography.scss';
  font-size: 16px;
  padding-bottom: $space-2x;
  resize: none;
  &:focus {
    outline: none;
  }
}

textarea.control-input {
  resize: vertical;
  height: $space-20x;
}
