.title {
  min-height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 25px;
  composes: hdr-display from 'css/typography.scss';
  background-color: $color-catskill-white;
  border: none;
  width: 100%;
}

.description {
  color: $color-regent;
  margin-bottom: 30px;
}

.subhead {
  text-transform: uppercase;
  color: $color-rhino-30;
  font-size: $space-3x;
  padding-top: $space-3x;
  margin-top: $space-3x;
  margin-bottom: $space-3x;
}
