.modal {
  composes: modal from 'css/layout.scss';
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  background: $color-white;
  border-radius: $space-1x;
  height: inherit;
}

.sidebar {
  flex: 0.2;
  margin-left: 24px;
  margin-top: 16px;
  margin-right: 30px;
  height: inherit;
}

.panel {
  height: inherit;
  flex: 0.8;
  padding-left: 16px;
  padding-top: 16px;
  border-top-right-radius: $space-1x;
  border-bottom-right-radius: $space-1x;
  background-color: $color-caribbean-green;
  padding-right: 24px;
}

.center {
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-count {
  float: right;
  letter-spacing: 1px;
  font-size: 10px;
  padding-right: 25px;
  color: $color-white;
}

.logo {
  @include image(67.5px);
  border-radius: 4px;
  margin-top: 30px;
}

.center-vertically {
  position: absolute;
  top: 42%;
  width: 68%;
}

.center-review {
  position: absolute;
  top: 30%;
  width: 68%;
}

.text-input-label {
  padding-left:5%;
  letter-spacing: 1px;
  font-size: 10px;
  color: $color-white-60;
}

.review-input-text-row {
  margin-left: 5%;
  width: 90%;
  margin-bottom: 30px;
  border-bottom: 1px solid $color-athens-gray-dark-50;
}

.gray-bottom-border {
  border-bottom: 1px solid $color-athens-gray-dark-50;
}

.review-input-text-label {
  float: left;
  width: 12.5%;
  font-size: 10px;
  color: $color-white;
  margin-top: 5px;
  opacity: 0.7;
}

.review-input-text {
  display:
  inline-block;
  width: 65%;
}

.review-input-edit {
  float: right;
  width: 12.5%;
  margin-top: 3px;
}

.signup-input {
  background-color: transparent;
  border: none;
  width: 100%;
  color: $color-white;
  font-weight: lighter;
}

.signup-input::placeholder {
  color: $color-white;
}

.signup-input:focus {
    outline: none;
}

.edit-button {
  float: right;
  color: $color-white;
  cursor: pointer;
  font-size: 14px;
  opacity: 0.7;
}

.privacy-label {
  color: $color-white;
  font-size: 24px;
  font-weight: 100;
  font-family: sans-serif;
}

.privacy-label-row {
  margin-top: 1px;
  border-bottom: 1px solid $color-athens-gray-dark-50;
  margin-left: 3.4%;
  width: 68%;
  font-weight: 100;
}

.privacy-input-label {
  letter-spacing: 1px;
  font-size: 10px;
  color: $color-white-60;
}

.privacy-dropdown {
  display: inline;
  margin-left: 10px;
  color: $color-white;
  font-size: 24px;
  font-family: sans-serif;
}

.search-sorter-label {
  font-size: 15px;
  line-height: 28px;
  > span {
    vertical-align: middle;
    margin-left: $space-1x;
  }
}

.error {
  position: absolute;
  top: 128%;
  width: 40%;
  margin-left: 5%;
  padding: 8px;
  border-radius: 25px;
  background-color: $color-white;
  color: red;
  text-align: center;
  font-size: 12px;
}

.arrow-up {
  position: absolute;
  top: 120%;
  width: 40%;
  margin-left: 15%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $color-white;
}

.review-error {
  position: absolute;
  top: 75%;
  width: 40%;
  margin-left: 5%;
  padding: 8px;
  border-radius: 25px;
  background-color: $color-white;
  color: red;
  text-align: center;
  font-size: 12px;
  width: 300px;
}

.review-arrow-up {
  position: absolute;
  top: 74.25%;
  width: 40%;
  margin-left: 200px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $color-white;
}


@media screen and (max-width: 700px) {

  .flex-wrapper {
    flex-direction: column;
  }

  .logo {
    display: none;
  }

  .center-vertically {
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  .panel {
    position: relative;
  }

  .center-review {
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  .review-input-text {
    padding-left: 10px;
  }

  .review-input-text-label {
    line-height: 10px;
    top: 3px;
    position: relative;
  }

  .panel {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex: unset;
    height: calc(100% - 140px);
  }
}

@media screen and (max-width: 700px) {
  .center-vertically, .center-review {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .review-input-text-label {
    text-align: right;
    min-width: 60px;
  }
}