.group-search-view-ctrls {
  padding: 8px 20px 0 20px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  top: 0;
  z-index: 10;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.filter-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border-radius: 5px;
  gap: 8px;
  padding: 20px;
  margin: 10px 20px 0 20px;
  background-color: rgba(242, 244, 245, 1.000);
}

.dropdown {
  height: 40px;
  line-height: 40px;
  color: $color-regent;
  padding: 0 12px;
  font-size: 12px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  border: solid rgba(224, 229, 233, 1.000) 1px;
}

.filter-dropdown {
  width: 80%;
}

.dropdown-label {
  line-height: 40px;
  position: relative;
  top: -0.15em;

  span { // icon positioning
    top: 7px;
    margin-left: 0.25em;
  }
}

.filter-container{
  display: flex;
  cursor: pointer;
  user-select: none;
  background-color: rgba(242, 244, 245, 1.000);
  color: rgba(35, 64, 91, 1.000);
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  border-radius: 5px;

  span {
    line-height: 40px;
    font-size: 16px;
  }

  b {
    color: rgba(125, 140, 157, 1.000);
  }
}

.filter-container.filter-open {
  height: 60px;
  margin-bottom: -20px;

  .filter-open {
    color: rgba(0, 199, 157, 1.000);
  }
}

.filter-icon {
  width: 30px;
  color: inherit;
  display: block;
  margin: 0 auto;
}

.filter-open{
  color: $color-caribbean-green;
}

.filter-dropdown-label {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  position: relative;

  span {
    line-height: 40px;
  }
}

.group-search-items {
  margin: 20px auto 0px auto;
  overflow: visible;
}

.card-item {
  margin: 0 $space-4x $space-6x;
}
.expanded {
  margin: 0 $space-2x $space-6x;
}

.search-input {
  padding: 20px 15px;
  position: relative;

  input {
    width: 100%;
    padding-left: 40px;
    border: none;
    height: 50px;

    &:focus {
      outline: 1px solid rgba(0, 199, 157, 1.000);
    }
  }

  .search-icon {
    position: absolute;
    top: 33px;
    left: 25px;
    color: rgba(125, 140, 157, 1.000);
  }
}

.searchBox {
  width: 100%;
  padding: 2px 10px;
  font-size: 14px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0px 4px 15px 0px $color-black-30;
  border: 1px solid rgba(203, 208, 212, .95);
}

.remove-button {
  color: $color-rhino;
  // background-color: $color-rhino;
  font-size: 16px;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  margin-left: 12px;
}

.no-more-results {
  font-family: Circular Std;
  text-transform: none;
  font-style: bold;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .group-search-view-ctrls {
    height: auto;
    padding: 10px 5px;
  }

  .dropdown {
    margin-right: 5px;
  }

  .dropdown-label span {
    margin-right: 0;
  }
  .card-item {
    margin: 0 5px 10px 5px;
  }
}
