// Search
.search {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0 !important;
}

.search-results {
  flex: 1;
  overflow-y: auto;
  padding: 20px 10px 32px 10px;
}

.search-results::-webkit-scrollbar {
  background-color:transparent;
  width: 5px;
  border-radius: 5px;
}

.search-results::-webkit-scrollbar-thumb {
  background-color: rgba(200,200,200,.5   );
  outline: none;
  border-radius: 3px;
}


// Highlight
.highlight {
  background-color: $color-caribbean-green-20;
}

// SearchBar
.search-bar {
  align-items: center;
  margin-top: -40px;
}

// TextInput Theme
.wrapper {
  flex: 1;
  border: none;
  padding: none;
  z-index: 50;
  height: auto;
}

.input {
  display: flex;
  border-radius: 4px;
  width: 100%;
  min-height: 56px;
  background-color: $color-white;
  box-shadow: 0px 15px 20px 0px rgb(44 64 89 / 20%);
  border-radius: 4px;
  border-top: 1px solid rgba(222, 224, 228, 0.6);
  border-bottom: 2px solid rgba(38, 68, 93, .45);
  border-right: 1px solid rgba(38, 68, 93, .15);
  border-left: 4px solid rgba(0, 118, 223, 1.0);
  color: $color-rhino-80;
  font-size: 16px;

  &:focus {
    margin: -1px -2px -2px -2px;
    box-shadow: 0px 15px 25px 0px rgb(44 64 89 / 10%);
    border-top: 1px solid rgba(0, 199, 157, 1.0);
    transition: all .25s ease;
    border-left: 4px solid rgba(0, 199, 157, 1.0);
    border-bottom: 2px solid rgba(0, 199, 157, 1.0);
    border-right: 1px solid rgba(0, 199, 157, 1.0);
  }

  &::placeholder {
    color: $color-rhino-30;
  }
}

.clear {
  font-size: 18px;
}

// TabBar

.tabs {
  margin-bottom: 20px;

  h1 {
    color: rgba(35, 65, 91, 1.0);
    display: inline-block;
    font-size: 16px;
    margin-right: 15px;
  }
}

.tab {
  composes: caption-lt-lg from 'css/typography.scss';
  padding: 0 15px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  cursor: pointer;
  transition: all .25s ease;
  background-color: rgba(242, 242, 242, 0);
  border: 1px solid rgba(224, 229, 233, 0);
}

.tab-active {
  composes: tab;
  background-color: rgba(242, 242, 242, 1.0);
  border: 1px solid rgba(224, 229, 233, 1.0);
  color: rgba(35, 65, 91, 1.0);
  border-radius: 4px;
}

// SearchResult
.search-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(242, 242, 242, 1.0);
  border-radius: 5px;
  box-shadow: 0 4px 15px rgb(35 65 91 / 20%);
  margin-bottom: 10px;
}

// postCard
.postcard-expand {
  width: 100%;
}

// PersonCard
.person-card {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
}

.person-image {
  margin-right: 10px;
}

.person-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.person-name {
  composes: hdr-subheadline from 'css/typography.scss';
  font-size: 16px;
  margin-bottom: 2px;
}

.person-location {
  composes: caption-lt-lg from 'css/typography.scss';
  font-size: 14px;
}

.person-skill {
  margin-left: auto;
}

@media screen and (max-width: 425px) {
  .search-bar {
    margin-top: -73px;
  }

  .search-results {
    padding: 10px 0;
  }

  .input {
    width: 100%;
  }

  .tabs h1 {
    display: none;
  }

  .tab {
    padding: 0 8px;
  }
}
