.switch-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.switch-label {
  composes: caption-drk-lg from 'css/typography.scss';
  font-size: 16px;
}

.switch {
  margin-left: auto;
}

.help-text {
  composes: bdy-lt-sm from 'css/typography.scss';  
  display: flex;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-bottom: 1px solid $color-cape-cod-10;
}

// CommunityModeratorSection

.moderators-section {
  /* empty */
}

.moderators-header {
  composes: tag  from 'css/typography.scss';
  margin-bottom: $space-2x;
}

// CommunityLeader

.moderator {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.moderator-image {
  margin-right: $space-4x;
}

.moderator-name {
  composes: bdy-lt-sm from 'css/typography.scss';
  font-size: 16px;
  &:hover {
    color: $color-rhino-80;
    text-decoration: none;
  }
}