.image {
  background-position: center;
  background-size: cover;
  @include fluid-height(62%);
  width: 100%;
  margin: 0 auto $space-2x auto;
}

.link {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.others {
  position: absolute;
  width: 100%;
  bottom: 0.6rem;
  display: flex;
  overflow-x: auto;
  padding-left: $space-2x;
}

.others-inner {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.other {
  display: block;
  > div {
    width: 80px;
    height: 80px;
    border-radius: 3px;
    margin-right: 0.6rem;
    background-size: cover;
    border: 1px solid $color-cape-cod-10;
    &:hover {
      filter: brightness(110%);
    }
  }
}
