$rowHeight: 60px;

.container {
  // empty
}

.header {
  border-radius: 4px;
  background-color: $color-athens-gray;
  margin-bottom: $space-2x;
}

.title {
  composes: hdr-display from 'css/typography.scss';
}

.subtitle {
  composes: hdr-headline from 'css/typography.scss';
  color: $color-rhino-80;
  margin-bottom: 10px;
  padding: 0
}

.help {
  color: $color-rhino-60;
  margin-bottom: 10px;
}

.invite-link-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
}

.invite-link-settings {
  display: flex;
  flex-direction: column;
}

.invite-link {
  // composes: text-button from 'css/typography.scss';
  font-size: 13px;
  flex-wrap: wrap;
  color: $color-caribbean-green;
  cursor: pointer;
  margin-bottom: 10px
}

.button {
  height: max-content;
  width: max-content;
  line-height: initial;
  font-size: 12px;
  color: $color-caribbean-green;
  padding: 5px 10px 5px 10px;
  margin: 0;
  &:hover {
    text-decoration: none;
    color: $color-gossamer;
  }
}

.invite-link-button {
  composes: button;
}

.copy-icon {
  font-size: 12px;
  margin-left: 5px;
  margin-right: 10px
}

.email-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}

.email-addresses-input {
  border: 1px solid $color-ghost;
  font-size: 14px;
  height: 50px;
  border-radius: 2px;
  margin-bottom: 16px;
  &::placeholder {
  }
}

.invite-msg-input {
  border: 1px solid $color-ghost;
  padding: 10px;
  border-radius: 2px;
  @include font-regular;
  font-size: 14px;
  margin-bottom: 16px;
  &:focus {
    outline: 0;
  }
}

.send-invite-button {
  display: flex;
  justify-content: space-between;
}

.resend-all-button {
  composes: button;
  margin-bottom: 10px;
}

.pending-invites-section {
  .pending-invites-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .pending-invites-list {
    display: flex;
    align-content: space-between;
    flex-direction: column;

    .row {
      @include font-regular;
      color: $color-rhino-60;
      font-size: 14px;
      width: 100%;
      align-items: center;
      height: $rowHeight;
      max-height: $rowHeight;
      border-top: 1px solid $color-ghost;
      display: flex;
      flex-direction: row;

      &:last-child {
        border-bottom: 1px solid $color-ghost;
      }
    }

    .invite-date {
      padding-left: 10px;
      color: #BFC5CD;
      @include font-regular;
    }

    .invite-actions {
      width: 150px;
      text-align: right;
      display: flex;
      flex-direction: row;
    }

    .action-btn {
      @include font-regular;
      cursor: pointer;
      &:hover {
        font-weight: bold;
      }
      user-select: none;
    }

    .expire-btn {
      color: $color-amaranth;
      flex: 0.5;
    }

    .resend-btn {
      color: $color-caribbean-green;
      flex: 0.5
    }
  }
}

.enter {
  opacity: 0.01;
}

.enter.enter-active {
  opacity: 1;
  transition: 400ms ease-in;
}

.leave {
  opacity: 1;
  max-height: $rowHeight;
}

.leave.leave-active {
  opacity: 0.01;
  max-height: 2px;
  transition: 500ms ease-in;
}

.error {
  color: $color-amaranth;
}

.success {
  color: $color-caribbean-green;
}

@media screen and (max-width: 525px) {
  .invite-link-settings {
    // display: block;
    // text-align: center;
  }
}