.title {
  composes: title from '../Login/Login.scss'
}

.subtitle {
  composes: caption-lt-lg from 'css/typography.scss';
  margin-bottom: 25px;
}

.formWrapper {
  padding: 30px;
}

.success {
  composes: caption-lt-lg from 'css/typography.scss';
  border: 1px solid $color-caribbean-green;
  color: $color-caribbean-green;
  padding: 5px;
  margin-bottom: 25px;
}

.error {
  composes: caption-lt-lg from 'css/typography.scss';
  border: 1px solid $color-amaranth;
  color: $color-amaranth;
  padding: 5px;
  margin-bottom: 25px;
}

.field {
  composes: field from '../Login/Login.scss'
}

.field-label {
  composes: field-label from '../Login/Login.scss'
}

.submit {
  composes: submit from '../Login/Login.scss'
}
