// AllTopics
.all-topics {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  align-items: center;
  margin-bottom: $space-2x;
}

.title {
  text-align: center;
  composes: hdr-display from 'css/typography.scss';
}

.subtitle {
  text-align: center;
  composes: caption-lt-lg from 'css/typography.scss';
  margin-top: $space-1x;
  margin-bottom: $space-4x;
}

// SearchBar
.search-bar {
  display: flex;
  flex: 1;
  align-items: center;
}

.search-input {
  flex: 1;
  margin-right: $space-4x;
}

.search-order {
  min-width: 80px;
}

.search-sorter-label {
  font-size: 15px;
  line-height: 28px;
  composes: caption-lt-lg from 'css/typography.scss';
  > span {
    vertical-align: middle;
    margin-left: $space-1x;
  }
}

.topic-list {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 35px;
}

// TopicListItem
.topic {
  display: flex;
  justify-content: space-between;
  border-top: $light-border;
  padding: 11px 0;
  align-items: center;
}

.topic-details {
  &:hover, &:active, &:visited, &:link {
    text-decoration: none;
  }
  flex-grow: 1;
  overflow: hidden;
}

.topic-name {
  composes: hdr-headline from 'css/typography.scss';
  overflow: hidden;
  text-overflow: ellipsis;
}

.topic-stats {
  composes: caption-drk-lg from 'css/typography.scss';
  vertical-align: middle;
  display: inline-block;
  margin-left: 6px;
}

.topic-subscribe {
  composes: text-button from 'css/typography.scss';
  font-size: 15px;
  margin-left: 3px;
}

.topic-dropdown {
  margin-left: 10px;
}

.groupsList {
  flex: 1;
}

@media screen and (max-width: 700px) {
  .topic-subscribe {
    font-size: 10px;
    text-transform: uppercase;
  }

  .topic-list {
    padding-bottom: 100px;
  }
}