.banner {
  padding-top: $space-6x;
  padding-bottom: $space-8x;
  position: relative;
  z-index: 2;
}

.imageShape {
  width: 100%;
  height: 160px;
  border-radius: 4px;
}

.image {
  composes: imageShape;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.fade {
  // Note: replace these with pseudo elements
  composes: imageShape;
  position: relative;
  background-image: linear-gradient(180deg, $color-cod-gray-0, $color-cod-gray-0 30%, $color-cod-gray-dark);
}

.fade2 {
  composes: imageShape;
  background-color: $color-rhino-30;
}

.header {
  position: relative;
  top: -110px;
  padding-left: 24px;
  display: flex;
}

.header-contents {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.logo {
  @include image(64px);
  border-radius: 4px;
  margin-right: $space-5x;
}

.all-logo {
  width: 55px;
  height: 62px;
}

.header-text {
  display: inline-block;
  vertical-align: top;
  line-height: 1.1;
}

.header-name {
  // Extract typography?
  @include font-medium;
  color: $color-white;
  font-size: 24px;
  letter-spacing: -0.47px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}

.header-subtitle {
  @include font-regular;
  color: $color-white;
  font-size: 13px;
  opacity: 0.8;
}

.header-icon {
  position: relative;
  top: 1px;
  margin-right: 5px;
  font-size: 16px;
  color: $color-white;
}

// PostPrompt

// Note: find other places where 56px and 28px are used.
.postPromptShape {
  border-radius: 4px;
  height: 56px;
  position: absolute;
  bottom: $space-3x;
  left: $space-4x;
  right: $space-4x;
}

.postPrompt {
  composes: postPromptShape;
  background-color: $color-white;
  line-height: 56px;
  margin: 0 auto;
  cursor: pointer;
  @include font-regular;
  font-size: 16px;
  color: $color-rhino-30;
  text-decoration: none;
}

.prompt-image {
  margin-right: 10px;
  margin-left: 20px;
  position: relative;
  top: 14px;
}

.shadow {
  composes: postPromptShape;
  background-color: transparent;
  box-shadow: 0px 4px 42px 0px darken($color-seashell, 10%);
  z-index: -10;
  &.hover {
    box-shadow: 0px 4px 42px 0px darken($color-seashell, 30%);
  }
}

.all-groups {
  background-color: $color-athens-gray;
  .header-name {
    text-shadow: none;
  }
  .fade {
    background-image: none;
  }
  .fade2 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .imageShape {
    border-radius: 0;
  }

  .banner {
    padding-top: 0;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding-left: 15px;
  }

  .header-name {
    font-size: 18px;
  }

  .postPrompt {
    font-size: 14px;
    line-height: 50px;
  }

  .postPromptShape {
    height: 50px;
  }

  .prompt-image {
    margin-left: 10px;
    top: 11px;
  }
}

@media screen and (max-width: 325px) {
  .header-name {
    font-size: 16px;
  }

  .postPrompt {
    font-size: 12px;
  }
}
