.nonAuthContainer {
  overflow-y: auto;
}

.background {
  width: 100vw;
  height: 100vh;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.viewDetails {
  text-decoration: underline;
  border: none;
  outline: none;
  background: transparent;
  color: rgba(255, 255, 255, 1);

  &:hover {
    cursor: pointer;
  }
}

.cookieInformation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;

  .content {
    max-width: 480px;
    width: 90%;
    max-height: 90%;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;

    .closeButton {
      background-color: rgba(255, 255, 255, 1);
      padding: 0 15px;
      border-radius: 20px;
      line-height: 40px;
      display: block;
      text-align: center;
      max-width: 150px;
      margin: 15px auto;
      height: 40px;
      box-shadow: 0px 4px 15px rgba(41, 64, 90, .25);
      color: rgba(41, 64, 90, 1);
      border: 1px solid rgba(41, 64, 90, 1);

      &:hover {
        cursor: pointer;
      }
    }

    h3, h4 {
      color: rgba(41, 64, 90, 1);
    }

    p {
      color: rgba(41, 64, 90, .5);
    }

    .pad {
      padding: 15px;
    }
  }
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 64, 90, .5);
  }
}

.showCookieInfo.cookieInformation {
  display: block;
}

.particlesBackgroundWrapper {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1000;
  height: 100vh;
  width: 100vw;
  min-height: 750px;
  line-height: 100vh;
  background: linear-gradient(137.79deg, rgba(255, 255, 255, 0) 0%, rgba(135, 225, 208, 0.173177) 35.31%, rgba(13, 195, 159, 0.35) 99.7%);
}

.topRow {
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.signupRow {
  width: 320px;
}

.form {
  background-color: white;
  box-shadow: 0px 5px 15px 0px $color-black-10;
  border-radius: 8px;
  width: 320px;
}

.below-container {
  box-shadow: 0px 5px 15px 0px $color-black-10;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 15px 30px;
  width: 320px;
  text-align: center;

  a {
    color: rgba(128, 140, 156, 1.00);
    cursor: pointer;
    font-size: 14px;

    &:hover {
      text-decoration: none;
      color: rgba(128, 140, 156, 1.00);
    }

    span {
      display: inline-block;
      margin-left: 5px;
    }
  }
}

.resetPasswordBottom {
  color: rgba(128, 140, 156, 1.00);

  .signupButton {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.signupButton {
  margin-left: 15px;
  border-radius: 5px;
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
  background-color: $color-white;
  font-size: 14px;
}

.logo {
  /* !empty */
}

.green-text {
  color: $color-caribbean-green
}

.error {
  color: $color-amaranth;
  background-color: transparentize($color-amaranth, 0.9);
  border: 1px solid $color-amaranth;
  border-radius: 4px;
  padding: 9px 16px;
  margin-bottom: 20px;
}

.detail {
  background-color: white;
  position: absolute;
  z-index: 30;
  top: 0;
  right: 0px;
  height: 100%;
  width: $detail-column-width;
  box-shadow: 0px 4px 56px 0px $shadow-color;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  padding-bottom: 150px;
  overflow-y: auto;
  margin-top: -8px;

  &.hidden {
    opacity: 0;
    right: -1000px;
    transition-delay: 0.0s;
  }
}

@media screen and (max-width: 600px) {
  .topRow {
    padding: 10px;
    position: relative;
  }

  .background {
    padding: 0 0 80px 0;
    width: auto;
    height: auto;
    display: block;
    flex-direction: unset;
    justify-content: unset;
    align-items: unset;

    .signupRow {
      margin: 0 auto;
    }

    .below-container {
      margin: 20px auto;
    }
  }

  .particlesBackgroundWrapper {
    width: 100%;
    height: 100%;
  }
}
