.membership {
  border: 0;
  font-weight: 100;
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 54px;
  font-size: 14px;
  padding-right: 10px;

  .role {
    font-weight: bold;
    font-family: 'Circular Bold';
    padding: 0 5px 0 10px;
    color: rgba(41, 64, 90, 1.00);
  }

  .group {
    margin-left: 5px;
    display: flex;
    align-items: center;
    padding: 6px 10px 4px 6px;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      color: $color-regent;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      width: 100%;
      text-decoration: none;

      div {
        position: relative;
        top: 1px;
      }
    }
  }
}

.odd {
  background-color: $color-white;
}

.even {
  background-color: $color-athens-gray;
}

.leave-button {
  margin-left: auto;
  composes: text-button from 'css/typography.scss';
  color: $color-amaranth;
  border: 1px solid $color-amaranth;
  padding: 2px 7px;
  @include font-regular;
  &:hover {
    color: $color-white;
    background-color: $color-amaranth;
  }
}

@media screen and (max-width: 375px) {
  .membership {
    font-size: 12px;

    .group {
      font-size: 12px;
      padding: 0 10px 0 6px;
    }
  }
}
