.message {
  padding-right: 22px;
  display: flex;

  &.messageHeader {
    padding-top: 8px;
  }
}

.avatar {
  width: $space-11x;
}

.content {
  padding-left: 20px;
  flex: 1;
}

.name {
  composes: username-cards from 'css/typography.scss';
}

.date {
  composes: timestamp from 'css/typography.scss';
  margin-left: $space-2x;
}

.text {
  composes: bdy-drk-sm from 'css/typography.scss';
  @include word-wrap;
}

@media screen and (max-width: 650px) {
  .content {
    padding-left: 10px;
  }
}


@media screen and (max-width: 425px) {
  .avatar {
    width: 32px;
    height: 32px;

    a div {
      height: 32px;
    }
  }

  .name {
    font-size:  10px;
  }

  .text {
    font-size:  12px;
    line-height:  15px;
  }
}
