.public-container {
  overflow-y: auto;
  padding-top: 56px;
  background-color: rgba(246, 247, 248, 1.0);

  &::-webkit-scrollbar {
    background-color:transparent;
    width: 5px;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(107, 121, 139, .5);
    outline: none;
    border-radius: 3px 0 0 3px;
  }
}

.background {
  width: 100%;
}

.header {
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  padding: 0 20px;
  height: 56px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 56px 0px rgb(42 64 89 / 30%);
  z-index: 100;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: 30px;
  }

  .access-controls {
    a {
      height: 30px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 4px 15px rgba(42, 64, 89, 0.29);
      border-radius: 30px;
      display: inline-block;
      height: 30px;
      line-height: 30px;
      padding: 0 15px;
      margin: 0 5px;
      color: rgba(35, 65, 91, 1.0);
      transition: all .25s ease;

      &.sign-up {
        background-color: rgba(0, 199, 157, 1.0);
        color: rgba(255, 255, 255, 1.0);
      }

      &:hover {
        text-decoration: none;
        background-color: rgba(0, 118, 223, 1);
        color: rgba(255, 255, 255, 1);
      }
    }
  }

}

.center-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.non-map-view {
  padding-bottom: 100px;
}

.non-map-view > {
  margin-top: 40px;
}

.center-column > div {
  box-shadow: 0px 4px 15px rgba(42, 64, 89, 0.29);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  width: 960px;
  transition: all .25s ease;

  &> div:last-child {
    padding-bottom: 50px;
  }

  .map-view > div {
    margin-top: 0px;
  }
}

.map-view .center-column {
  width: 100%;
}

.map-view {
  position: relative;
  margin-top: 0px;
  height: 100%;
  top: 0;
  bottom: 0;
}

.detail {
  background-color: white;
  position: absolute;
  z-index: 30;
  top: 56px;
  right: 0px;
  height: 100%;
  width: $detail-column-width;
  box-shadow: 0px 4px 56px 0px $shadow-color;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  padding-bottom: 150px;
  overflow-y: auto;
  margin-top: -8px;

  &.hidden {
    opacity: 0;
    right: -1000px;
    transition-delay: 0.0s;
  }
}

@media screen and (max-width: 1100px) {
  .center-column > div {
    width: 720px;
  }
}
