.google-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none !important;
  background: rgba(62, 130, 247, 1.00);
  color: white;
  height: 40px;
  border-radius: 20px;
  white-space: nowrap;
  padding: 0 15px 0 10px;
  transition: all .25s ease;
  width: 240px;

  img {
    border: 0px;
    height: 40px;
    position: relative;
    top: -8px;
    left: -8px;
  }
  &:hover,
  &:focus {
    color: white;
    background: rgba(62, 130, 247, .8);
  }
}
.google-icon {
  background-color: white;
  height: 24px;
  border-radius: 24px;
  width: 24px;
  margin-right: 12px;
}