.header-content {
  composes: header-content from '../TopNavDropdown/TopNavDropdown.scss';
}

.open {
  composes: header-link from '../TopNavDropdown/TopNavDropdown.scss';
}

.new {
  composes: header-link from '../TopNavDropdown/TopNavDropdown.scss';
  margin-left: auto;
}

.threads {
  composes: body from '../TopNavDropdown/TopNavDropdown.scss';
}

.thread {
  display: flex;
  align-items: start;
  cursor: pointer;
  &:first-child {
    margin-top: 5px;
  }
  &:last-child {
    .message-content {
      border: none;
    }
  }
}

.unread {
  background-color: $color-saltpan;
}

.image-wrapper {
  width: $space-10x;
  margin: 0 10px 0 15px;
  padding-top: 20px;
}

.message-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: start;
  padding: 20px 15px 15px 0;
  border-bottom: 1px solid $color-black-squeeze;
}

.name {
  composes: username-cards from 'css/typography.scss';
  margin-bottom: $space-1x;
}

.body {
  composes: caption-lt-lg from 'css/typography.scss';
}

.date {
  composes: caption-lt-lg from 'css/typography.scss';
  color: $color-slate-gray-80;
  font-size: 12px;
}

.no-messages {
  text-align: center;
  height: $messages-body-height;

  h3 {
    color: $color-dove-gray-50;
    font-size: 25px;
    margin-top: 40px;
    padding: 10px 30px;
  }
  .image {
    background: no-repeat center;
    height: $messages-body-height - 180px;
    background-size: $messages-body-height/2;
  }
}

.loader {
  height: $messages-body-height;

  .loader-image {
    background: no-repeat center;
    height: $messages-body-height;
    background-size: $messages-body-height/2;
  }
  .loader-animation {
    width: 44px;
    height: 20px;
    position: absolute;
    top: 35%;
    left: 47%;
  }
}
