$dropdown-border-color: rgba(49, 72, 67, 0.11);

.messages-dropdown {
  position: relative;
  display: inline-block;
}

.wrapper {
  display: none;
  position: fixed;
  right: 15px;
  top: 80px;
  background-color: $color-white;
  border: 1px solid $dropdown-border-color;
  border-radius: 4px;
  width: 375px;
  box-shadow: 11px 12px 26px 0px rgba(#dcdcdc, 0.6);
  &.active {
    display: block;
  }
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.triangle {
  min-width: 0 !important;
  @include is-top-triangle(#fff, $dropdown-border-color, 14px);
  left: 77%;
}

.header {
  display: flex;
  align-items: center;
  height: 38px;
  padding: 0 15px;
  composes: bdy-lt-sm from 'css/typography.scss';
  box-shadow: 0px 4px 16px 0px rgba(#dcdcdc, 0.6);
}

.new {
  margin-left: auto;
  composes: bdy-lt-sm from 'css/typography.scss';
  &:hover {
    color: $color-rhino-80;
    text-decoration: none;
  }
}

.threads {
  height: 420px;
  overflow: scroll;
}

.thread {
  display: flex;
  align-items: start;
  cursor: pointer;
  &:first-child {
    margin-top: 25px;
  }
  &:last-child {
    .message-content {
      border: none;
    }
  }
}

.image-wraper {
  width: $space-10x;
  height: $space-10x;
  margin: 0 10px 0 15px;
}

.image {
  width: $space-10x;
  height: $space-10x;
}

.message-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 15px 15px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid $color-black-squeeze;
}

.name {
  composes: username-cards from 'css/typography.scss';
  margin-bottom: 10px;
}

.body {
  composes: caption-lt-lg from 'css/typography.scss';
}

.date {
  composes: caption-lt-lg from 'css/typography.scss';
  color: $color-slate-gray-80;
  font-size: 12px;
}
