.header-content {
  composes: header-content from '../TopNavDropdown/TopNavDropdown.scss';
}

.open {
  composes: header-link from '../TopNavDropdown/TopNavDropdown.scss';
}

.new {
  composes: header-link from '../TopNavDropdown/TopNavDropdown.scss';
  margin-left: auto;
}

.threads {
  composes: body from '../TopNavDropdown/TopNavDropdown.scss';
}

.thread {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  &:first-child {
    margin-top: 5px;
  }
  &:last-child {
    .message-content {
      border: none;
    }
  }
}

.unread {
  background-color: $color-saltpan;
}

.image-wrapper {
  width: $space-10x;
  margin: 0 10px 0 15px;
  padding-top: 20px;
}

.message-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  padding: 20px 15px 15px 0;
  border-bottom: 1px solid $color-black-squeeze;
}

.name {
  composes: username-cards from 'css/typography.scss';
  margin-bottom: $space-1x;
}

.body {
  composes: caption-lt-lg from 'css/typography.scss';
}

.date {
  composes: caption-lt-lg from 'css/typography.scss';
  color: $color-slate-gray-80;
  font-size: 12px;
}
