.header-content {
  composes: header-content from '../TopNavDropdown/TopNavDropdown.scss';
}

.open {
  font-size:  14px;
  color:  rgba(255, 255, 255, 1);
  background-color: rgba(0, 115, 216, 1.00);
  border-radius:  25px;
  box-shadow: 0px 4px 10px rgba(42, 64, 89, 0.2);
  padding: 3px 15px;

  .open-icon {
    color: rgba(255, 255, 255, 1);
    position: relative;
    font-size: 14px;
    top: 1px;
  }
}

.new {
  composes: header-link from '../TopNavDropdown/TopNavDropdown.scss';
  margin-left: auto;

  .new-icon {
    font-size:  14px;
  }
}

.threads {
  composes: body from '../TopNavDropdown/TopNavDropdown.scss';
}

.thread {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  border-bottom: 1px solid $color-black-squeeze;

  &:first-child {
    margin-top: 5px;
  }
  &:last-child {
    .message-content {
      border: none;
    }
  }
}

.image-wrapper {
  width: $space-10x;
  margin: 0 10px 0 15px;
  padding-top: 20px;
}

.message-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  padding: 20px 15px 15px 0;
}

.name {
  composes: username-cards from 'css/typography.scss';
  margin-bottom: $space-1x;
  color: $color-rhino-60;
}

.body {
  composes: caption-lt-lg from 'css/typography.scss';
}

.date {
  composes: caption-lt-lg from 'css/typography.scss';
  color: $color-slate-gray-80;
  font-size: 12px;
}

.unread {
  background-color: rgba(42, 201, 167, .1);

  .name {
    color: $color-rhino;
  }

  .body {
    color: $color-rhino;
  }
}


@media screen and (max-width: 650px) {
  .name {
    font-size: 12px;
    line-height: 14px;
  }

  .date {
    font-size: 10px;
  }
}
