$preview-image-dimension: $space-20x;

.container {
  display: flex;
  background-color: $color-athens-gray;
  border: 1px solid $color-athens-gray-dark;
  border-radius: 4px;
  padding: $space-2x;
  margin-bottom: 25px;
  align-items: top;
  &:hover {
    text-decoration: none;
  }
}

.image {
  width: 100%;
  max-height: $preview-image-dimension;
  max-width: $preview-image-dimension;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  margin-right: 12px;
}

.text {
  display: flex;
  flex-direction: column;
}

.title {
  composes: bdy-drk-sm from 'css/typography.scss';
  color: $color-rhino-80;
  margin-bottom: $space-1x;
  // ellipses
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  color: $color-dove-gray-75;
  font-size: 12px;
  margin-bottom: $space-1x;
  // ellipses
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.domain {
  color: $color-dove-gray-50;
  font-size: 12px;
  text-transform: uppercase;
  // ellipses
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}  
