// PaymentSettingsTab
.title {
  composes: title from 'routes/UserSettings/NotificationSettingsTab/NotificationSettingsTab.module.scss';
}

.button-row {
  display: flex;
  width: 100%;
  margin-top: $space-9x;
}

.save-button {
  margin: 0 auto;
}

.help {
  composes: bdy-lt-sm from 'css/typography.scss';
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.error-notification {
  composes: caption-lt-lg from 'css/typography.scss';
  border: 1px solid $color-amaranth;
  color: $color-amaranth;
  padding: 5px 10px;
  margin-bottom: 25px;
  border-radius: 4px;
}

.success-notification {
  composes: caption-lt-lg from 'css/typography.scss';
  border: 1px solid $color-mountain-meadow;
  color: $color-mountain-meadow;
  padding: 5px 10px;
  margin-bottom: 25px;
  border-radius: 4px;
}

.prompt {
  composes: bdy-drk-sm from 'css/typography.scss';
  margin-bottom: 20px;
}
