.projects {
  padding: 0 15px;

  .project {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    padding: 10px 15px;
    text-align: left;
    position: relative;
    margin-bottom: 10px;

    .meta {
      padding-right: 60px;

      .title {
        font-size: 16px;
        color: rgba(49, 73, 101, 1.00);
      }

      .last-activity {
        color: rgba(49, 73, 101, .5);
      }
    }

    .created-by {
      width: 50px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }
}
