.banner {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;

  .right {
    text-align: right;
    padding-right: 20px;
    padding-top: 20px;

    .about {
      border: 1px solid rgba(255,255,255,0.5);
      border-radius: 20px;
      padding: 5px 10px;
      cursor: pointer;

      > span {
        color: white;
        font-size: 14px;
        padding-right: 5px;
      }
    }

    .about:hover {
      background-color: rgba(0,0,0,0.5);
    }
  }

  .title {
    padding-left: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    
    > div {
      padding-left: 10px;
    }
  }

  .name {
    font-size: 28px;
  }

  .location {
    font-size: 14px;

    > span {
      color: white;
      font-size: 14px;
      padding-right: 5px;
    }
  }

  > img {
    width: 100%;
  }
}

.widget {
  margin: 1em auto;
}
