.tab-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
}

.tab {
  composes: caption-lt-lg from 'css/typography.scss';
  padding: 0 $space-4x;
  height: $space-7x;
  line-height: $space-7x;
  list-style: none;
  cursor: pointer;
}

.tab-active {
  composes: tab;
  @include font-bold;
  color: $color-rhino;
  font-size: $space-4x;
  background-color: $color-cape-cod-05;
  border-radius: $space-1x;
}
