.container {
  position: relative;
  height: calc(100vh - 56px);
  overflow: hidden;
  display: flex;

  &.withoutNav {
    height: 100vh;
  }

  &.noUser {
    height: 100%;
    width: 100%;
  }
}

.mapContainer {
  flex: 1;
  height: 100%;
  position: relative;
}

.loading {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  display: inline;
  width: 40px;
  height: 40px;

  div {
    display: inline;
  }
}

.expanded {
  margin: 0 $space-2x $space-6x;
}

.toggleDrawerButton {
  top: 10px;
  display: block;
  z-index: 10;

  &.drawerOpen {
    .closeDrawer {
      display: block;
      top: 2px;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .openDrawer {
      display: none;
    }
  }

  .openDrawer {
    font-size: 16px;
    top: 2px;
    display: block;
    width: 20px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .closeDrawer {
    display: none;
  }
}

.drawerAdjacentButton {
  position: absolute;
  border-radius: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: white;
  transition: all .25s ease;
  box-shadow: $box-shadow-default;
  border: none;
  text-align: center;

  span {
    transition: all .25s ease;
  }

  &.drawerOpen {
    right: calc(40% + 20px);
  }

  &:hover {
    cursor: pointer;
  }
}

.noUser .toggleDrawerButton {
  top: 20px;
}

@media screen and (max-width: 1115px) {
  .toggleDrawerButton.drawerOpen {
    right: 470px;
  }
}

.toggleDrawerButton:focus {
  outline: 0;
}

.icon {
  vertical-align: middle;
  text-align: center;
}

.postTip {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  border-radius: 4px;
  background-color: white;
  padding: 0 15px;
  color: rgba(87, 102, 123, 1.000);
  box-shadow: $box-shadow-default;
  line-height: 28px;

  p {
    margin: 0;
    padding: 0;
  }
}

.postTip.chat {
  color: $color-chats;
}

.postTip.discussion {
  color: $color-discussions;
}

.postTip.event {
  color: $color-events;
}

.postTip.offer {
  color: $color-offers;
}

.postTip.resource {
  color: $color-resources;
}

.postTip.project {
  color: $color-projects;
}

.postTip.cluster {
  color: $color-black;
}

button.toggleFeatureFiltersButton {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: rgba(125, 140, 157, 1.000);
  background-color: rgba(255,255,255,1);
  border: none;
  outline: none !important;
  border-radius: 5px;
  height: 30px;
  text-align: center;
  box-shadow: $box-shadow-default;
  padding: 0 10px;

  &.open {
    color: rgba(255,255,255,1);
    background-color: $color-caribbean-green;
  }
}

.featureTypeFilters {
  position: absolute;
  bottom: 50px;
  left: 20px;
  background: white;
  display: none;
  padding-bottom: 10px;
  box-shadow: $box-shadow-default;

  &.open {
    display: block;
  }

  h3 {
    font-size: 14px;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid rgba(224, 229, 233, 1.000);
  }
}

.featureTypeSwitch {
  margin: 10px;
  > span {
    margin-left: 10px;
  }
}

.toggleLayersSelectorButton {
  bottom: 90px;
  color: rgba(125, 140, 157, 1.000);
  background-color: rgba(255,255,255,1);
  outline: none !important;
  border-radius: 50px;
  box-shadow: $box-shadow-default;
  padding: 8px;

  &.open {
    background-color: $color-caribbean-green;

    span {
      color: white;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $color-caribbean-green;

      span {
        color: white;
      }
    }
  }
}

.layersSelectorContainer {
  position: absolute;
  bottom: 90px;
  right: 70px;
  background: white;
  display: none;
  padding-bottom: 10px;
  box-shadow: $box-shadow-default;
  z-index: 1000;

  &.drawerOpen {
    right: calc(40% + 70px);
  }

  &.open {
    display: block;
  }

  h3 {
    font-size: 14px;
    margin-bottom: 0;
    padding: 10px;
    border-bottom: 1px solid rgba(224, 229, 233, 1.000);
  }

  .layersDropdown {
    bottom: 0;
    color: $color-regent;
    padding: 0 12px;
    font-size: 12px;
    border-radius: 30px;
    margin-left: 1em;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid gray;
  }

  .layersDropdownLabel {
    line-height: 2em;
    position: relative;
    vertical-align: middle;

    span { // icon positioning
      vertical-align: middle;
    }
  }

  .layersHeader {
    background-color: #0DC39F;
    color: white;
    margin-bottom: 10px;
  }

  .layersList {
    padding: 2px;
    margin-right: 10px;

    .layerLabel {
      vertical-align: middle;
      padding-left: 5px;
    }

    a {
      text-decoration: none;
      padding-left: 5px;

      span {
        font-size: 16px;
      }
    }
  }

  .pointer {
    bottom: 14px;
    left: auto;
    right: -5px
  }
}

.searchAutocomplete {
  position: absolute;
  top: 15px;
  left: 60px;
  color: rgba(125, 140, 157, 1.000);
  background-color: rgba(255, 255, 255, 1);
  border: none;
  outline: none !important;
  border-radius: 5px;
  height: 30px;
  text-align: center;
  box-shadow: $box-shadow-default;
  padding: 0 10px;
  line-height: 30px;
  font-size: 14px;
}

.pointer {
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  position: absolute;
  bottom: -5px;
  left: 55px;
  background-color: white;
}

.savedSearches {
  position: absolute;
  top: 0px;
  display: none;
}

.savedSearchesButton {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: white;
  color: $color-caribbean-green;
  font-size: 20px;
  border-radius: 50px;
  transition: all .25s ease;
  cursor: pointer;

  &.open {
    background-color: $color-caribbean-green;
    color: white;
    cursor: pointer;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $color-caribbean-green;
      color: white;
      cursor: pointer;
    }
  }
}

.addItemToMapButton {
  bottom: 40px;
  padding: 8px;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: $color-caribbean-green;

      span {
        color: white;
      }
    }
  }

  &.active {
    background-color: $color-picton-blue;

    span {
      color: white;
    }
  }

  &:focus {
    outline: 0;
  }
}

.helpTipTwo {
  z-index: 2000 !important;
}

@media screen and (max-width: 930px) {
  .addItemToMapButton {
    bottom: 70px;
  }

  .toggleLayersSelectorButton {
    bottom: 120px;
  }
}

@media screen and (max-width: 600px) {
  .toggleDrawerButton.drawerOpen {
    left: 10px;
    right: auto;
  }

  .featureTypeFilters {
    bottom: 106px;
    &.withoutNav {
      bottom: 106px - 50px; // height of top nav
    }
    &.noUser.withoutNav {
      bottom: 106px; // height of top nav
    }
  }

  button.toggleFeatureFiltersButton {
    bottom: 66px;
    &.withoutNav {
      bottom: 66px - 50px; // height of top nav
    }
    &.noUser.withoutNav {
      bottom: 66px; // height of top nav
    }
  }
}

@media screen and (max-width: 375px) {
  .toggleDrawerButton.drawerOpen {
    z-index: 80;
    top: 19px;
  }
}
