.container {
  position: relative;
  height: calc(100vh - 56px);
  overflow: hidden;
  display: flex;

  &.noUser {
    height: 100%;
    width: 100%;
  }
}

.mapContainer {
  flex: 1;
  height: 100%;
  position: relative;
}

.loading {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  display: inline;
  width: 40px;
  height: 40px;

  div {
    display: inline;
  }
}

.expanded {
  margin: 0 $space-2x $space-6x;
}

.toggleDrawerButton {
  position: absolute;
  right: 20px;
  top: 10px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background: white;
  transition: all .25s ease;
  box-shadow: $box-shadow-default;
  border: none;
  text-align: center;
  display: block;
  z-index: 10;

  &.drawerOpen {
    right: calc(40% + 20px);

    .closeDrawer {
      display: block;
      position: relative;
      top: 2px;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .openDrawer {
      display: none;
    }
  }

  &:hover {
    cursor: pointer;
  }

  .openDrawer {
    font-size: 16px;
    position: relative;
    top: 2px;
    display: block;
    width: 20px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .closeDrawer {
    display: none;
  }
}

.noUser .toggleDrawerButton {
  top: 20px;
}

@media screen and (max-width: 1115px) {
  .toggleDrawerButton.drawerOpen {
    right: 470px;
  }
}

.toggleDrawerButton:focus {
  outline: 0;
}

.icon {
  vertical-align: middle;
  text-align: center;
}

.postTip {
  position: absolute;
  z-index: 1;
  pointerEvents: none;
  border-radius: 4px;
  background-color: white;
  padding: 0 15px;
  color: rgba(87, 102, 123, 1.000);
  box-shadow: $box-shadow-default;
  line-height: 28px;

  p {
    margin: 0;
    padding: 0;
  }
}

.postTip.discussion {
  color: $color-discussions;
}

.postTip.event {
  color: $color-events;
}

.postTip.offer {
  color: $color-offers;
}

.postTip.resource {
  color: $color-resources;
}

.postTip.project {
  color: $color-projects;
}

.postTip.cluster {
  color: $color-black;
}

button.toggleFeatureFiltersButton {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: rgba(125, 140, 157, 1.000);
  background-color: rgba(255,255,255,1);
  border: none;
  outline: none !important;
  border-radius: 5px;
  height: 30px;
  text-align: center;
  box-shadow: $box-shadow-default;
  padding: 0 10px;

  &.featureFiltersOpen {
    color: rgba(255,255,255,1);
    background-color: $color-caribbean-green;
  }
}

.searchAutocomplete {
  position: absolute;
  top: 15px;
  left: 60px;
  color: rgba(125, 140, 157, 1.000);
  background-color: rgba(255, 255, 255, 1);
  border: none;
  outline: none !important;
  border-radius: 5px;
  height: 30px;
  text-align: center;
  box-shadow: $box-shadow-default;
  padding: 0 10px;
  line-height: 30px;
  font-size: 14px;
}

.pointer {
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  position: absolute;
  bottom: -5px;
  left: 55px;
  background-color: white;
}

.savedSearches {
  position: absolute;
  top: 0px;
  display: none;

  &.savedSearchesOpen {
    display: block;
  }
}

.savedSearchesButton, .savedSearchesButton-open {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: white;
  color: $color-caribbean-green;
  font-size: 20px;
  border-radius: 50px;
  transition: all .25s ease;
  cursor: pointer;
}

.savedSearchesButton-open, .savedSearchesButton:hover {
  background-color: $color-caribbean-green;
  color: white;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
}

.featureTypeFilters {
  position: absolute;
  bottom: 50px;
  left: 20px;
  background: white;
  display: none;
  padding-bottom: 10px;
  box-shadow: $box-shadow-default;

  &.featureFiltersOpen {
    display: block;
  }

  h3 {
    font-size: 14px;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid rgba(224, 229, 233, 1.000);
  }
}

.featureTypeSwitch {
  margin: 10px;
  > span {
    margin-left: 10px;
  }
}


@media screen and (max-width: 600px) {
  .toggleDrawerButton.drawerOpen {
    left: 10px;
    right: auto;
  }

  .featureTypeFilters {
    bottom: 106px;
  }

  button.toggleFeatureFiltersButton {
    bottom: 66px;
  }
}

@media screen and (max-width: 375px) {
  .toggleDrawerButton.drawerOpen {
    z-index: 100;
  }
}
