.MapExplorer-container {
  position: relative;
  height: calc(100vh - 56px);
  overflow: hidden;
}

.MapExplorerItems {
  margin: 0 auto;
  overflow: auto; // prevent margin collapse
}

.MapExplorerItem {
  margin: 0 $space-4x $space-6x;
}

.expanded {
  margin: 0 $space-2x $space-6x;
}

.toggleDrawerButton {
  position: fixed;
  right: 20px;
  top: 75px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background: white;
  transition: all .25s ease;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border: none;
  text-align: center;
  display: block;

  &.drawerOpen {
    right: calc(40% + 20px);

    .closeDrawer {
      display: block;
      position: relative;
      top: 2px;
      width: 23px;
      height: 23px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .openDrawer {
      display: none;
    }
  }

  &:hover {
    cursor: pointer;
  }

  .openDrawer {
    font-size: 16px;
    position: relative;
    top: 2px;
    display: block;
    width: 20px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .closeDrawer {
    display: none;
  }
}

@media screen and (max-width: 1115px) {
  .toggleDrawerButton.drawerOpen {
    right: 470px;
  }
}

.toggleDrawerButton:focus {
  outline: 0;
}

.icon {
  vertical-align: middle;
  text-align: center;
}

.postTip {
  position: absolute;
  z-index: 1;
  pointerEvents: none;
  border-radius: 4px;
  background-color: white;
  padding: 0 15px;
  color: rgba(87, 102, 123, 1.000);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  line-height: 28px;

  p {
    margin: 0;
    padding: 0;
  }
}

.postTip.discussion {
  color: $color-discussions;
}

.postTip.event {
  color: $color-events;
}

.postTip.offer {
  color: $color-offers;
}

.postTip.resource {
  color: $color-resources;
}

.postTip.project {
  color: $color-projects;
}

.postTip.cluster {
  color: $color-black;
}

button.toggleFeatureFiltersButton {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: rgba(125, 140, 157, 1.000);
  background-color: rgba(255,255,255,1);
  border: none;
  outline: none !important;
  border-radius: 5px;
  height: 30px;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 0 10px;

  &.featureFiltersOpen {
    color: rgba(255,255,255,1);
    background-color: $color-caribbean-green;
  }
}

.pointer {
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  position: absolute;
  bottom: -5px;
  left: 55px;
  background-color: white;
}

.featureTypeFilters {
  position: absolute;
  bottom: 50px;
  left: 20px;
  background: white;
  display: none;
  padding-bottom: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

  &.featureFiltersOpen {
    display: block;
  }

  h3 {
    font-size: 14px;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid rgba(224, 229, 233, 1.000);
  }
}

.featureTypeSwitch {
  margin: 10px;
  > span {
    margin-left: 10px;
  }
}


@media screen and (max-width: 600px) {
  .toggleDrawerButton.drawerOpen {
    left: 10px;
    right: auto;
  }

  .toggleFeatureFiltersButton {
    bottom: 66px;
  }
}

@media screen and (max-width: 375px) {
  .toggleDrawerButton.drawerOpen {
    z-index: 100;
  }
}