.keyListContainer {
  background: white;
  border: 1px solid #D1D1D1;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 2px 2px 0 0;
  position: relative;
  z-index: 5;
}

.keyListLabel {
  color: $color-regent;
  font-size: 10px;
  margin: 0;
  padding: 10px 8px;
  text-transform: uppercase;
}

.keyListPublic {
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 40px;
  padding: 6px 8px 6px 30px;
  background: url('/globe-icon.svg') 8px center no-repeat;
  color: $color-caribbean-green;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    background-color: #eee;
  }
}

.keyList{
  max-height: 132px;
  position: relative;
  overflow: scroll;


}

.keyListMemberCount {
  color: $color-rhino-50;
  font-size: 12px;
  margin: 0 0 3px;
  padding-left: 10px;
}

.keyListMemberIcon {
  color: $color-rhino-50;
  font-size: 18px;
  top: 2px;
}
