.create-button {
  cursor: pointer;
  font-size: 16px;
}

.create-topic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  margin-left: $space-1x;

  .plus {
    font-size: 14px;
    margin-right: $space-2x;
  }
}

.dialog-content {
}

.topic-error {
  color: $color-amaranth;
  background-color: transparentize($color-amaranth, 0.9);
  border: 1px solid $color-amaranth;
  border-radius: 4px;
  padding: 9px 16px;
  margin: $space-1x 0;
}

@media screen and (max-width: 700px) {
  .create-topic {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
  }
}