.create-button {
  cursor: pointer;
}

.create-topic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  margin-left: $space-1x;

  .plus {
    font-size: 18px;
    margin-right: $space-2x;
  }
}

.dialog-content {
}

.topic-error {
  color: $color-amaranth;
  background-color: transparentize($color-amaranth, 0.9);
  border: 1px solid $color-amaranth;
  border-radius: 4px;
  padding: 9px 16px;
  margin: $space-1x 0;
}
