// MembershipRequestsTab
.header {
  text-align: center;
  margin-top: 15px auto 30px;
}

.response-time {
  font-size: 14px;
  line-height: 18px;
  display: none;
}

.no-requests {
  text-align: center;
  margin-top: 85px;
}

.view-members {
  margin-top: 50px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 14px;
  line-height: 40px;
}

.request-list {
  margin: 57px 5px;
}

.request {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid #E1E5E9;
}

.requestor {
  display: flex;
  justify-content: flex-start;
  width: 60%;
}

.requestorAvatar {
  margin-right: 23px;
}

.requestorInfo {
  display: block;
}

.name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  color: #2A4059;
}

.skills span {
  font-size: 12px;
  line-height: 15px;
  margin-right: 4px;
  color: #0DC39F;
}

.action-buttons {
  display: flex;
  justify-content: center;
}

.action-buttons div {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #E1E5E9;
  border-radius: 5px;
  font-size: 12px;
  line-height: 15px;
  color: $color-regent;
  margin-right: 20px;
  line-height: 40px;
  padding: 0 12px;
  cursor: pointer;
}

.accept {
  color: red;
}

%icon {
  margin-right: 5px;
  top: 4px;
  font-size: 20px;
}

.icon-red {
  @extend %icon;
  color: #FD6A49;
}

.icon-green {
  @extend %icon;
  color: #0DC39F;
}
