
$preview-height: 80px;

.wrapper {
  padding: 0 $space-4x;
}

.linkPreview {
  height: $preview-height + 2;
  background-color: $color-athens-gray;
  border: 1px solid $color-athens-gray-dark;
  border-radius: 4px;
  padding-top: $space-2x;
  padding-right: $space-3x;
  margin-bottom: 25px;

  a, a:hover {
    text-decoration: none;
  }
}

.noImage {
  // Note: this class is a hack. We should be using flexbox for this component
  padding-left: $space-3x;
}

.previewImage {
  @include image($preview-height);
  margin-top: -$space-2x;
  margin-right: 15px;
  float: left;
}

.previewText {
  display: inline;
  vertical-align: top;
}

.previewTitle {
  composes: bdy-drk-sm from 'css/typography.scss';
  color: $color-rhino-80;
}

.previewDomain {
  // Extract typography: Very close to BDY-DRK-SM
  @include font-regular;
  color: $color-dove-gray-50;
  font-size: 12px;
}
@media screen and (max-width: 425px) {
  .wrapper {
    padding: 0;
  }

  .linkPreview {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 325px) {
  .previewTitle {
    font-size: 12px;
    line-height: 12px;
    display: block;
    font-weight: bold;
  }

  .linkPreview {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .wrapper {
    padding: 0 0;
  }
}