.container {
  box-shadow: 0 4px 10px rgba(35, 65, 91, .2);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  // TODO: position absolute top, left, right, bottom 0?
  background-color: white;
}

.stream-items-container {
  margin: 0 auto;
  overflow: auto;
  // height: calc(100% - 50px);
  width: 100%;
  flex: 1;
  display: flex;
  padding-bottom: 15px;
}

.stream-items {
  margin-top: auto;
  width: 100%;
}

.card-item {
  margin: 0 $space-4x $space-6x;
  box-shadow: 0 4px 10px rgba(35, 65, 91, .2);

  &> div:nth-child(2) > div:nth-child(1) {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0 4px 10px rgba(35, 65, 91, .3);
  }
}

.expanded {
  margin: 0 $space-2x $space-6x;
  box-shadow: 0 4px 15px rgba(35, 65, 91, .3);
  border: 1px solid rgba(0, 118, 223, .50);
  border-top: 3px solid rgba(0, 118, 223, .50);

  &:hover {
    box-shadow: 0 4px 15px rgba(35, 65, 91, .3);;
  }
}

.post-chat-box {
  position: relative;
  width: 97%;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(35, 65, 91, .2);
  padding: 5px;
  border-radius: 5px;
}

.post-chat-box-footer {
  width: 100%;

  > div:nth-child(1) {
    width: 50px;
  }
}

.action-icon {
  font-size: 32px;
  cursor: pointer;
  &:hover {
    color: $color-caribbean-green;
  }
}

.highlight-icon {
  color: $color-caribbean-green;
  cursor: default;
}

.editor {
  padding: 5px;
  min-height: 1rem;
  max-height: 6rem;
  color: $color-rhino-80;
  overflow: auto;

  strong {
    font-family: 'Circular Bold'
  }
}

.link-preview {
  margin-left: 1.25rem;
}

.send-message-button {
  position: absolute;
  bottom: 5px;
  padding: 0;
  line-height: 26px;
  right: 5px;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  border-radius: 6px;

  &.disabled {
    svg {
      color: gray !important;
    }
  }
}

@media screen and (max-width: 425px) {
  .card-item {
    margin: 0 5px 10px 5px;
  }

  .stream-grid {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}
