$drawer-width: 367px;
$drawer-height: 100vh;
$drawer-z-index: 51;

$pure-white: #FFFFFF;

$close-color: #98AFBE;
$close-offset-top: 27px;
$close-offset-right: 18px;
$close-dimension: 24px;

$current-avatar-size: 106px;
$current-avatar-border-radius: 8px;

$ul-vertical-spacing: 32px;
$ul-horizontal-spacing: 37px;
$li-padding: 4px;
$li-spacing: 22px;
$li-avatar-size: 32px;

$badge-width: 20px;

$calculated-name-width: $drawer-width -
                        (2 * $ul-horizontal-spacing) -
                        (2 * $li-padding) -
                        $li-avatar-size -
                        (2 * $li-spacing) -
                        $badge-width;

$break-border: 1px solid rgba(255,255,255,0.11);


.drawer {
  width: $drawer-width;
  height: $drawer-height;
  background-image: linear-gradient(0deg, $color-rhino 0%, $color-chambray 100%);
  position: absolute;
  z-index: $drawer-z-index;
  display: flex;
  flex-direction: column;
}

.closeDrawer {
  color: $close-color;
  cursor: pointer;
  position: absolute;
  top: $close-offset-top;
  right: $close-offset-right;
  font-size: $close-dimension;
}

.currentCommunity {
  padding: 53px 0 32px;
  text-align: center;
  border-bottom: $break-border;

  .avatar {
    margin: 0 auto;
    width: $current-avatar-size;
    height: $current-avatar-size;
    background-size: $current-avatar-size;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    border-radius: $current-avatar-border-radius;
  }

  .name {
    margin-top: 13px;
    /* TODO: extract typography */
    font-family: "Circular Bold", sans-serif;
    font-size: 17px;
    color: $pure-white;
  }

  .location {
    /* TODO: extract typography */
    font-size: 12px;
    color: rgba(255,255,255,0.6);
  }
}

.communitiesList {
  padding: $ul-vertical-spacing $ul-horizontal-spacing;
  margin: 0;
  flex-grow: 1;
  list-style: none;
  overflow-y: auto;
  border-bottom: $break-border;

  li {
    height: 40px;
    padding: $li-padding;
    border-radius: 4px;

    &:hover {
      background: $color-rhino;
    }

    .avatar {
      width: $li-avatar-size;
      height: $li-avatar-size;
      background-size: $li-avatar-size;
      display: inline-block;
      vertical-align: middle;
      border-radius: 4px;
      margin-right: $li-spacing;
    }
  }

  a {
    display: block;

    &:hover {
      text-decoration: none;
    }
  }
}

.allCommunities {
  display: block;
  /* TODO: extract typography */
  font-family: "Circular Medium", sans-serif;
  font-size: 19px;
  color: $pure-white;

  &:hover, &:active, &:visited {
    color: $pure-white;
  }

  .allCommunitiesText {
    margin-left: $li-spacing;
  }
}

li.community {
  a {
    /* TODO: extract typography */
    font-size: 16px;
    color: rgba(255,255,255,0.8);
  }

  .name {
    vertical-align: middle;
    width: $calculated-name-width;
    margin-right: $li-spacing;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }

  .badge {
    position: relative;
    top: 13px;
  }
}

.newCommunity {
  text-align: center;
  width: 310px;
  margin: 15px auto;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.05);
}

.newCommunityIcon {
  font-size: 18px;
  color: $pure-white;
  margin-right: 16px;
}
