.cardPadding {
  padding: 0px $space-4x;
}

.file-attachments {
  composes: cardPadding;
  display: flex;
  flex-direction: column;
}

.file-attachment {
  display: flex;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  &:hover, &:visited, &:link, &:active {
    text-decoration: none;
  }
}

.file-icon {
  font-size: 20px;
  color: $color-tree-poppy;
  margin-right: 8px;
}

.file-name {
  @include font-regular;
  color: $color-caribbean-green;
  &:hover {
    color: $color-gossamer;
  }
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}
