.cardPadding {
  padding: 0px $space-4x;
}

.file-attachments {
  composes: cardPadding;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.file-attachment {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 10px 20px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  box-shadow: 0px 6px 10px rgba(17, 39, 64, 0.2);
  text-decoration: none;
  border: 1px solid rgba(222, 224, 228, .5);
  &:hover, &:visited, &:link, &:active {
    text-decoration: none;
  }
}

.file-icon {
  font-size: 20px;
  color: $color-tree-poppy;
  margin-right: 8px;
}

.file-name {
  @include font-regular;
  color: $color-caribbean-green;
  &:hover {
    color: $color-gossamer;
  }
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}
