.people-selector-matches {
  composes: messages-section from '../../MessageSection/MessageSection.scss';
  flex: 1;
  flex-direction: column;
  position: absolute;
  top: 44px;
  width: 280px;
  height:  300px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 15px 15px rgba(42, 64, 89, 0.15);
  border-radius: 5px;
  padding: 0;
}


@media screen and (max-width: 650px) {
  .people-selector-matches {
    position: fixed;
    top: 112px;
    left: 0;
    width: 100%;
    transform: translateY(5px);
  }
}
