body {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  background-color: rgba(255,255,255, 1);
  align-items: stretch;
  height: 100vh;
  overflow: hidden;
  &.map-view {
    height: 100vh;
  }
}

.debug {
  .main {
    border: 1px dashed red;
  }
  .left {
    border: 1px dashed blue;
  }
  .center {
    border: 1px dashed green;
  }
  .sidebar {
    border: 1px dashed magenta;
  }
  .detail {
    border: 1px dashed purple;
  }
}

.top {
  /* empty */
  margin-bottom: -1 * $space-6x;
}

.main {
  padding-top: 56px;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  &.map-view {
    width: 100%;
    max-width: 100%;
  }
  &.withoutNav {
    padding-top: 0
  }
}


$drawer-width: 367px;
$drawer-height: 100vh;
$drawer-z-index: 51;
.drawer {
  width: $drawer-width;
  height: $drawer-height;
  position: fixed;
  left: 0px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  transition-delay: 0s;
  transition-duration: 0.2s;
  box-shadow: 0px 4px 56px 0px rgba(35, 64, 91, .5);

  &.hidden {
    left: -$drawer-width;
    box-shadow: 0px 4px 56px 0px rgba(35, 64, 91, 0);
  }
}

/* tooltip stuff */

.tooltipWrapper {
  background-color: rgba(255, 255, 255, 1);
  padding: 10px;
  border-radius: 3px;
  width: 100%;
  max-width: 300px;

  .tooltipContent {
    font-size: 12px;
    color: rgba(130, 142, 158, 1.00);
    display: flex;

    .stepTitle {
      font-size: 14px;
      color: rgba(45, 65, 90, 1.00);
      font-weight: bold;
    }
  }

  .backButton, .nextButton {
    padding: 5px 8px;
    margin: 0 5px;
    border-radius: 5px;
    color: rgba(0, 196, 159, 1.00);
    border: none;
    outline: none;
    font-size: 14px;
    font-family: 'Circular Book';
  }

  .nextButton {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 196, 159, 1.00);
  }

  .tooltipControls {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  .tourGuide {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 1);
    border: 5px solid rgba(58, 160, 223, 1.00);
    position: relative;
    margin-right: 10px;


    img {
      width: 40px;
      height: 31px;
    }
  }
}

@keyframes joyride-beacon-inner {
  20% {
    opacity: 0.9;
  }

  90% {
    opacity: 0.7;
  }
}

@keyframes joyride-beacon-outer {
  0% {
    transform: scale(1);
  }

  45% {
    opacity: 0.7;
    transform: scale(0.75);
  }

  100% {
    opacity: 0.9;
    transform: scale(1);
  }
}

.tourWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: flex;
  transition: all .35s ease;
  align-items: center;
  justify-content: center;

  .beaconExample {
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
    color: rgb(85, 85, 85);
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    padding: 8px;
    appearance: none;
    display: inline-block;
    height: 20px;
    position: relative;
    width: 20px;
    z-index: 100;
    top: 4px;
    margin-top: -10px;

    .beaconA {
      animation: joyride-beacon-inner 1.2s ease-in-out 0s infinite;
      background-color: rgb(255, 0, 68);
      border-radius: 50%;
      display: block;
      height: 50%;
      left: 50%;
      opacity: 0.7;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
    }

    .beaconB {
      animation: joyride-beacon-outer 1.2s ease-in-out 0s infinite;
      background-color: rgba(255, 0, 68, 0.2);
      border: 2px solid rgb(255, 0, 68);
      border-radius: 50%;
      box-sizing: border-box;
      display: block;
      height: 100%;
      left: 0px;
      opacity: 0.9;
      position: absolute;
      top: 0px;
      transform-origin: center center;
      width: 100%;
    }
  }

  .tourPrompt {
    margin: auto;
    display: flex;
    max-width: 400px;
    width: 100%;
    padding: 15px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;

    .tourGuide {
      min-width: 80px;
      height: 80px;
      border-radius: 100px;
      background-color: rgba(255, 255, 255, 1);
      border: 5px solid rgba(58, 160, 223, 1.00);
      position: relative;
      margin-right: 10px;
      box-shadow: 0px 4px 25px rgba(41, 64, 90, .25);

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50px;
        width: 64px;
      }
    }

    .tourExplanation {
      background-color: rgba(255, 255, 255, 1);
      font-size: 14px;
      border-radius: 5px;
      padding: 10px;
      position: relative;
      box-shadow: 0px 4px 25px rgba(41, 64, 90, .25);

      .speechIndicator {
        width: 10px;
        height: 10px;
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        left: -5px;
      }

      div {
        display: flex;
        justify-content: center;
      }

      p {
        color: rgba(128, 140, 156, 1.00);

        strong {
          color: rgba(41, 64, 90, 1.00);
        }
      }

      .startTour, .skipTour {
        padding: 3px 8px;
        border-radius: 3px;
        font-family: 'Circular Book';
        margin: 0 5px;
        outline: none;
        cursor: pointer;
      }

      .startTour {
        background-color: rgba(0, 196, 159, 1.00);
        color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(0, 196, 159, 1.00);
      }

      .skipTour {
        color: rgba(128, 140, 156, 1.00);
        border: 1px solid rgba(128, 140, 156, .5);
        background-color: transparent;
      }
    }
  }

  .tourBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 64, 90, .5);
    opacity: 1;
    transition: all .25s ease;
  }
}

.tourWrapper.tourClosed {
  top: -100%;

  .tourBg {
    opacity: 0;
  }
}


/* end tooltip stuff */

.left {
  transition: all .45s ease;
}

.left .map-field {
    height: calc(100vh - 60px);
}

.center {
  padding-left: 3px;
  background: $color-white;
  // From Bootstrap make-col-ready():
  position: relative;
  min-height: 1px; // Prevent collapsing
  height: calc(100vh - 56px);
  flex: 0 0 $center-column-width;
  max-width: $center-column-width;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all .45s ease;
  padding: 0 8px 100px 8px;

  &.map-view {
    max-width: $map-center-column-width;
    flex: 0 0 $map-center-column-width;
    height: calc(100vh - 40px);
    padding-bottom: 0px;
  }
  &.withoutNav {
    padding-bottom: 0
  }
}

.singleColumn .center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 0;
  height: calc(100vh - 58px);
  padding-left: 0;
}

.center.collapsedState {
  width: 43%;
  flex: 0 0 43%;
}

.center.map-view.collapsedState {
  width: calc(100% - 68px);
  max-width: calc(100% - 68px);
  flex: 0 0 100%;
}

.center::-webkit-scrollbar {
  background-color:transparent;
  width: 5px;
  border-radius: 5px;
}

.center::-webkit-scrollbar-thumb {
  background-color: rgba(200,200,200,.5   );
  outline: none;
  border-radius: 3px;
}

.sidebar {
  // From Bootstrap make-col-ready():
  position: relative;
  z-index: 10;
  min-height: 1px; // Prevent collapsing
  flex: 0 0 29%;
  max-width: 29%;
  transition-delay: 0.1s;
  transition-duration: 0.3s;
  top: 0;
  right: 0px;
  padding: 0 16px 0 $layout-spacing;
  overflow-y: auto;
  overflow-x: hidden;

  &.hidden {
    opacity: 0;
    right: -60px;
    transition-delay: 0.0s;
  }
}

.detail {
  background-color: white;
  position: absolute;
  z-index: 30;
  top: 57px;
  right: 0px;
  height: calc(100vh - 50px);
  width: $detail-column-width;
  box-shadow: 0px 4px 56px 0px $shadow-color;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  padding-bottom: 50px;
  overflow-y: auto;
  margin-top: -8px;
  overflow-x: hidden;

  &.hidden {
    opacity: 0;
    right: -1000px;
    transition-delay: 0.0s;
  }
}

.map-view .detail {
  max-width: 700px;
}

.detail::-webkit-scrollbar {
  background-color:transparent;
  width: 5px;
  border-radius: 5px;
}

.detail::-webkit-scrollbar-thumb {
  background-color: rgba(200,200,200,.5);
  outline: none;
}

:global(.react-joyride__beacon, .react-joyride__beacon:focus, .react-joyride__beacon:active) {
  outline: none;
  border: none;
}

@media screen and (max-width: 1050px) {
  .sidebar {
    top: -100vh;
    opacity: 0;
    transform: scale(0);
    height: 0;
  }

  .center {
    max-width: 70%;
    flex: 0 0 75%;
  }

  .center.collapsedState {
    width: 60%;
    flex: 0 0 60%;
  }

  .detail {
    width: 60%;
  }
}

@media screen and (max-width: 930px) {
  .center {
    max-width: 80%;
    flex: 0 0 80%;
    left: 5%;
  }

  .center.map-view {
    max-width: 93%;
    flex-basis: 93%;
    left: 0;
  }
}

@media screen and (max-width: 700px) {
  .center {
    max-width: 86%;
    flex: 0 0 86%;
    left: 0%;
  }

  .center.map-view {
    max-width: 90%;
    flex: 0 0 90%;
  }

  .detail {
    width: calc(100% - 80px);
    margin-top: 0;
    top: 56px;
  }

}

@media screen and (max-width: 600px) {

  @-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @-webkit-keyframes fadeOutUp {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  @keyframes fadeOutUp {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }

  .center {
    max-width: 100%;
    flex: 0 0 100%;
    left: 0%;
    padding: 0 0 150px 0;
  }

  .center.map-view {
    max-width: 100%;
    flex: 0 0 100%;
    left: 0;
    padding: 0;
  }

  .center.map-view.collapsedState {
    width: 100%;
    max-width: 100%;
  }
  
  .detail {
    z-index: 110;
  }

  .left {
    position: fixed;
    box-shadow: 0px 4px 56px 0px $shadow-color;
    left: 0px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 101;
    width: 100%;
    max-width: 280px;
    flex: 0 0 100%;
    height: calc(100% - 56px);
    top: 56px;
    margin: 0;
  }

  .left.hidden {
    left: -100%;
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .detail {
    width: 100%;
    margin-top: 0;
    top: 0;
    height: 100%;
    position: absolute;
  }

  .detailOpen, .detailOpen .center, .detailOpen .main {
    overflow: hidden;
  }

  .center {
    overflow-y: scroll;
  }
  .center.map-view {
    overflow-y: auto;
  }


  .tourWrapper .tourPrompt .tourGuide {
    min-width: 40px;
    height: 40px;

    img {
      width: 24px;
      height: 18px;
    }
  }
}

@media screen and (max-width: 375px) {
  .drawer {
    width: 100%;

    &.hidden {
      left: -100%;
    }
  }
}
