.people-selector {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.autocomplete-control {
  display: flex;
  flex: 1;
  border-bottom: 1px $color-rhino-30 solid;
  padding-bottom: $space-2x;
  margin-right: $space-5x;
}

.autocomplete {
  flex: 1;
  border: none;
  outline: none;

  // Yep, believe it or not this is necessary... can't group the selectors!
  &::-webkit-input-placeholder {
    @include font-regular;
    color: $color-rhino-30;
    font-size: 14px;
    letter-spacing: 0.4;
    line-height: 18px;
  }

  &::-moz-placeholder {
    @include font-regular;
    color: $color-rhino-30;
    font-size: 14px;
    letter-spacing: 0.4;
    line-height: 18px;
  }

  &:-ms-input-placeholder {
    @include font-regular;
    color: $color-rhino-30;
    font-size: 14px;
    letter-spacing: 0.4;
    line-height: 18px;
  }

  &:-moz-placeholder {
    @include font-regular;
    color: $color-rhino-30;
    font-size: 14px;
    letter-spacing: 0.4;
    line-height: 18px;
  }

  &::placeholder {
    @include font-regular;
    color: $color-rhino-30;
    font-size: 16px;
    letter-spacing: 0.4;
    line-height: 20px;
  }
}

.close-button {
  margin-bottom: $space-4x;
  margin-left: $space-6x;
}

.thread-header {
  composes: header from 'components/Thread/Thread.scss';
  padding-bottom: $space-3x;
}

.message-form {
  composes: message-form from 'components/MessageForm/MessageForm.scss';
}
