.people-selector {
  flex-grow: 2;
}

.autocomplete-control {
  display: flex;
  flex-grow: 2;
  border-bottom: 1px $color-rhino-30 solid;
  padding-bottom: $space-2x;
}

.autocomplete {
  flex-grow: 2;
  border: none;
  outline: none;

  // Yep, believe it or not this is necessary... can't group the selectors!
  &::-webkit-input-placeholder {
    @include font-regular;
    color: $color-rhino-30;
    font-size: 14px;
    letter-spacing: 0.4;
    line-height: 18px;
  }

  &::-moz-placeholder {
    @include font-regular;
    color: $color-rhino-30;
    font-size: 14px;
    letter-spacing: 0.4;
    line-height: 18px;
  }

  &:-ms-input-placeholder {
    @include font-regular;
    color: $color-rhino-30;
    font-size: 14px;
    letter-spacing: 0.4;
    line-height: 18px;
  }

  &:-moz-placeholder {
    @include font-regular;
    color: $color-rhino-30;
    font-size: 14px;
    letter-spacing: 0.4;
    line-height: 18px;
  }

  &::placeholder {
    @include font-regular;
    color: $color-rhino-30;
    font-size: 16px;
    letter-spacing: 0.4;
    line-height: 20px;
  }
}


.close-button {
  margin-bottom: $space-4x;
  margin-left: $space-6x;
}

.thread-header {
  display: flex;
  flex-grow: 2;
  align-items: flex-end;
  height: $space-20x;
  border: $light-border;
  padding: $space-3x $space-7x;
  padding-top: 0;

  &:focus, &:hover {
    outline: none;
    -webkit-box-shadow: -5px 5px 20px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: -5px 5px 20px 0px rgba(0,0,0,0.05);
    box-shadow: -5px 5px 20px 0px rgba(0,0,0,0.05);
  }
}
