.people-selector {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.autocomplete-control {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: flex-end;
  border-bottom: 1px $color-rhino-30 solid;
  padding-bottom: $space-2x;
  margin-right: $space-5x;
  min-height: $space-13x;
}

.autocomplete {
  composes: body-drk-lg from 'css/typography.scss';
  flex: 1;
  border: none;
  outline: none;

  // Yep, believe it or not this is necessary... can't group the selectors!
  &::-webkit-input-placeholder {
    color: $color-rhino-30;
    letter-spacing: 0.4;
  }

  &::-moz-placeholder {
    color: $color-rhino-30;
    letter-spacing: 0.4;
  }

  &:-ms-input-placeholder {
    color: $color-rhino-30;
    letter-spacing: 0.4;
  }

  &:-moz-placeholder {
    color: $color-rhino-30;
    letter-spacing: 0.4;
  }

  &::placeholder {
    color: $color-rhino-30;
    letter-spacing: 0.4;
  }
}

.close-button {
  margin-bottom: $space-4x;
  margin-left: $space-6x;
}

.thread-header {
  composes: header from 'components/Thread/Thread.scss';
  padding-top: $space-4x;
  padding-bottom: $space-3x;
  height: unset;
}

.message-form {
  composes: message-form from 'components/MessageForm/MessageForm.scss';
}
