:global .welcome-modal-enter, :global .welcome-modal-appear {
  .welcome-modal-background {
    opacity: 0;
  }

  .welcome-modal-wrapper {
    opacity: 0;
    position: relative;
    right: -100%;
  }
}

:global .welcome-modal-enter.welcome-modal-enter-active, :global .welcome-modal-appear.welcome-modal-appear-active {
  .welcome-modal-background {
    opacity: 1;
    transition: opacity 200ms ease-out;
  }

  .welcome-modal {
    opacity: 1;
    right: 0;
    transition: right 250ms ease-out, opacity 400ms ease-out;
  }
}

:global .welcome-modal-exit {
  .welcome-modal-background {
    opacity: 0;
  }

  .welcome-modal {
    opacity: 1;
    transform: translate(0, 0);
  }
}

:global .welcome-modal-exit.welcome-modal-exit-active {
  .welcome-modal-background {
    opacity: 0;
    transition: opacity 300ms ease-out;
  }

  .welcome-modal {
    opacity: 0;
    transform: translate(0, -100px);
    transition: transform 200ms ease-out, opacity 200ms ease-out;
  }
}

.welcome-modal-wrapper {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: rgba(41, 64, 90, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-modal {
  width: 100%;
  max-width: 440px;
  margin-top: auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: auto;
  position: relative;
  background: white;
  border-radius: 5px;
  margin: 10px;
}

.close-button {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  width: 30px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  height: 30px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  &:hover {
    cursor: pointer;
  }
}

.banner {
  position: relative;
  border-radius: 5px 5px 0 0;
  background-size: cover;

  .fade {
    position: absolute;
    border-radius: 5px 5px 0 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(49, 73, 101, 1.00);
    opacity: .4;
  }

  .banner-content {
    padding: 15px;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;

    h2 {
      padding-left: 15px;
      margin-bottom: 0;
      color: rgba(255, 255, 255, 1);
    }
  }
}

.welcome-content {
  padding: 15px;

  .call-to-action {
    text-align: center;
  }
}
