// PostCard

.card {
  padding-top: 15px;
  border: 1px solid $color-cape-cod-10;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 2px 6px 0px $color-black-10;
  }
}

.cardPadding {
  padding: 0px 15px;
}

// PostHeader

.header {
  composes: cardPadding;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.authorName {
  /* !empty */
}

.avatar {
  margin-right: 10px;
}

.headerText {
  display: inline-block;
  position: relative;
  top: -2px;
}

.userName {
  // TODO: Extract typography?
  @include font-bold;
  color: $color-rhino-80;
  font-size: 14px;
  &:hover {
    color: $color-rhino;
    text-decoration: none;
  }
}

.userTitle {
  // TODO: Extract typography? this one is very close to bdy-drk-sm
  @include font-regular;
  color: $color-rhino-80;
  font-size: 14px;
}

.date {
  line-height: 12px;
}

.spacer {
  margin: 0 7px;
  font-size: 8px;
  position: relative;
  top: -2px;
}

.context {
  // TODO: Extract typography?
  @include font-regular;
  color: $color-caribbean-green;
  font-size: 12px;
  &:hover {
    color: $color-caribbean-green;
    text-decoration: none;
  }
}

.upperRight {
  margin-left: auto;
}

.label {
  margin-right: 20px;
  // TODO: remove this positioning. Only necessary because of Dropdown breaking layout
  position: relative;
  top: -3px;
}

.menuLink:hover {
  text-decoration: none;
}

.menuLink:hover > span {
  color: $color-rhino-80;
}

// PostBody

.body {
  margin-bottom: 36px;
}

.image {
  background-position: center;
  background-size: cover;
  display: inline-block;
  width: 590px;
  height: 280px;
  margin-bottom: 20px;
  margin: 0 auto 20px auto;
}

.title {
  composes: cardPadding;
  margin-bottom: 12px;
}

.description {
  composes: cardPadding;
  // TODO: Extract typography? This one is exactly half way between
  // BDY-LT-LG and BDY-LT-SM
  @include font-regular;
  color: $color-rhino-60;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

//LinkPreview

$preview-height: 80px;


.linkPreview {
  max-height: $preview-height;
  background-color: $color-athens-gray;
  border: 1px solid $color-athens-gray-dark;
  border-radius: 4px;
}

.previewImage {
  @include image($preview-height);
  margin-right: 15px;
}

.previewText {
  display: inline-block;
  margin-top: 15px;
  vertical-align: top;
}

.previewTitle {
  // TODO: Extract typography? Very close to BDY-DRK-SM
  @include font-regular;
  color: $color-rhino-80;
  font-size: 16px;
  line-height: 22px;
}

.previewDomain {
  // TODO: Extract typography? Very close to BDY-DRK-SM
  @include font-regular;
  color: $color-dove-gray-50;
  font-size: 12px;
  line-height: 19px;
  // TODO: Find a more robust way to position this element
  position: relative;
  top: 10px;
}

// PostFooter

$footer-height: 56px;

.footer {
  composes: cardPadding;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: $footer-height;
  border-top: 1px solid $color-cape-cod-10;
}

.people {
  margin-right: 20px;
}

.share {
  margin-left: auto;
  width: $footer-height;
  height: $footer-height;
  line-height: $footer-height;
  text-align: center;
  border-left: 1px solid $color-cape-cod-10;
}

.arrowIcon {
  position: relative;
  top: 4px;
  margin-right: 8px;
  color: $color-caribbean-green;
  &:hover {
    color: $color-gossamer;
  }
}

.votes {
  margin-left: auto;
  padding: 0 10px 0 20px;
  height: $footer-height;
  line-height: $footer-height;
  text-align: center;
  border-left: 1px solid $color-cape-cod-10;
  & > a:hover {
    text-decoration: none;
    color: $color-gossamer;
  }
}
