$footer-height: 56px;

.card {
  padding-top: 15px;
  border: 1px solid $color-cape-cod-10;
  border-radius: 4px;
}

.postBlock {
  padding: 0px 15px;
}

.header {
  composes: postBlock;
  composes: d-flex justify-content-start align-items-center from $bootstrap-path;
  margin-bottom: 30px;
}

.avatar {
  margin-right: 10px;
}

.headerText {
  display: inline-block;
  position: relative;
  top: -2px;
}

.userName {
  // TODO: Extract typography?
  @include font-bold;
  color: $color-rhino-80;
  font-size: 14px;
  &:hover {
    color: $color-rhino;
    text-decoration: none;
  }
}

.userTitle {
  // TODO: Extract typography? this one is very close to bdy-drk-sm
  @include font-regular;
  color: $color-rhino-80;
  font-size: 14px;
}

.date {
  line-height: 12px;
}

.spacer {
  margin: 0 7px;
  font-size: 8px;
  position: relative;
  top: -2px;
}

.context {
  // TODO: Extract typography?
  @include font-regular;
  color: $color-caribbean-green;
  font-size: 12px;
  &:hover {
    color: $color-caribbean-green;
    text-decoration: none;
  }
}

.label {
  composes: ml-auto from $bootstrap-path;
  margin-right: 20px;
}

.menuLink:hover {
  text-decoration: none;
}

.menuLink:hover > span {
  color: $color-rhino-80;
}

.body {
  composes: postBlock;
  margin-bottom: 36px;
}

.title {
  /* empty */
}

.footer {
  composes: postBlock;
  composes: d-flex justify-content-start align-items-center from $bootstrap-path;
  height: $footer-height;
  border-top: 1px solid $color-cape-cod-10;
}

.people {
  margin-right: 20px;
}

.share {
  composes: ml-auto from $bootstrap-path;
  width: $footer-height;
  height: $footer-height;
  line-height: $footer-height;
  text-align: center;
  border-left: 1px solid $color-cape-cod-10;
}

.arrowIcon {
  position: relative;
  top: 4px;
  margin-right: 8px;
  color: $color-caribbean-green;
}

.votes {
  padding: 0 10px 0 20px;
  height: $footer-height;
  line-height: $footer-height;
  text-align: center;
  border-left: 1px solid $color-cape-cod-10;
}
