.card {
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  right: 0px;
  transition: 0.25s;
  display: flex;
  flex-direction: column;
  transition: all .25s ease;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 118, 223, 0);
}

.constrained.card {
  border-top: 5px solid $color-cape-cod-10;
  padding-top: 10px;
}

.bodyWrapper {
  position: relative;
}

.chat {
  z-index: 0;
}

.expanded,
.expanded:hover {
  box-shadow: 0px 4px 6px 0px $color-black-10;
  border: 1px solid rgba(0, 118, 223, 0.5);
  border-top: 3px solid rgba(0, 118, 223, 0.5);
}

.constrained.chat {
  color: $color-picton-blue;
  border-top: 5px solid $color-chats-30;

  &:hover {
    border-top: 5px solid $color-chats;
  }
}

.constrained.discussion {
  color: $color-picton-blue;
  border-top: 5px solid $color-discussions-30;

  &:hover {
    border-top: 5px solid $color-discussions;
  }
}

.constrained.event {
  color: $color-medium-purple;
  border-top: 5px solid $color-events-30;

  &:hover {
    border-top: 5px solid $color-events;
  }
}

.constrained.offer {
  color: $color-caribbean-green;
  border-top: 5px solid $color-offers-30;

  &:hover {
    border-top: 5px solid $color-offers;
  }
}

.constrained.resource {
  color: $color-mango-yellow;
  border-top: 5px solid $color-resources-30;

  &:hover {
    border-top: 5px solid $color-resources;
  }
}

.constrained.project {
  color: $color-fuchsia-pink;
  border-top: 5px solid $color-projects-30;

  &:hover {
    border-top: 5px solid $color-projects;
  }
}

.constrained.request {
  color: $color-persimmon;
  border-top: 5px solid $color-requests-30;

  &:hover {
    border-top: 5px solid $color-requests;
  }
}
