.card {
  padding-top: 15px;
  border: 1px solid $color-cape-cod-10;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  right: 0px;
  transition: 0.25s;
  &:hover {
    box-shadow: 0px 0px 6px 0px $color-black-10;
  }
}

.expanded {
  box-shadow: 0px 2px 6px 0px $color-black-10;
}

.image {
  background-position: center;
  background-size: cover;
  @include fluid-height(62%);
  width: 100%;
  margin-bottom: 20px;
  margin: 0 auto 20px auto;
}
