@mixin make-visible {
  // background-color: $color-white;
  // border: dashed 1px $color-rhino-30;
}

.navigation {
  @include make-visible();
  @include make-col-ready();
  // @media (max-width: 32em) {
  //   @include make-col(6);
  // }
  @media (min-width: 32.1em) {
    @include make-col(2.4);
  }
  transition: 0.5s;

  // ovverriding bootstrap default. Seems broken
  padding: 0 0 !important;
  margin: 0 15px;
}

.navigation-collapsed {
  composes: navigation;

  @media (min-width: 32.1em) {
    @include make-col(0.72);
  }
}

.links {
  list-style: none;
  border-bottom: 2px solid $color-ghost-30;
  padding: 0 0 20px 0;
  margin: 0;
}
