@mixin make-visible {
  background-color: $color-white;
  border: dashed 1px $color-rhino-30;
}

.navigation {
  @include make-visible();
  @include make-col-ready();
  // @media (max-width: 32em) {
  //   @include make-col(6);
  // }
  @media (min-width: 32.1em) {
    @include make-col(2.4);
  }
  transition: 0.5s;

  // ovverriding bootstrap default. Seems broken
  padding: 0 0 !important;

  margin: 0 15px;

  &--collapsed {
    @media (min-width: 32.1em) {
      @include make-col(0.72);
    }
  }
}

.links {
  list-style: none;
  border-bottom: 2px solid $color-ghost-30;
  padding: 0 0 20px 0;
}

.item {
  // FIXME use actual spacing vars
  padding: 0 12.5px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
}

.link {
  color: $color-rhino-50;
  &:hover {
    text-decoration: none;
    color: $color-rhino;
  }
}

.active {
  background-color: $color-iceberg;
  .link {
    color: $color-rhino;
  }
}

.icon {
  margin-right: 24px;
}

.badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: $color-white;
  background-color: $color-persimmon;
  font-weight: 600;
  vertical-align: middle;
  line-height: normal;
  float: right;
  position: relative;
  top: 10px;
  text-align: center;
}

.badgeNumber {
  position: relative;
  right: 0.5px;
  top: -1px;
}
