.collapser {
  position: relative;
  // Prevent columns from becoming too narrow when at smaller grid tiers by
  // always setting `width: 100%;`. This works because we use `flex` values
  // later on to override this initial width.
  width: 100%;
  min-height: 1px; // Prevent collapsing
  flex: 0 0 15%;
  // Add a `max-width` to ensure content within each column does not blow out
  // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
  // do not appear to require this.
  max-width: 15%;
  transition: 0.5s;
  // // overriding bootstrap default. Seems broken
  // padding: 0 0 !important;
  margin: 0 $layout-spacing 0 15px;
  overflow: hidden;
  white-space: nowrap;
  height: calc(100vh - 56px);
}

.mapView.collapser {
  margin: 0 13px 0 15px;
}

.collapser-collapsed {
  composes: collapser;
  flex: 0 0 3rem;
  // Add a `max-width` to ensure content within each column does not blow out
  // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
  // do not appear to require this.
  max-width: 3rem;
  margin: 0 15px;
}

.navigation {
  padding-top: $space-6x;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.links {
  list-style: none;
  border-bottom: 2px solid $color-ghost-30;
  padding: 0 0 20px 0;
  margin: 0;
}

.topicItem, .item {
  display: none;
}

@media screen and (max-width: 930px) {
  .collapser {
    flex: 0 0 6%;
    min-width: 50px;
    margin: 0 15px 0 15px;
  }
}

@media screen and (max-width: 600px) {

  .links {
    border-bottom: none;
    padding: 0 0 0 0;
  }

}

@media screen and (max-width: 600px) {
  .navigation {
    padding: 5px;
    background-color: rgba(255,255,255,1);
  }

  .collapser {
    margin: 0;
    height: auto;
  }

  .links {
    display: flex;
    justify-content: center;
  }

  .icon {
    margin: 0;
  }

  .topicItem {
    display: block;
    padding: 0 15px;

    a {
      display: inline-block;
      position: relative;
      text-decoration: none;
      top: 6px;

      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }

  .mapView.collapser {
    margin: 0;
  }

}

@media screen and (max-width: 320px) {
  .topicItem {
    padding: 0 10px;

    a {
      top: 9px;
    }
  }
}
