// we use mixins here to get around the class selector limitation of 'composes'

.badgeWrapper {
  // border: 1px solid red;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
}

@mixin badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  color: $color-white;
  background-color: $color-persimmon;
  font-weight: 600;
  vertical-align: middle;
  line-height: normal;
  text-align: center;
  position: relative;
  transition: 0.15s;
}

.badge {
  @include badge();
}

.badge-collapsed {
  composes: badge;
  width: 7px;
  height: 7px;
}

@mixin badgeNumber {
  display: inline;
  font-size: 12px;
  transition: 0.15s;
  color: $color-white;
  position: relative;
  top: -1px;
  text-decoration: none;
  &:hover, &:visited {
    text-decoration: none;
  }
}

.badgeNumber {
  @include badgeNumber();
}

.badgeNumber-collapsed {
  composes: badgeNumber;
  font-size: 0px;
  color: transparent;
}

.border {
  width: 11px;
  height: 11px;
  border: 2px solid $color-white;
}

// parent is imported by parent composes to add as a className so that the badge can
// react to the parent being hovered.
.parent {
  /* empty */
}

.parent:hover .badge-collapsed {
  @include badge();
}

.parent:hover .badgeNumber-collapsed {
  @include badgeNumber();
  right: -0.5px;
}
