.topic-feed-header {
  padding: $space-6x $space-4x $space-15x $space-4x;
  position: relative;
}

.back {
  composes: caption-drk-lg from 'css/typography.scss';
  color: $color-rhino-60;

  &:hover {
    text-decoration: none;
    color: $color-rhino-80;

    .back-icon {
      color: $color-rhino-80;
    }
  }
}

.back-icon {
  font-size: 10.5px;
}

.topic-name {
  composes: hdr-display from 'css/typography.scss';
  margin: $space-2x 0;
}

.meta {
  composes: caption-lt-lg from 'css/typography.scss';
}

.subscribe {
  position: absolute;
  right: 0;
  top: 78px;
}

.post-prompt {
  position: relative;
  top: 20px;
  left: 0px;
  border: 1px solid $color-cape-cod-10;
}
