.member-sidebar {
  padding-top: $space-6x;
  margin-left: -40px;
}

.sidebar-link {
  composes: text-button from 'css/typography.scss';
}

.message-member-container {
  padding-bottom: $space-6x;
  border-bottom: 1px solid $color-black-squeeze;
  margin-bottom: $space-6x;
}