.commentForm {
  margin-bottom: 20px;
  box-shadow: 0px 15px 20px 0px rgb(44 64 89 / 20%);
  border-radius: 4px;
  border-top: 1px solid rgba(222, 224, 228, 0.6);
  border-bottom: 2px solid rgba(38, 68, 93, .45);
  border-right: 1px solid rgba(38, 68, 93, .15);
  border-left: 4px solid rgba(0, 199, 157, 1.0);
}

.icon {
  color: $color-caribbean-green;
  font-size: 10px;
  margin-right: 7px;
}

.send-message-container {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.send-message-button {
  padding: 0;
  line-height: 26px;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  border-radius: 6px;
}

.prompt {
  display: flex;
  border-radius: 4px;
  width: 100%;
  min-height: 56px;
  background-color: $color-white;
  composes: bdy-lt-sm from 'css/typography.scss';
  color: $color-rhino-80;
  font-size: 16px;

  &.disabled {
    cursor: default;
  }
}

.image {
  margin-right: 10px;
  margin-left: 15px;
  position: relative;
  top: 18px;
}

.anonymous-image {
  margin-right: 10px;
  margin-left: 20px;
  position: relative;
  top: 20px;
  font-size: 17px;
  cursor: default;
}

.upload-button {
  display: flex;
  align-items: center;
  margin-right: $space-2x;
}

.upload-button-icon {
  font-size: 32px;
  cursor: pointer;
  &:hover {
    color: $color-caribbean-green;
  }
}

.upload-button-loading {
  width: 32px;
  height: 32px;
  div {
    svg path {
      fill: $color-caribbean-green;
    }
  }
}

.placeholder {
  width: 100%;
}

.editor {
  width: 90%;
  position: relative;
  top: 22px;
  padding: 0 0px 30px 0;
  margin-bottom: 1em;
  overflow-wrap: break-word;
  cursor: text;

  // Would be best on the container above but will be wrong height due
  // to `position: relative`
  [contenteditable="true"] {
    overflow-y: auto;
    max-height: 200px;
  }
}

.signupButton, .signupButton:visited {
  line-height: 2em;
  background: #40A1DD;
  border-radius: 15px;
  color: white;
  display: inline-block;
  width: 200px;
  height: 2em;
  text-align: center;
  position: relative;
  top: 11px;
  right: 11px;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

@media screen and (max-width: 425px) {
  .commentForm {
    margin-bottom: 10px;
    z-index: 1000;
  }

  .editor {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .editor {
    font-size: 12px;
    padding: 0 10px 30px 0;
  }

  .image {
    margin-left: 10px;
  }

  .commentForm {
    margin-bottom: 5px;
  }
}
