.emoji-picker-container {
  width: 50px;
  display: flex;
  align-items: center;
}

.emoji-picker-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 5px;

  span {
    font-size: 20px;
  }
}

.smiley {
  width: 20px;
  height: 20px;
}

.emoji-options {
  position: fixed;
  display: block;
  z-index: 100000;
  background: white;
  border: 1px solid black;
  padding: 5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  transition: all .25s ease;
}
