.card {
  flex-grow: 1;
  flex-shrink: 1;
  // LEJ: This calc is mostly just for fun, but this is propertly
  // the width of the card for a 2 column layout.
  flex-basis: calc((#{$sheet-width} / 2) - (#{$space-8x} * 4) - 10px);
  padding: $space-8x 0;
  margin: 0 $space-8x;
  box-sizing: border-box;
  border-bottom: $section-border-width solid #a0acbb;
  &:last-child,
  &-no-bottom-border {
    border-bottom: 0px;
  }
}

.name {
  text-transform: uppercase;
  font-size: 8pt;
  font-weight: 600;
  color: #2C4059;
  opacity: 0.6;
  margin-bottom: 12px;
}

.attributes {
  font-size: 11pt;
  color: #2C4059;
  opacity: 0.6;
}

.sample {
  margin-top: $space-8x;
}
