.link {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.others {
  position: absolute;
  width: 100%;
  bottom: $space-2x;
  display: flex;
  overflow-x: auto;
  padding-left: $space-2x;
}

.others-inner {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.other {
  display: block;

  > div {
    margin-right: $space-2x;
    background-size: cover;
    width: 80px;
    height: 80px;
    border: 1px solid white;
  }
}

.image {
  background-position: center;
  background-size: cover;
  @include fluid-height(62%);
  width: 100%;
  margin-bottom: 20px;
  margin: 0 auto 20px auto;
}
