// MembershipRequestsTab
.header {
  text-align: center;
  margin-top: 15px auto 30px;
}

.response-time {
  font-size: 14px;
  line-height: 18px;
  display: none;
}

.no-requests {
  text-align: center;
  margin-top: 85px;
}

.view-members {
  margin-top: 50px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 14px;
  line-height: 40px;
}

.request-list {
  margin: 57px 5px;
  padding-bottom: 100px;
}

.request {
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid $color-grey-keyline-light;

  .answer {
    padding-left: 70px;
    margin: 20px 0;

    h3 {
      font-size: 14px;
      color: rgba(125, 140, 157, 1.000);
      margin-bottom: 0;
    }

    p {
      font-size: 14px;
      color: rgba(35, 64, 91, 1.000);
    }
  }
}

.requestor {
  display: flex;
  justify-content: flex-start;
  width: 60%;
}

.requestorAvatar {
  margin-right: 23px;
}

.requestorInfo {
  display: block;
}

.name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  color: $color-member;
}

.skills span {
  font-size: 12px;
  line-height: 15px;
  margin-right: 4px;
  color: $color-caribbean-green;
}

.action-buttons {
  display: flex;
  justify-content: center;
}

.action-buttons div {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid $color-grey-keyline-light;
  border-radius: 5px;
  font-size: 12px;
  line-height: 15px;
  color: $color-regent;
  margin-right: 20px;
  line-height: 40px;
  padding: 0 12px;
  cursor: pointer;
}

.accept {
  color: red;
}

%icon {
  margin-right: 5px;
  top: 4px;
  font-size: 20px;
}

.icon-red {
  @extend %icon;
  color: #FD6A49;
}

.icon-green {
  @extend %icon;
  color: $color-caribbean-green;
}
