.icon {
  color: $color-rhino-50;
  font-size: 24px;
  position: relative;
}

.green {
  color: $color-caribbean-green;
}

.icon-Home, .icon-Events, .icon-Projects, .icon-Members, .icon-Topics,
.icon-Messages, .icon-Notifications, .icon-Share, .icon-Search {
  /* empty */
}

.icon-More {
  position: relative;
  top: 3px;
}
