.icon {
  color: $color-rhino-60;
  font-size: 24px;
  position: relative;
}

.green {
  color: $color-caribbean-green;
}

:global {
  .icon-More {
    position: relative;
    top: 3px;
  }
  .icon-Replies {
    font-size: 17px;
  }
}
