$size-sidebar-width: 10rem;

.modal {
  composes: modal from 'css/layout.scss';
  overflow-y: scroll;
}

.content {
  composes: modal-content from 'css/layout.scss';
}


.left-sidebar {
  width: $size-sidebar-width;
  padding-right: 32px;
  .left-sidebar-fixed {
    position: fixed;
    padding-top: 220px;
    padding-right: 32px;
    display: flex;
    height: 100%;
    width: $size-sidebar-width;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    &.border {
      border-right: 1px solid $color-cape-cod-10;
    }
  }
}

.nav-link {
  margin-bottom: 8px;
  @include font-regular;
  font-size: 17px;
  color: $color-rhino-30;
  text-decoration: none;
  &:hover, &:visited {
    color: $color-rhino;
  }
  &:hover, &:visited, &:active, &:link {
    text-decoration: none;
  }
}

.active {
  color: $color-rhino;
}

.center {
  width: $center-column-width;
  padding-top: 72px;
}

.narrow {
  padding-left: 47px;
  padding-right: 47px;
  padding-bottom: 72px;
}

.right-sidebar {
  width: $size-sidebar-width;
  .right-sidebar-inner {
    position: fixed;
    width: $size-sidebar-width;
  }
}

// CloseButton
.close-button {
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: $color-athens-gray-medium;
  cursor: pointer;
}

.icon {
  font-size: 30px;
  position: relative;
  top: 7px;
  color: $color-rhino;
}
