$size-sidebar-width: 13rem;

.modal {
  composes: modal from 'css/layout.scss';
  overflow-y: scroll;
}

.modal--modal-settings-layout {
  overflow-y: scroll;
  position: 'relative';
  top: 0;
  padding: 10px;
}

.modal.fullWidth {
  width: 100%;

  .left-sidebar {
    display: none;
  }
}

.content {
  composes: modal-content from 'css/layout.scss';
}


.left-sidebar {
  width: $size-sidebar-width;
  padding-right: 32px;
  .left-sidebar-fixed {
    position: fixed;
    padding-top: 220px;
    padding-right: 32px;
    display: flex;
    height: 100%;
    width: $size-sidebar-width;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    &.border {
      border-right: 1px solid $color-cape-cod-10;
    }
  }
}

.nav-link {
  margin-bottom: 8px;
  @include font-regular;
  font-size: 17px;
  color: $color-rhino-30;
  text-decoration: none;
  &:hover, &:visited {
    color: $color-rhino;
  }
  &:hover, &:visited, &:active, &:link {
    text-decoration: none;
  }
}

.active {
  color: $color-rhino;
}

.center {
  width: $center-column-width;
  padding-top: 72px;

  > div {
    padding-bottom: 150px;
  }
}

.narrow {
  padding-left: 47px;
  padding-right: 47px;
  padding-bottom: 72px;
}

.right-sidebar {
  width: 0;
  .right-sidebar-inner {
    position: fixed;
    width: 0;
  }
}

// CloseButton
.close-button {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  top: 76px;
  right: 30px;
  background-color: $color-athens-gray-medium;
  cursor: pointer;
}

.icon {
  font-size: 30px;
  position: relative;
  top: 7px;
  color: $color-rhino;
}

.arrowDown {
  display: none;
}

.left-sidebar.leftSideBarHidden {
  display: none;
}


@media screen and (max-width: 1000px) {
  .center {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  .center {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .center {
    width: 80%;
  }
}

@media screen and (max-width: 740px) {
  .left-sidebar.leftSideBarHidden {
    display: none;
  }

  .center {
    width: 95%;
    padding-top: 100px;
    margin: 0 auto;
  }

  .left-sidebar {
    width: 100%;
    padding-right: 0;
    height: 100px;
    z-index: 100;
    position: absolute;
  }

  .left-sidebar .left-sidebar-fixed {
    padding-right: 32px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    padding-right: 0;
    padding-top: 80px;
    flex-direction: columns;
    border-right: none;
    border-bottom: 1px solid $color-cape-cod-10;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 160px;
    padding: 0;
    overflow: hidden;
    height: 40px;
    border: 1px solid rgba(235, 236, 239, 1.000);
    border-radius: 5px;
    background-color: white;
    align-items: flex-start;

    &:hover {
      height: auto;
    }
  }

  .active {
    order: -5;
  }

  .arrowDown {
    display: block;
    position: absolute;
    top: 9px;
    right: 10px;
  }

  .nav-link {
    padding: 0 10px;
    margin: 0 10px;
    display: block;
    height: 40px;
    line-height: 40px;
  }

  .narrow {
    padding-top: 100px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .right-sidebar {
    position: relative;
    z-index: 120;
  }

  .nav-link {
    font-size: 15px;
  }
}

@media screen and (max-width: 425px) {
  .nav-link {
    font-size: 14px;
    padding: 0 4px;
    margin: 0 4px;
  }

  .title {
    line-height: 20px;
  }

  .narrow {
    padding: 80px 0 250px 0;
  }

  .left-sidebar {
    height: 85px;
  }

  .icon {
    font-size: 20px;
    top: -10px;
  }

  .left-sidebar .left-sidebar-fixed {
    top: 21px;
  }

  .close-button {
    width: 40px;
    height: 40px;
    line-height: 64px;
  }
}
