.cardPadding {
  padding: 0px $space-4x;
}

.body {
  margin-bottom: 36px;
}

.smallMargin {
  margin-bottom: 12px;
}

.title {
  composes: cardPadding;
  margin-bottom: 12px;
}

.details {
  composes: cardPadding;
  // Extract typography? This one is exactly half way between
  // BDY-LT-LG and BDY-LT-SM
  @include font-regular;
  color: $color-rhino-60;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.headerLocation {
  display: block;
  margin: -10px 0 10px 15px;
  composes: timestamp from 'css/typography.scss';
}

.locationIcon {
  margin: 0 3px 0 0;

  img {
    height: 12px;
    width: 12px;
    position: relative;
    top: -1px;
  }
}

.file-attachments {
  composes: cardPadding;
  display: flex;
  flex-direction: row;
}

.file-attachment {
  display: flex;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  &:hover, &:visited, &:link, &:active {
    text-decoration: none;
  }
}

.file-icon {
  font-size: 20px;
  color: $color-tree-poppy;
  margin-right: 8px;
}

.file-name {
  @include font-regular;
  color: $color-caribbean-green;
  &:hover {
    color: $color-gossamer;
  }
  font-size: 12px;
  max-width: 155px;
  overflow: hidden;
  text-overflow: ellipsis;
}

:global {
  .hashtag, .mention {
    color: $color-caribbean-green;
    &:hover {
      text-decoration: none;
      color: $color-gossamer;
    }
  }
}
