$text-input-height: 40px;

.wrapper {
  border-radius: 4px;
  border: 1px solid $color-rhino-30;
  padding: 0 16px;
  height: $text-input-height;
  display: flex;
  align-items: center;
}

.input {
  height: $text-input-height - 2px;
  line-height: $text-input-height - 2px;
  border: none;
  outline: none;
  composes: bdy-drk-sm from 'css/typography.scss';
  color: $color-rhino;
  padding: 0;
  flex: 1;
}

.active {
  border-color: $color-rhino-50;
}

.clear {
  composes: faint-lt-sm from 'css/typography.scss';
  cursor: pointer;
}
