$text-input-height: 40px;

.wrapper {
  border-radius: 4px;
  border: 1px solid $color-rhino-10;
  height: $text-input-height;
  padding: 0px;
  display: flex;
  align-items: center;
}

.input {
  height: $text-input-height - 2px;
  line-height: $text-input-height - 2px;
  border: none;
  outline: none;
  composes: bdy-drk-sm from 'css/typography.scss';
  color: $color-rhino;
  padding: 0 16px;
  flex: 1;
  &::placeholder {
    color: $color-rhino-30;
  }
}

.active {
  border-color: $color-rhino-50;
}

.clear {
  composes: faint-lt-sm from 'css/typography.scss';
  &:hover {
    color: $color-rhino-50;
  }
  cursor: pointer;
}

.modal-input {
  background-color: transparent;
  border: none;
  width: 100%;
  color: $color-white;
  font-weight: lighter;
  text-align: left;
  border-bottom: 1px solid $color-athens-gray-dark-50;
  font-size: 24px;
  color: $color-white;
}

.modal-input::placeholder {
  color: $color-white;
  text-align: center;
}

.modal-input:focus {
  outline: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
