$text-input-height: 40px;

.wrapper {
  border-radius: 4px;
  border: 1px solid $color-rhino-10;
  height: $text-input-height;
  padding: 0px;
  display: flex;
  align-items: center;
}

.input {
  height: $text-input-height - 2px;
  line-height: $text-input-height - 2px;
  border: none;
  border-radius: 4px;
  outline: none;
  composes: bdy-drk-sm from 'css/typography.scss';
  color: $color-rhino;
  padding: 0 16px;
  flex: 1;
  &::placeholder {
    color: $color-rhino-30;
  }
}

.loading {
  margin-right: 5px;
}

.active {
  border-color: $color-rhino-60;
}

.clear {
  composes: faint-lt-sm from 'css/typography.scss';
  &:hover {
    color: $color-rhino-60;
  }
  cursor: pointer;
  margin-right: $space-1x;
  // Turning this off to make message search cleaner
  display: none;
}

// Modal themes
.modal-input {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  width: 90%;
  font-weight: lighter;
  text-align: left;
  border-bottom: 1px solid $color-athens-gray-dark-50;
  font-size: 24px;
  color: $color-white;
}

.modal-input::placeholder {
  color: $color-white;
}

.modal-input:focus {
  outline: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partial {
  font-size: 20px;
  width: 100%;
  border-bottom: none;
}

@media screen and (max-width: 700px) {
  .modal-input {
    font-size: 18px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 700px) {
  .modal-input {
    font-size: 14px;
    padding-left: 5px;
  }
}


@media screen and (max-width: 650px) {
  .clear {
    top: -4px;
  }
}
