.form {
  background-color: white;
  box-shadow: 0px 5px 15px 0px $color-black-10;
  border-radius: 8px;
  width: 320px;
}

.formWrapper {
  padding: 25px;
}

.container {
  background-color: white;
  border-radius: 8px;
  width: 320px;
}

.title {
  composes: hdr-headline from 'css/typography.scss';
  color: $color-caribbean-green;
  text-align: center;
}

.blurb {
  composes: bdy-lt-sm from 'css/typography.scss';
  text-align: center;
  margin-bottom: 30px;
}

.sub-header {
  composes: bdy-lt-sm from 'css/typography.scss';
  text-align: center;
}

.or {
  composes: bdy-lt-sm from 'css/typography.scss';
  text-align: center;
}

.field {
  margin-bottom: 20px;
  height: 50px;

  input {
    height: 50px;
    border: 1px solid rgba(225, 229, 233, 1.00);
    background-color: rgba(251, 252, 253, 1.00);
    padding-top: 8px;
  }
}

.back-button {
  color: rgba(128, 140, 156, .50);
  border: 1px solid rgba(128, 140, 156, .50);
  text-align: center;
  font-size: 12px;
  margin-right: 20px;
  padding: 2px 10px 2px 10px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  top: 5px;
  left: 8px;
  text-decoration: none;
}

.back-button:hover {
  color: $color-caribbean-green;
  background-color: $color-white;
  text-decoration: none;
}

.codeWrapper {
  margin-bottom: 20px;
}

.submit {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.closeIcon {
  font-size: 14px;
  margin: 8px;
}

.connect-label {
  composes: caption-lt-lg from 'css/typography.scss';
  margin-top: $space-4x;
  margin-bottom: $space-4x;
  text-align: center;
}

.auth-buttons {
  background-color: rgba(247,247,247, 1);
  padding: 30px 0;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  :not(:last-child) {
    margin-bottom: $space-4x;
  }
}

.error {
  color: $color-amaranth;
  background-color: transparentize($color-amaranth, 0.9);
  border: 1px solid $color-amaranth;
  border-radius: 4px;
  padding: 9px 16px;
  margin-bottom: 20px;
}

.below-container {
  margin-top: $space-2x;
  a {
    color: white !important;
    cursor: pointer;
  }
}
