.comments {
  border-top: 1px solid $color-cape-cod-10;
  padding-top: 25px;
}

// ShowMore

.showMore {
  padding: 0 25px;
  margin-bottom: 20px;
  composes: text-button from 'css/typography.scss';
}
