.comments {
  padding-top: 25px;
  padding-bottom: 100px;
}

// ShowMore

.showMore {
  padding: 0 25px;
  margin-bottom: 20px;
  composes: text-button from 'css/typography.scss';
}

.form-wrapper {
  position: fixed;
  bottom: 0;
  width: $detail-column-width;
  padding: 0 $space-6x;
}

.people-typing {
  position: fixed;
  bottom: -3px;
}
