.comments {
  padding-top: 25px;
  padding-bottom: 100px;
  border-top: 1px dashed $color-cape-cod-10;
}

.form-wrapper {
  position: fixed;
  bottom: 0;
  background-color: rgba(255,255,255,.9);
  padding: 0 20px;
  z-index: 10;
}

.people-typing {
  position: fixed;
  bottom: -17px;
  font-size: 12px;
}

.signup-button, .signup-button:visited {
  line-height: 2em;
  background: #40A1DD;
  border-radius: 15px;
  color: white;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 2em;
  text-align: center;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

@media screen and (max-width: 600px) {
  .form-wrapper {
    padding: 0 10px;
  }
}


@media screen and (max-width: 320px) {
  .form-wrapper {
    padding: 0 5px;
  }
}
