.root {
  display: inline-block;
  /* shared font styles */
  color: $color-caribbean-green;
  font-size: 1em;
  line-height: 1.2;
  margin-top: -$space-2x;
  /* clicking anywhere will focus the input */
  cursor: text;
}

.rootFocused {
  border-color: #B1B1B1;
}

.selected {
  display: inline;
  list-style: none;
  padding: 0px;
}

.selectedTag {
  color: $color-caribbean-green;
  display: inline-flex;
  align-items: center;
  padding: $space-2x $space-3x 0 0;
  border: 0px;
  background: transparent;
  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.selectedTagName {
  /* !empty */
}

.selectedTagImage {
  margin-right: 5px;
}

.selectedTagRemove {
  @include font-regular;
  font-size: 1em;
  content: '\2715';
  cursor: pointer;
  color: #AAA !important;
  margin-left: 8px;
}

.selectedTag:hover,
.selectedTag:focus {
  border: none;
}

.search {
  display: inline-block;
  /* match tag layout */
  padding-top: $space-2x;
  /* prevent autoresize overflowing the container */
  max-width: 100%;
  line-height: 1;
  position: relative;
  top: -8px;
}

@media screen and (min-width: 30em) {
  .search {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }
}

.search input {
  background: none;
  /* prevent autoresize overflowing the container */
  max-width: 100%;
  min-width: 180px;
  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  color: $color-rhino-80;
  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.search input::placeholder {
  color: $color-rhino-30;
}

.search input::-ms-clear {
  display: none;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
}

@media screen and (min-width: 30em) {
  .suggestions {
    min-width: 240px;
  }
}

.suggestions ul {
  margin: 0 -1px;
  padding: 0;
  list-style: none;
  background: white;
  border-bottom: 1px solid #D1D1D1;
  border-left: 1px solid #D1D1D1;
  border-right: 1px solid #D1D1D1;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 0 6px -6px rgba(0, 0, 0, 0.2);
}

.suggestion {
  font-size: 14px;
  padding: 6px 8px;
}

.suggestion a {
  color: $color-caribbean-green;
  display: block;
}

.suggestion:hover {
  cursor: pointer;
  background: #eee;
}

.suggestion-active {
  background: #b7cfe0;
}

.suggestion .disabled {
  opacity: 0.5;
  cursor: auto;
}

@media screen and (max-width: 600px) {
  .search {
    position: relative;
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .root {
    font-size: 14px;
  }
}