.title {
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 25px;
  composes: hdr-display from 'css/typography.scss';
  background-color: $color-catskill-white;
  border: none;
  width: 100%;
}

.prompt {
  composes: bdy-drk-sm from 'css/typography.scss';
  margin-bottom: 20px;
}

.help {
  padding-top: 40px;
  composes: bdy-lt-sm from 'css/typography.scss';
  a {
    color: $color-rhino;
  }
  border-top: $light-border;
}

.help-paragraph {
  margin-bottom: 20px;
}

///// probably trash

.banner {
  width: 100%;
  height: 165px;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  padding-top: 5px;
  padding-left: 5px;
}

.change-banner-button {
  /* empty */
}

.avatar {
  display: flex;
  align-items: flex-end;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin: -70px auto $space-8x auto;
}

.change-avatar-button {
  margin: 0 auto;
  width: 30px;
}

.control-label {
  display: block;
  composes: tag from 'css/typography.scss';
  color: $color-rhino-30;
  margin-bottom: $space-1x;
}

.social-label {
  composes: control-label;
  margin-top: $space-9x;
}

.button-row {
  display: flex;
  width: 100%;
  margin-top: $space-9x;
}

.save-button {
  margin: 0 auto;
}

// go through above to remove dead code

// SettingsRow
.settingsRow {
  display: flex;
  align-items: center;
  border-bottom: $light-border;
  height: 65px;
}

.expanded {
  height: 112px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 10px;
}

.nameRow {
  display: flex;
  width: 100%;
}

.avatarIcon {
  font-size: 28px;
  margin-right: 8px;
}

.name {
  /* empty */
}

.arrowIcon {
  margin-left: auto;
}

.iconRow {
  padding-left: 36px;
}

.groupAvatar {
  @include image(24px);
  margin-right: 13px;
}

// SettingsIcon
.icon {
  font-size: 44px;
  margin-right: 21px;
  color: $color-cape-cod-20;
}

.highlightIcon {
  color: $color-tree-poppy
}

