.new-message {
  // float: right;
}
@media (max-width: $bp-small-screen) {
  .new-message {
    // font-size: 16px;
  }
}

.close-link {
  // float: right;
  // margin-left: 10px;
}

//

$messages-inner-padding: $space-6x;

.hidden {
  display: none;
}

.modal {
  composes: modal from 'css/layout.scss';
  min-width: $bp-min-screen-width;
  display: flex;
  flex-direction: column;
}

.content {
  composes: modal-content from 'css/layout.scss';
  display: flex;
}

.left-column {
  flex: initial;
  border-right: $light-border;
}
@media (max-width: $bp-small-screen) {
  .left-column {
    width: 100%;
  }
}

.right-column {
  flex: 1;
}
@media (max-width: $bp-small-screen) {
  .right-column {
    width: 100%;
  }
}

// Header

.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  line-height: 1;
  border-bottom: $light-border;
  border-right: $light-border;
  outline: none;
  -webkit-box-shadow: -5px 5px 20px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: -5px 5px 20px 0px rgba(0,0,0,0.05);
  box-shadow: -5px 5px 20px 0px rgba(0,0,0,0.05);
  background-color: $color-rhino-10;
}

.header-text {
  composes: bdy-drk-lg from 'css/typography.scss';
  // padding: $space-2x $space-2x $space-7x 0;
  flex: 1;
  // word-wrap: break-word;
}
@media (max-width: $bp-small-screen) {
  .header-text {
    font-size: 18px;
  }
}

// Thread

.thread {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.thread-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  line-height: 1;
  border-bottom: $light-border;
  border-right: $light-border;
  outline: none;
  -webkit-box-shadow: -5px 5px 20px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: -5px 5px 20px 0px rgba(0,0,0,0.05);
  box-shadow: -5px 5px 20px 0px rgba(0,0,0,0.05);
}

.thread-header-text {
  composes: bdy-drk-lg from 'css/typography.scss';
  // padding: $space-2x $space-2x $space-7x 0;
  flex: 1;
  // word-wrap: break-word;
}
@media (max-width: $bp-small-screen) {
  .header-text {
    font-size: 18px;
  }
}

// Misc

.more-icon {
  padding: $space-1x 0;
}

.message-form {
  padding: 0 $messages-inner-padding $space-7x $messages-inner-padding;
  width: 100%;
}

.people-typing {
  position: absolute;
  bottom: 0;
  height: $space-7x;
  line-height: $space-7x;
  vertical-align: middle;
  left: $messages-inner-padding;
  background: $color-white;
}

.arrow-down {
  margin-right: 30px;
  margin-top: 10px;
  color: $color-caribbean-green;
  cursor: pointer;
}

.arrow-up {
  margin-right: 30px;
  margin-top: 10px;
  color: $color-rhino-80;
  cursor: pointer;
}

.toggle-link {
  color: $color-caribbean-green;
  cursor: pointer;
}
