$messages-inner-padding: $space-6x;

.modal {
  composes: modal from 'css/layout.scss';
}

.content {
  composes: modal-content from 'css/layout.scss';
  display: flex;
}

.left-column {
  width: 30%;
}

.right-column {
  width: 70%;
}

// Thread

.thread {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  min-height: $messages-header-height;
  // padding: $space-5x $space-6x;
  padding-top: $space-5x;
  padding-left: $space-6x;
  padding-right: $space-6x;
  border-bottom: $light-border;
  border-left: $light-border;
  border-right: $light-border;
  outline: none;
  -webkit-box-shadow: -5px 5px 20px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: -5px 5px 20px 0px rgba(0,0,0,0.05);
  box-shadow: -5px 5px 20px 0px rgba(0,0,0,0.05);
}

.header-text {
  composes: bdy-drk-lg from 'css/typography.scss';
  padding: $space-2x $space-2x $space-7x 0;
  flex: 1;
  word-wrap: break-word;
}

.more-icon {
  padding: $space-1x 0;
}

.message-form {
  border-left: $light-border;
  padding: 0 $messages-inner-padding $space-7x $messages-inner-padding;
  width: 100%;
}

.people-typing {
  position: absolute;
  bottom: 0;
  height: $space-7x;
  line-height: $space-7x;
  vertical-align: middle;
  left: $messages-inner-padding;
  background: $color-white;
}

.arrow-down {
  margin-right: 30px;
  margin-top: 10px;
  color: $color-caribbean-green;
  cursor: pointer;
}

.arrow-up {
  margin-right: 30px;
  margin-top: 10px;
  color: $color-rhino-80;
  cursor: pointer;
}

.toggle-link {
  color: $color-caribbean-green;
  cursor: pointer;
}
