.people-selector-contacts {
  composes: messages-section from 'components/MessageSection/MessageSection.scss';
  flex: 1;
}

.contacts-header {
  composes: hdr-subheadline from 'css/typography.scss';
  margin-top: $space-8x;
  color: $color-rhino-80;
}

.contact-list {
  padding: 0;

  li:hover {
    background-color: $color-rhino-10;
  }
}
