.people-selector-contacts {
  composes: messages-section from 'components/MessageSection/MessageSection.scss';
  flex: 1;
  padding-top: $space-5x;
}

.contact-list {
  padding: 0;

  li:hover {
    background-color: $color-rhino-10;
  }
}
