.autocomplete-control {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: flex-end;
  padding-bottom: $space-2x;
  margin-right: $space-5x;
  min-height: $space-13x;
}

.backButton {
  display: none;
}

.autocomplete {
  composes: body-drk-lg from 'css/typography.scss';
  flex: 1;
  border: 1px dashed rgba(199, 204, 211, 1.00);
  border-radius:  30px;
  height:  2.5rem;
  transition:  all .25s ease;
  padding:  0 15px;
  width:  150px;
  color:  rgba(49, 73, 101, 1.00);
  box-shadow: 0px 4px 10px rgba(42, 64, 89, 0);
  outline: none;
  margin-right: 0.5rem;
  position: relative;
  top: 8px;

  // Yep, believe it or not this is necessary... can't group the selectors!
  &::-webkit-input-placeholder {
    color: $color-rhino-30;
    letter-spacing: 0.4;
  }

  &::-moz-placeholder {
    color: $color-rhino-30;
    letter-spacing: 0.4;
  }

  &:-ms-input-placeholder {
    color: $color-rhino-30;
    letter-spacing: 0.4;
  }

  &:-moz-placeholder {
    color: $color-rhino-30;
    letter-spacing: 0.4;
  }

  &::placeholder {
    color: $color-rhino-30;
    letter-spacing: 0.4;
  }
}
input.autocomplete:focus, input.autocomplete:active {
    border: 1px dashed rgba(255, 255, 255, 1.00);
    box-shadow: 0px 4px 10px rgba(42, 64, 89, 0.2);
  }

.close-button {
  margin-bottom: $space-4x;
  margin-left: $space-6x;
}

.arrow-down {
  margin-right: 30px;
  margin-top: 10px;
  color: $color-caribbean-green;
  cursor: pointer;
}

.thread-header {
  composes: header from '../Messages.scss';
  height: unset;
  padding-top: 0;
  padding-right: .5rem;
  padding-bottom: 0;
  padding-left: .5rem;

  .select-people {
    position: relative;
    max-width: 150px;
    padding-bottom: .5rem;
  }
}

@media screen and (max-width: 650px) {
  .backButton {
    display: block;
    position: relative;
    top: 10px;

    span {
      transform: rotate(90deg);
      display: block;
      top: -2px;
    }
  }

  .thread-header {
    padding: 5px;
    padding-bottom: 0;
    overflow: visible;

    .select-people {
      width: 100px;
      max-width: 100px;
      padding: 0;
    }
  }

  .autocomplete {
    padding: 0 5px;
    font-size: 12px;
    height: 28px;
    margin: 0;
    display: inline-block;
    width: 100px;
  }
}
