// Feed
.feed {
  overflow: auto;
  max-height: 80vh;
  width: 630px;
}

.feedItems {
  margin: 0 auto;
  width: 574px;
}

.feedItem {
  margin-bottom: 24px;
}

// CommunityBanner
.banner {
  /* empty */
}

.imageShape {
  width: 630px;
  height: 160px;
  border-radius: 4px;
}

.image {
  composes: imageShape;
  background-position: center;
  background-size: cover;
}

.fade {
  // TODO: replace these with pseudo elements
  composes: imageShape;
  position: relative;
  background-image: linear-gradient(180deg, $color-cod-gray-0, $color-cod-gray-0 30%, $color-cod-gray-dark);
}

.fade2 {
  composes: imageShape;
  background-color: $color-rhino-30;
}
