$size-sidebar-width: 10rem;

// Duplicated from routes/Messages/Messages.scss
.modal {
  position: fixed;
  background: $color-white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.content {
  display: flex;
  justify-content: center;
  width: $content-width;
  margin: 0 auto;
  display: flex;
}

.left-sidebar {
  width: $size-sidebar-width;
  padding-top: 220px;
  padding-right: 32px;
  border-right: 1px solid $color-cape-cod-10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.nav-link {
  margin-bottom: 8px;
  @include font-regular;
  font-size: 17px;
  color: $color-rhino-30;
}

.nav-link--active {
  color: $color-rhino;
}

.right-sidebar {
  width: $size-sidebar-width;
}

// SettingsControls
.center {
  width: $size-feed-width;
  padding: 72px 94px 0 94px;
}

.name {
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 25px;
  composes: hdr-display from 'css/typography.scss';
  background-color: $color-catskill-white;
  border: none;
  width: 100%;
}

.banner {
  width: 100%;
  height: 165px;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
}

.avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin: -70px auto 0 auto;
}

.control-label {
  display: block;
  composes: tag from 'css/typography.scss';
  color: $color-rhino-30;
  margin-bottom: $space-1x;
}

.social-label {
  composes: control-label;
  margin-top: $space-9x;
}

.button-row {
  display: flex;
  width: 100%;
  margin-top: $space-9x;
}

.save-button {
  margin: 0 auto;
}

// Control
.control {
  margin-bottom: $space-4x;
}

.control-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid $color-ghost;
  composes: bdy-drk-sm from 'css/typography.scss';
  font-size: 16px;
  padding-bottom: $space-2x;
  resize: none;
}

// SocialControl
.linked {
  border-bottom: 1px solid $color-caribbean-green;
}

.social-control-label {
  composes: control-input;
  display: flex;
}

.link-button {
  margin-left: auto;
  composes: text-button from 'css/typography.scss';
}

// CloseButton
.close-button {
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  top: 15px;
  left: 273px;
  background-color: $color-athens-gray-medium;
  cursor: pointer;
}

.icon {
  font-size: 30px;
  position: relative;
  top: 7px;
  color: $color-rhino;
}
