// mixins
.attachment-manager {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 20px 0px;
  border-top: solid 1px $color-ghost-30;
}

// ImageManager
.section-label {
  composes: section-label from '../PostEditor.scss';
}

.image-manager {
  composes: attachment-manager;
}

.image-previews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.image-box {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.image-preview {
  composes: image-box;
}

.image {
  composes: image-box;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 8px;
}

.remove-button {
  position: absolute;
  top: -7px;
  right: -7px;
  border-radius: 50%;
  color: white;
  background-color: $color-rhino;
  font-size: 12px;
  padding: 1px;
  border: 1px solid white;
  background-clip: padding-box;
  cursor: pointer;
}

.drag-preview {
  width: 84px;
  height: 84px;
}

.add-image {
  composes: image-box;
  padding-top: 16px;
  text-align: center;
  border: 2px dashed $color-loblolly;
  font-size: 40px;
  color: $color-rhino-30;
  cursor: pointer;
}

// FileManager

.file-manager {
  composes: attachment-manager;
}

.file-previews {

}

.file-preview {
  
}

.add-file {
  border: 2px dashed $color-loblolly;
}
