.group {
  //
}

.groupDetailHeader {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 244px;
  width: 100%;
  display: block;
}

.groupDetailHeader.prereqHeader {
  height: 83px;
  border-radius: 5px;
  margin-bottom: 15px;

  .headerBackground {
    height: 83px;
    border-radius: 5px;
  }

  .groupTitleContainer {
    bottom: 15px;
    left: 15px;
  }
}

.fullPage .groupDetailHeader.prereqHeader {

  .groupTitleContainer {
    left: 15px;
    padding: 0;
    transform: translateX(0);
  }
}

.prereqDescription {
  font-size: 12px;
  margin-bottom: 25px;
}

.headerBackground {
  background: linear-gradient(180deg, rgba(42, 64, 89, 0) 0%, #2A4059 100%);
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.requestPending {
  border: 1px dashed rgba(227, 230, 235, 1.00);
  border-radius: 25px;
  padding: 5px 10px;
}

.groupTitleContainer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 10;

  img {
    border-radius: 5px;
  }
}

.fullPage .groupTitleContainer {
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 25px;
  max-width: 640px;
}

.groupTitle {
  color: $color-white;
  font-size: 24px;
  font-weight: bold;
  margin-left: 15px;
}

.groupContextInfo {
  color: white;
  font-size: 14px;
  margin-top: -5px;
  padding-left: 15px;
  opacity: .7;
}

.close {
  background-color: $color-white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 3px;
  position: absolute;
  top: 15px;
  right: 25px;
  width: 30px;
  z-index: 2;
}

.groupDetailBody {
  padding: 25px 30px;
}

.prerequisiteGroup {
  background-color: white;
  box-shadow: 0px 4px 25px rgba(128, 140, 155, 0.17);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
}

.fullPage .groupDetailBody {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 640px;
  padding-bottom: 150px;
}

.fullPage .prerequisiteGroups {
  width: 100%;
  max-width: 640px;
}

.prerequisiteGroups {
  width: 100%;
  margin-bottom: 100px;
  border: 1px dashed rgba(225, 229, 234, 1.00);
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(249, 251, 252, 1.00);

  h4 {
    text-align: center;
    color: rgba(41, 64, 90, 1.00);
    font-size: 16px;
    line-height: 18px;
    padding: 8px 0;
  }
}

.signupButton {
  text-align: center;
}

.existingMember {
  text-align: center;
}

.groupDescription {
  color: $color-regent;
  font-size: 16px;
  white-space: pre-wrap;
  margin-bottom: 18px;
}

.groupTopics {
  margin: 25px 0;
}

.groupSubtitle {
  color: $color-loblolly;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 10px;
}

.groupDetails {
  display: flex;
  margin-bottom: 20px;
}

.detailContainer {
  margin-right: 15px;
}

.detail {
  border: 1px solid $color-athens-gray-dark;
  border-radius: 2px;
  color: $color-regent;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 20px;
}

.detailText {
  margin-left: 10px;
}

.group-privacy {
  display: inline-block;
  position: relative;

  .privacy-icon {
    font-size: 16px;
    position: relative;
    top: 3px;
    color: white;
    margin-right: 5px;
    z-index: 0;
  }

  .privacy-tooltip {
    display: none;
    position: absolute;
    width: 240px;
    left: 0;
    background-color: $color-black-80;
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 5px;
    top: 20px;
    color: white;
  }

  &:hover {
    .privacy-tooltip {
      display: block;
    }
  }
}

.avatarContainer {
  color: $color-regent;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.avatar {
  margin-right: 10px;
}

%requestBar {
  background-color: $color-white;
  color: $color-regent;
  align-items: center;
  display: flex;
  padding-bottom: 10px;
  z-index: 5;
}

.requestBarBordered {
  @extend %requestBar;
  border: 1px solid $color-athens-gray-dark;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
  width: 100%;
}

.requestBarBorderless {
  @extend %requestBar;
  border-width: 0px;
  justify-content: center;
  height: auto;
}

.requestBarBorderless .requestButton {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.requestOption {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.requestHint {
  font-size: 14px;
  padding: 5px 15px;
}

.joinQuestion {
  background-color: rgba(249, 250, 251, 1.000);
  border: 1px solid rgba(224, 229, 233, 1.000);
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  margin-bottom: 25px;

  textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    color: rgba(35, 64, 91, 1.000);

    &::placeholder {
      font-style: italic;
    }

    &:focus {
      outline: none;
    }
  }
}

.center {
  text-align: center;
}

.requestButton {
  background-color: $color-picton-blue;
  border-radius: 15px;
  color: $color-white;
  cursor: pointer;
  font-size: 14px;
  margin: 0 15px;
  padding: 5px 15px;
  text-align: center;
  display: inline-block;

  h3 {
    font-size: 16px;
    color: rgba(35, 64, 91, 1.000);
  }

  &:hover {
    text-decoration: none;
    color: $color-white;
  }
}

.requestGroup {
  font-weight: bold;
}

.message {
  border-radius: 5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background: #2A4059;
  color: #FFFFFF;
  padding: 14px 0px;
}

.cta {
  text-align: center;
}

.prereqVisitLink {
  border: 1px solid rgba(228, 228, 228, 1.00);
  height: 24px;
  line-height: 24px;
  color: rgba(140, 151, 166, 1.00);
  border-radius: 24px;
  text-decoration: none;
  padding: 0 10px;

  &:hover {
    text-decoration: none;
  }
}

@media screen and (max-width: 600px) {
  .groupDetails {
    display: block;
  }

  .detailContainer {
    margin-bottom: 15px;
  }

  .groupDetailBody {
    padding: 25px 15px;
  }

  .groupDescription {
    font-size: 14px;
  }

  .detail {
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  .groupDetailBody {
    padding: 25px 10px;
  }

  .groupTitle {
    font-size: 16px;
    margin-left: 8px;
  }

  .groupContextInfo {
    font-size: 12px;
    padding-left: 8px;
  }

  .prerequisiteGroup {
    padding: 8px;
    border-radius: 10px;
  }

  .groupDetailHeader.prereqHeader, .fullPage .groupDetailHeader.prereqHeader {
    height: 65px;

    .headerBackground {
      height: 65px;
    }

    .groupTitleContainer {
      bottom: 8px;
      left: 8px;
    }
  }

  .joinQuestion textarea {
    font-size: 14px;
  }

}
