.group {
  //
}

.groupDetailHeader {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 244px;
  width: 100%;
}

.groupTitleContainer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.fullPage .groupTitleContainer {
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 25px;
  max-width: 640px;
}

.groupTitle {
  color: $color-white;
  font-size: 24px;
  font-weight: bold;
  margin-left: 15px;
}

.close {
  background-color: $color-white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 3px;
  position: absolute;
  top: 15px;
  right: 25px;
  width: 30px;
  z-index: 2;
}

.groupDetailBody {
  padding: 25px 30px;
}

.fullPage .groupDetailBody {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 640px;
  padding-bottom: 150px;
}

.signupButton {
  text-align: center;
}

.existingMember {
  text-align: center;
}

.groupDescription {
  color: $color-regent;
  font-size: 16px;
  white-space: pre-wrap;
  margin-bottom: 18px;
}

.groupTopics {
  margin: 25px 0;
}

.groupSubtitle {
  color: $color-loblolly;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 10px;
}

.groupDetails {
  display: flex;
  margin-bottom: 20px;
}

.detailContainer {
  margin-right: 15px;
}

.detail {
  border: 1px solid $color-athens-gray-dark;
  border-radius: 2px;
  color: $color-regent;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 20px;
}

.detailText {
  margin-left: 10px;
}

.avatarContainer {
  color: $color-regent;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.avatar {
  margin-right: 10px;
}

%requestBar {
  background-color: $color-white;
  color: $color-regent;
  align-items: center;
  display: flex;
  padding-bottom: 10px;
  z-index: 5;
}

.requestBarBordered {
  @extend %requestBar;
  border: 1px solid $color-athens-gray-dark;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
  width: 100%;
}

.requestBarBorderless {
  @extend %requestBar;
  border-width: 0px;
  justify-content: center;
  height: auto;
  padding-bbottom: 100px;
}

.requestBarBorderless .requestButton {
  box-shadow: $box-shadow-default;
}

.requestOption {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.requestHint {
  font-size: 14px;
  padding: 5px 15px;
}

.joinQuestion {
  background-color: rgba(249, 250, 251, 1.000);
  border: 1px solid rgba(224, 229, 233, 1.000);
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  margin-bottom: 25px;

  textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    color: rgba(35, 64, 91, 1.000);

    &::placeholder {
      font-style: italic;
    }

    &:focus {
      outline: none;
    }
  }
}

.requestButton {
  background-color: $color-picton-blue;
  border-radius: 15px;
  color: $color-white;
  cursor: pointer;
  font-size: 14px;
  margin: 0 15px;
  padding: 5px 15px;

  h3 {
    font-size: 16px;
    color: rgba(35, 64, 91, 1.000);
  }

  &:hover {
    text-decoration: none;
    color: $color-white;
  }
}

.requestGroup {
  font-weight: bold;
}

.message {
  border-radius: 5px;
  box-shadow: $box-shadow-default;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background: $color-member;
  color: #FFFFFF;
  padding: 14px 0px;
}

@media screen and (max-width: 600px) {
  .groupDetails {
    display: block;
  }

  .detailContainer {
    margin-bottom: 15px;
  }

  .groupDetailBody {
    padding: 25px 15px;
  }

}

@media screen and (max-width: 600px) {
  .groupDescription {
    font-size: 14px;
  }

  .detail {
    font-size: 12px;
  }
}
