.stream-view-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 12;
  padding: 17px 20px;
  height: auto;
  transition: height 0.1s linear;
}

.stream-view-ctrls {
  position: sticky;
  top: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, 0) 100%);
}

.search-active {
}

.extend {
}

.search-box {
  width: 100%;
  border: 0;
  outline: 0;
  margin: 10px 0 0 0;
  padding: 2px 10px;
  font-size: 14px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0px 4px 15px 0px $color-black-30;
  border: 1px solid rgba(208, 213, 220, .5);
}

.search-value {
  cursor: pointer;
  width: fit-content;
  border: 1px solid rgba(224, 229, 233, 1.000);
  border-radius: 5px;
  background: white;
  border-radius: 3px;
  padding: 0 10px;
  color: rgba(125, 140, 157, 1.000);
  display:inline-block;
  height: 30px;
  line-height: 30px;
  margin: 10px 0 0 0;
  font-size: 14px;
}

.text-ex {
  color: rgba(191, 197, 206, 1.0);
  font-size: 18px;
  position: relative;
  margin-left: 5px;
  top: 3px;
}

.dropdown {
  color: $color-regent;
  padding: 0 12px;
  font-size: 12px;
  border-radius: 5px;
  margin-right: 8px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 15px rgba(35, 65, 91, .30);
}

.dropdown-label {
  line-height: 2em;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  z-index: 1;

  span { // icon positioning
    margin-right: 0.25em;
    left: -2px;
    font-size: 16px;
    opacity: .3;
  }
}

.view-mode {
  float: right;
  background: $color-white;
  box-shadow: 0 4px 15px rgba(35, 65, 91, .30);
  border-radius: 5px;
  margin-right: 8px;

  .grid-view-icon {
    font-size: 19px;
    position: relative;
    top: 2px;
    left: 2px;
  }

  div {
    cursor: pointer;
    display: inline-block;
    border-radius: 3px;
    width: 23px;
    height: 23px;
    margin: 4px;

    // icon positioning
    span {
      position: relative;
      line-height: 0;
      &:global(.icon-CardView) {
        font-size: 22px;
        top: 3px;
        left: 0.5px;
      }
      &:global(.icon-ListView) {
        font-size: 17px;
        top: 1px;
        left: 2px;
      }
    }

    // button spacing for first element; margin's don't collapse
    &:first-child {
      margin-right: 0;
    }
  }
}
// icon colouring
.view-mode {
  span::before {
    color: rgba(191, 197, 206, 1.0);
  }
}
.mode-active {
  cursor: default;
  background: $color-picton-blue;
  span::before {
    color: $color-white;
  }
}

.toggle {
  float: right;
  background: $color-white;
  box-shadow: 0 4px 15px rgba(35, 65, 91, .30);
  border-radius: 5px;
  padding: 2px;
  height: 31px;
  cursor: pointer;

  .toggle-icon {
    font-size: 26px;
    position: relative;
    padding: 2px;

    &.subgroup-icon {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .active {
    color: $color-white;
  }
}

.margin-right {
  margin-right: 8px;
}

.active {
  background: $color-picton-blue;
  color: $color-white;
}

@media screen and (max-width: 425px) {
  .stream-view-ctrls {
    height: auto;
    padding: 10px 5px;
  }

  .view-mode div.small-grid {
    display: none;
  }

  .dropdown {
    margin-right: 5px;
    padding: 0 7px;
  }

  .dropdown-label span {
    margin-right: 0;
  }
}
