.link {
  width: 100%;

  &:hover {
    text-decoration: none;
  }
}

.chat-card {
  composes: bdy-lt-sm from 'css/typography.scss';
  $padding-left: $space-18x;
  border-radius: $space-1x;
  padding: $space-4x $space-5x;
  cursor: pointer;
  position: relative;

  &:hover {
    box-shadow: 0px 2px 6px 0px $color-black-10;
  }

  &.expanded,
  &.expanded:hover {
    box-shadow: 0px 4px 6px 0px $color-black-10;
  }

  .post-header {
    display: flex;
    align-items: center;
  }

  .profile-image {
    min-width: 2.75rem;
  }

  .post-meta {
    flex-grow: 3;
    margin-left: $space-3x;
  }

  .date {
    color: $color-rhino-30;
    font-size: 12px;
    white-space: nowrap;
    position: absolute;
    top: 2px;
    right: 10px;
  }

  .post-images {
    margin-left: $padding-left;
    width: 50%;
    border-radius: 20px;
  }

  .post-files {
    padding-left: $padding-left;
  }
}

.post-body {
  padding-left: 15px;
  margin-top: 10px;
  composes: bdy-lt-sm from 'css/typography.scss';
}

.person-name {
  composes: person-name from 'css/typography.scss';
  font-size: 12px;
  line-height: 14px;

  &:hover {
    color: $color-rhino;
    text-decoration: none;
  }
}

.post-topic {
  composes: person-name;
}

// .post-footer {
//   display: flex;
//   align-items: center;
//   color: $color-caribbean-green;
//   padding-left: $padding-left;

//   a {
//     color: $color-caribbean-green;

//     &:hover {
//       text-decoration: none;
//     }
//   }
// }

@media screen and (max-width: 425px) {
  .chat-card {
    padding: 10px;

    .post-body {
      padding-left: 10px;
    }
  }
}
