@import '../../css/bootstrap';

.image {
  background-position: center;
  background-size: cover;
  border: solid 3px $color-white;
  width: $space-11x;
  height: $space-11x;
  // TODO: attn LEJ, here's a place we're still using some other bootstrap stuff.
  @extend .img-thumbnail, .rounded-circle, .d-inline-block, .align-top;
}

.overlaps {
  margin-left: -$space-4x;
}

.overlaps:first-child {
  margin-left: 0px;
}

.medium {
  width: $space-9x;
  height: $space-9x;
}

.small {
  width: $space-7x;
  height: $space-7x;
}
