.image {
  @include image($space-11x);
  border: solid 3px $color-white;
  // TODO: attn LEJ, here's a place we're still using some other bootstrap stuff.
  composes: img-thumbnail from $bootstrap-path;
  composes: rounded-circle from $bootstrap-path;
  composes: d-inline-block from $bootstrap-path;
  composes: align-top from $bootstrap-path;
}

.overlaps {
  margin-left: -$space-4x;
}

.overlaps:first-child {
  margin-left: 0px;
}

.medium {
  width: $space-9x;
  height: $space-9x;
}

.small {
  width: $space-7x;
  height: $space-7x;
}
