.image {
  background-position: center;
  background-size: cover;
  border: solid 3px $color-white;
  width: $space-11x-base;
  height: $space-11x-base;
  composes: img-thumbnail from $bootstrap-path;
  composes: rounded-circle from $bootstrap-path;
  composes: d-inline-block from $bootstrap-path;
  composes: align-top from $bootstrap-path;
}

.overlaps {
  margin-left: -$space-4x-base;
}

.overlaps:first-child {
  margin-left: 0px;
}

.medium {
  width: $space-9x-base;
  height: $space-9x-base;
}

.small {
  width: $space-7x-base;
  height: $space-7x-base;
}
