.error {
  color: $color-amaranth !important;
}

.list-outer-container {
  display: inline-flex;
  align-items: center;
}

.list-selected {
  display: flex;
  align-items: center;
  padding: 0;
}

.list-item-selected {
  padding: 0 0.75rem 0 0;
  border: 1px solid lavender;
}

.list-input-container {
  display: flex;
  align-items: center;
  padding: 0;
}

.list-inner-container {
  display: flex;
  align-items: center;
}

.list-input {
  //
}
