.title {
  composes: hdr-headline from 'css/typography.scss';
  color: $color-caribbean-green;
  text-align: center;
  margin-bottom: 40px;
}

.field {
  display: block;
  margin-bottom: 20px;
}

.field-label {
  composes: caption-drk-lg from 'css/typography.scss';
  display: block;
}

.submit {
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}

