.post {
  min-height: 180px;
  color: $color-white;
  text-align: center;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  position: relative;
  transition: all .25s ease;
  display: block;

  /* Make it easier to drag carousel items without dragging the link */
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  user-drag: none;
  -webkit-user-drag: none;

  &:focus, &:hover {
    color: $color-white;
  }

  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    opacity: .4;
    z-index: 0;
  }

  .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 100%;
    left: 0;
    overflow: hidden;

    .type {
      text-transform: uppercase;
      font-size: 10px;
      opacity: .7;
    }
    .title {
      font-size: 14px;
      line-height: 18px;
      padding: 0 5px 5px 5px;
    }
  }

  .meta {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -15px;
    width: 100%;
    left: 0;

    > div {
      position: relative;
      left: 5px;
    }

    > span {
      position: relative;
      right: 5px;
      top: 12px;
      color: #FFFFFF;
      font-size: 18px;
      height: 16px;
      border-radius: 30px;
    }

    .commenters {
      color: black;
      position: absolute;
      top: 0;
      left: 0;
      padding: 3px 5px 2px 7px;
      font-size: 11px;
      font-family: 'Circular Book', sans-serif;
      color: rgba(41, 64, 90, 1.00);
    }

    .comments {
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.16);
    }
  }

  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}

.post:hover {
  margin-left: -3px;
  margin-right: -3px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.view-all {
  min-width: 150px;
  padding-left: 30px;
  position: relative;
  height: 180px;

  a {
    border: 1px solid rgba(192, 197, 205, 1.00);
    height: 30px;
    background-color: transparent;
    font-size: 12px;
    color: rgba(128, 140, 156, 1.00);
    line-height: 30px;
    padding: 0 15px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 30px;

    &:hover {
      text-decoration: none;
    }
  }
}

.chat {
  background-color: $color-chats;
  background: linear-gradient(180deg, #40A1DD 0%, #215778 100%);
}

.discussion {
  background-color: $color-discussions;
  background: linear-gradient(180deg, #40A1DD 0%, #215778 100%);
}

.proposal {
  background-color: $color-discussions;
  background: linear-gradient(180deg, #40A1DD 0%, #215778 100%);
}

.event {
  background-color: $color-events;
  background: linear-gradient(180deg, #EB5757 0%, #A51C1C 100%);

}

.offer {
  background-color: $color-offers;
  background: linear-gradient(180deg, #0DC39F 0%, #106252 100%);
}

.project {
  background-color: $color-projects;
  background: linear-gradient(180deg, #EC8627 0%, #A05107 100%);
}

.request {
  background-color: $color-requests;
  background: linear-gradient(180deg, #624EA0 0%, #201936 100%);
}

.resource {
  background-color: $color-resources;
  background: linear-gradient(180deg, #FDD549 0%, #B69629 100%);
}

.post.create-new {
  background-color: transparent;
  border: 1px dashed rgba(198, 202, 209, .50);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0);
  transition: all .25s ease;


  .type {
    color: rgba(198, 202, 209, 1.00);
    padding: 0 10px;
  }

  .recent-posts-cta {
    border: 1px solid rgba(130, 142, 158, 1.00);
    color: rgba(130, 142, 158, 1.00);
    font-size: 12px;
    line-height: 12px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: 10px 15px 0 15px;
    justify-content: center;
    padding: 10px;
    transition: all .25s ease;
  }

  &:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, .2);

    .recent-posts-cta {
      background-color: rgba(38, 196, 159, 1.00);
      border: 1px solid rgba(38, 196, 159, 1.00);
      color: rgba(255, 255, 255, 1);
    }
  }
}


.recent-posts :global(.slick-slide > div) {
  padding: 0 0px 20px 15px;
}

.recent-posts :global(.slick-list) {
  padding: 0 50px 0 0;
}

