.collapser {
  position: relative;
  // Prevent columns from becoming too narrow when at smaller grid tiers by
  // always setting `width: 100%;`. This works because we use `flex` values
  // later on to override this initial width.
  width: 100%;
  min-height: 1px; // Prevent collapsing
  flex: 0 0 15%;
  // Add a `max-width` to ensure content within each column does not blow out
  // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
  // do not appear to require this.
  max-width: 15%;
  transition: 0.5s;
  // // overriding bootstrap default. Seems broken
  // padding: 0 0 !important;
  margin: 0 $layout-spacing 0 15px;
  overflow: hidden;
  white-space: nowrap;
  height: calc(100vh - 56px);
}

.mapView.collapser {
  margin: 0 13px 0 15px;
}

.collapser-collapsed {
  composes: collapser;
  flex: 0 0 3rem;
  // Add a `max-width` to ensure content within each column does not blow out
  // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
  // do not appear to require this.
  max-width: 3rem;
  margin: 0 15px;
}

.navigation {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.navigation::-webkit-scrollbar {
  background-color:transparent;
  width: 5px;
  border-radius: 5px;
}

.navigation::-webkit-scrollbar-thumb {
  background-color: rgba(200,200,200,.5);
  outline: none;
}

.links {
  list-style: none;
  border-bottom: 2px solid $color-ghost-30;
  padding: 0 0 20px 0;
  margin: 0;
}

.topicItem, .item {
  display: none;
}

@media screen and (max-width: 930px) {
  .collapser {
    flex: 0 0 6%;
    min-width: 6%;
    margin: 0 15px 0 15px;
  }
}

@media screen and (max-width: 600px) {
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .navigation {
    position: relative;
    z-index: 100;
  }
  .closeBg {
    opacity: 0;
    position: fixed;
    right: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: all .25s ease;
  }

  .mapView.collapser {
    margin: 0 0 0 0;
  }

  .showGroupMenu {

    .closeBg {
      background-color: rgba(49, 73, 101, 0);
      height: 100%;
      top: 0;
      width: calc(100% - 280px);
      opacity: .5;
    }
  }
}
