:global {
  .topicSuggestionsEntry {
    padding: 2px 0 0 2px;
    transition: background-color 0.4s cubic-bezier(0.27, 1.27, 0.48, 0.56);
    text-align: left;
  }

  .topicSuggestionsEntry:active {
    background-color: $color-black-squeeze;
  }

  .topicSuggestionsEntryFocused {
    @extend .topicSuggestionsEntry;
    background-color: $color-caribbean-green;
  }

  .topicSuggestionsEntryText {
    display: inline-block;
    margin-left: 2px;
    max-width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .bold {
    font-weight: bold;
  }
}
