@mixin make-visible {
  background-color: $color-white;
  border: dashed 1px $color-rhino-30;
}

@media (min-width: 80rem) {
  .container {
    width: 80rem;
    @include make-container();
  }
}

.row {
  @include make-row();
  composes: justify-content-between from 'css/bootstrap.scss';
}

.header {
  @include make-col-ready();
  @include make-visible();
  composes: p-6 mb-6 from 'css/bootstrap.scss';
  box-shadow: 0px 3px 5px 0px $color-nepal;
  color: $color-athens-gray;
  background-color: $color-persimmon;
}

.navigation {
  @include make-visible();
  @include make-col-ready();
  // @media (max-width: 32em) {
  //   @include make-col(6);
  // }
  @media (min-width: 32.1em) {
    @include make-col(2.4);
  }
  transition: 0.5s;
}

.navigation-collapsed {
  @include make-visible();
  @include make-col-ready();
  // @media (max-width: 32em) {
  //   @include make-col(6);
  // }
  @media (min-width: 32.1em) {
    @include make-col(0.72);
  }
  transition: 0.5s;
}

.content {
  @include make-visible();
  @include make-col-ready();
  // @media (max-width: 32em) {
  //   @include make-col(6);
  // }
  @media (min-width: 32.1em) {
    @include make-col(5.439);
  }

  overflow: auto;
  max-height: 80vh;
}

.detail {
  @include make-visible();
  @include make-col-ready();
  // @media (max-width: 32em) {
  //   @include make-col(3);
  // }
  @media (min-width: 32.1em) {
    @include make-col(3);
  }
  transition: 0.5s;
}

.detail-expanded {
  @include make-visible();
  @include make-col-ready();
  // @media (max-width: 32em) {
  //   @include make-col(3);
  // }
  @media (min-width: 32.1em) {
    @include make-col(5.4);
  }
  transition: 0.5s;
}
