$min-height: 56px;

.message-form {
  border: $light-border;
  border-radius: 4px;
  width: 100%;
  min-height: $min-height;
  padding: $space-2x $space-4x $space-2x $space-2x;
  display: flex;
  background: $color-white;
}

.message-textarea {
  composes: bdy-drk-lg from 'css/typography.scss';
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  padding: 0;
  margin-top: $space-2x;
  max-height: 183px;
  font-size: 16px;

  &::placeholder {
    color: $color-rhino-60;
  }
}

.user-image {
  position: relative;
  top: 1px;
  margin-right: $space-5x;
}
