.facebook-button {
  cursor: pointer;
  text-decoration: none !important;
  color: white;
  display: flex;
  align-items: center;
  height: 40px;
  background-color: rgba(0, 103, 239, 1.00);
  border-radius: 40px;
  font-size: 16px;
  width: 240px;
  padding: 0px 16px 0px 10px;

  &:hover,
  &:focus {
    color: white;
    background-color: rgba(0, 103, 239, .8);
  }

  > span {
    background-color: white;
    color: rgba(0, 103, 239, 1.00);
    font-size: 19px;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    justify-content: center;
    border-radius: 5%;
    display: flex;
    border-radius: 24px;

    &::before {
      position: relative;
      top: 5px;
    }
  }
}
