.communities {
  padding-left: $space-4x;
  padding-right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid $color-cape-cod-10;
  overflow: hidden;
  min-height: 40px;
}

.bottomBorder {
  border-bottom: 1px solid $color-cape-cod-10;
  margin-bottom: 10px;
}

.expanded {
  padding-top: 7px;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
}

.label {
  composes: timestamp from 'css/typography.scss';
}

.communityList {
  composes: timestamp from 'css/typography.scss';
}

.communityLink {
  color: $color-caribbean-green !important;
  font-size: 12px;
  &:hover {
    text-decoration: none;
    color: $color-gossamer !important;
  }
}

.publicCommunityIcon {
  color: $color-caribbean-green;
  padding-left: 3px;
  font-size: 14px;
  top: 2px;
}

.expandLink {
  margin-left: auto;
  margin-right: 22px;
}

.expandIcon {
  composes: timestamp from 'css/typography.scss';
  font-size: 20px;
}

.expandedSection {
  width: 100%;
  padding-bottom: 10px;
}

.communityRow {
  display: flex;
  margin-bottom: 5px;
}

.communityCell {
  flex: 1;
  &:hover {
    text-decoration: none;
  }
}

.communityCellAvatar {
  @include image(20px);
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  margin-right: 10px;
}

.communityCellName {
  composes: text-button from 'css/typography.scss';
  font-size: 12px;
}
