.communities {
  padding-left: $space-4x;
  padding-right: 0;
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid $color-cape-cod-10;
  overflow: hidden;
  min-height: 40px;
}

.communityList {
  composes: timestamp from 'css/typography.scss';
}

.communityLink {
  color: $color-caribbean-green !important;
  font-size: 12px;
  &:hover {
    text-decoration: none;
    color: $color-gossamer !important;
  }
}

.bottomBorder {
  border-bottom: 1px solid $color-cape-cod-10;
  margin-bottom: 10px;
}

.expanded {
  padding-top: 7px;
  width: 100%;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
}

.label {
  composes: timestamp from 'css/typography.scss';
}

.expandLink {
  margin-left: auto;
  margin-right: 22px;
}

.expandIcon {
  composes: timestamp from 'css/typography.scss';
  font-size: 20px;
}
