// Hylo UI-Kit

// DEFINE ONLY VARIABLES IN THIS FILE, NO CSS
// These variables are globally included and should not
// be manually manually imported into any SASS file.

// -- Layout
$root-width: 1180px;

// -- Sheet and section layout
$sheet-width: $root-width;
$sheet-vertical-margin: $space-7x;
$sheet-border-radius: 6px;
$section-border-width: 1px;
