.label {
  display: inline-block;
  text-transform: uppercase;
  min-width: 80px;
  height: 25px;
  padding: 0 6px 0 6px;
  border-radius: 2px;
  line-height: 25px;
  font-size: 8pt;
  font-family: 'Circular Medium';
  text-align: center;
  letter-spacing: 0.6px;
}

.label-inner {
  display: flex;
  align-items: center;
}

.completed {
  border: 2px solid rgba(13, 195, 159, .3);
  color: $color-caribbean-green;
  height: auto;
}

.discussion {
  color: $color-picton-blue;
  background-color: $color-link-water;
}

.event {
  color: $color-medium-purple;
  background-color: $color-moon-raker;
}

.offer {
  color: $color-caribbean-green;
  background-color: $color-iceberg;
}

.resource {
  color: $color-mango-yellow;
  background-color: $color-mango-yellow-15;
}

.project {
  color: $color-fuchsia-pink;
  background-color: $color-prim;
}

.request {
  color: $color-persimmon;
  background-color: $color-peach-schnapps;
}
