.label {
  display: inline-block;
  min-width: 26px;
  height: 26px;
  padding: 0 6px 0 6px;
  border-radius: 5px;
  line-height: 25px;
  font-size: 8pt;
  font-family: 'Circular Medium';
  text-align: center;
  letter-spacing: 0.6px;
  top: 0px;
}

.typeTip {
  border: 1px solid red;
}

.label-inner {
  display: flex;
  height: 26px;
  align-items: center;
}

.completed {
  display: flex;
  color: $color-caribbean-green;
  height: auto;

  span {
    font-size: 20px;
    top: 0px;
  }
}

.starIcon {
  color: #fdd549;
  font-size: 14px;
  margin: 2px;
  top: 2px;
}

.typeIcon {
  font-size: 18px;
  font-weight: bold;
}

.chat {
  color: $color-chats;
  background-color: $color-chats-20;
}

.discussion {
  color: $color-discussions;
  background-color: $color-discussions-20;
}

.proposal {
  color: $color-discussions;
  background-color: $color-discussions-20;
}

.event {
  color: $color-events;
  background-color: $color-events-20;
}

.offer {
  color: $color-offers;
  background-color: $color-offers-20;
}

.resource {
  color: $color-resources;
  background-color: $color-resources-20;
}

.project {
  color: $color-projects;
  background-color: $color-projects-20;
}

.request {
  color: $color-requests;
  background-color: $color-requests-20;
}

@media screen and (max-width: 425px) {
  .label {
    min-width: auto;
  }

  .completed {
    width: 40px;
    height: 25px;
    line-height: 20px;
    overflow: hidden;
  }
}
