// GroupSettingsTab
.label {
  composes: tag from 'css/typography.scss';
}

.name {
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 25px;
  composes: hdr-display from 'css/typography.scss';

  background-color: $color-catskill-white;
  border: none;
  width: 100%;
}

.banner {
  width: 100%;
  height: 165px;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  padding-top: 5px;
  padding-left: 5px;
}
.change-banner-button {
  /* empty */
}

.editable-map-container {
  width: 100%;
  height: 275px;
  margin-top: 15px;
}

.avatar {
  display: flex;
  align-items: flex-end;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin: -70px auto $space-8x auto;
}

.change-avatar-button {
  margin: 0 auto;
  width: 30px;
}

.location-obfuscation-dropdown {
  composes: text-button from 'css/typography.scss';
  border: 1px solid $color-grey-keyline-light;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 16px;
  padding: 2px 5px;
  margin-left: 10px;
  line-height: 22px;
}

.location-obfuscation-dropdown-label {
  font-size: 13px;
  padding: 3px;

  span {
    vertical-align: middle;
  }
}

.skillsSetting {
  padding: 0;
  position: relative;
  margin-left: -15px;
}

.new-custom-view {
  font-size: 36px;
  color: rgba(191, 197, 206, 1.0);
}

.warning {
  color: $color-amaranth;
}

.add-custom-view {
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  padding: 10px;
  box-shadow: 0px 5px 8px rgba(35, 65, 91, .2);
  display: flex;
  align-items: center;
  justify-content: space-between;

  h4 {
    font-size: 16px;
    color: rgba(35, 65, 91, 1.0);
    margin-bottom: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.custom-view-container {
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  padding: 10px;
  box-shadow: 0px 5px 8px rgba(35, 65, 91, .2);

  /* For delete icon */
  h4 {
    display: flex;
    justify-content: space-between;
    color: rgba(35, 65, 91, 1.0);
    font-family: 'Circular Bold', sans-serif;
    font-weight: 800;
    font-size: 18px;

    span {
      vertical-align: bottom;
      cursor: pointer;
    }

    strong {
      font-size: 12px;
      font-family: 'Circular Book', sans-serif;
      opacity: .5;
      display: block;
    }

  }
}

.custom-posts-view.disabled {
  opacity: 40%;
  pointer-events: none;
}

.inline-control {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;

  input {
    min-width: 400px;
  }
}

.selectedIcon {
  font-size: 18px;
  vertical-align: middle;
}

.post-types {

  .post-types-chosen {
    margin: 0 8px;
    padding: 1px 2px;
    cursor: pointer;
    border-radius: 4px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
  }

  .post-type {
    margin: 0px 5px;
  }
}

.icon-button {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 5px;

  label {
    color: rgba(44, 64, 89, 0.6);
  }
}

.icon-button > div {
  border: 1px solid rgba(224, 229, 233, 1.0);
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
}

.custom-view-label {
  border-bottom: none;
  padding-left: 10px;
  margin-bottom: 0;
  padding-bottom: 5px;

  label {
    color: rgba(44, 64, 89, 0.6);
  }
}

.custom-view-label input {
  border: 1px solid rgba(224, 229, 233, 1.0);
  padding: 5px 8px;
  font-size: 16px;
  line-height: 16px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
}

.custom-view-row {
  border-bottom: 1px dashed rgba(225, 229, 233, 1.0);
  padding: 10px 0;
  display: flex;
  align-items: center;
  min-height: 60px;

  .label {
    margin-bottom:0;
  }
}

.custom-view-last-row {
  padding: 10px 0;

  &> div {
    border: 1px solid rgba(224, 229, 233, 1.0);
    border-radius: 5px;
  }
}

.post-types-selector {
  display: none;
  position: absolute;
  background: white;
  z-index: 100;
  border: 1px solid black;
  padding: 3px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin-top: 5px;
  width: 180px;

  &.open {
    display: block;
  }

  .post-type-switch {
    margin: 5px;
    > span {
      margin-left: 10px;
    }
  }

  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
  }
}

.help-text{
  color: $color-black-60;
  font-size: 0.75rem;
  transition: all .25s ease;
  padding-bottom: 20px;
}
