// GroupSettingsTab
.label {
  composes: tag from 'css/typography.scss';
}

.name {
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 25px;
  composes: hdr-display from 'css/typography.scss';

  background-color: $color-catskill-white;
  border: none;
  width: 100%;
}

.banner {
  width: 100%;
  height: 165px;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  padding-top: 5px;
  padding-left: 5px;
}
.change-banner-button {
  /* empty */
}

.editable-map-container {
  width: 100%;
  height: 275px;
  margin-top: 15px;
}

.avatar {
  display: flex;
  align-items: flex-end;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin: -70px auto $space-8x auto;
}

.change-avatar-button {
  margin: 0 auto;
  width: 30px;
}

.location-obfuscation-dropdown {
  composes: text-button from 'css/typography.scss';
  border: 1px solid $color-grey-keyline-light;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 16px;
  padding: 2px 5px;
  margin-left: 10px;
  line-height: 22px;
}

.location-obfuscation-dropdown-label {
  font-size: 13px;
  padding: 3px;

  span {
    vertical-align: middle;
  }
}

.skillsSetting {
  padding: 0;
  position: relative;
  margin-left: -15px;
}

.warning {
  color: $color-amaranth;
}

.custom-view-container {
  margin-bottom: 30px;

  /* For delete icon */
  h4 {
    span {
      vertical-align: bottom;
      cursor: pointer;
    }
  }
}

.custom-posts-view.disabled {
  opacity: 40%;
  pointer-events: none;
}

.inline-control {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;

  input {
    min-width: 400px;
  }
}

.selectedIcon {
  font-size: 18px;
  vertical-align: middle;
}

.post-types {

  .post-types-chosen {
    margin: 0 8px;
    padding: 1px 2px;
    cursor: pointer;
    border-radius: 4px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
  }

  .post-type {
    margin: 0px 5px;
  }
}

.post-types-selector {
  display: none;
  position: absolute;
  background: white;
  z-index: 100;
  border: 1px solid black;
  padding: 3px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin-top: 5px;
  width: 180px;

  &.open {
    display: block;
  }

  .post-type-switch {
    margin: 5px;
    > span {
      margin-left: 10px;
    }
  }

  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
  }
}

.help-text{
  color: $color-black-60;
  font-size: 0.75rem;
  transition: all .25s ease;
  padding-bottom: 8px;
}
