// GroupSettingsTab
.label {
  composes: tag from 'css/typography.scss';
}

.name {
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 25px;
  composes: hdr-display from 'css/typography.scss';

  background-color: $color-catskill-white;
  border: none;
  width: 100%;
}

.banner {
  width: 100%;
  height: 165px;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  padding-top: 5px;
  padding-left: 5px;
}
.change-banner-button {
  /* empty */
}

.editable-map-container {
  width: 100%;
  height: 275px;
  margin-top: 15px;
}

.avatar {
  display: flex;
  align-items: flex-end;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin: -70px auto $space-8x auto;
}

.change-avatar-button {
  margin: 0 auto;
  width: 30px;
}

.location-obfuscation-dropdown {
  composes: text-button from 'css/typography.scss';
  border: 1px solid $color-grey-keyline-light;
  box-sizing: border-box;
  border-radius: 30px;
  font-size: 16px;
  padding: 2px 5px;
  margin-left: 10px;
  line-height: 22px;
}

.location-obfuscation-dropdown-label {
  font-size: 13px;
  padding: 3px;

  span {
    vertical-align: middle;
  }
}

.skillsSetting {
  padding: 0;
  position: relative;
  margin-left: -15px;
}
