.datePicker {
  input {
    background-color: #D9EBF8;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-family: inherit;
    font-weight: bold;
    line-height: inherit;
    width: 120px;
    height: 35px;
    margin: 10px 0;
    text-align: right;
    padding-right: 12px;
    &::placeholder {
      background: url('/calendar-icon.svg') 12px 0 no-repeat #D9EBF8;
      color: #40A1DD;
      height: 20px;
      margin-bottom: -10px;
    }
  }
  > div{
    bottom: 45px;
    right: -70px;
  }
}

@media screen and (max-width: 460px) {
  .datePicker {
    input {
      width: 90px;
      padding-left: 9px;

      &::placeholder {
        background-image: none;
      }
    }
  }
}