.container {
  box-shadow: $box-shadow-default;
  transition: all .25s ease;
  position: absolute;
}

.triangle {
  min-width: 0 !important;
  @include is-top-triangle($color-caribbean-green, $color-caribbean-green, 14px);
  margin-left: 20px;
  top: 60px;
  left: 6px;
  width: 14px !important;
  height: 14px !important;
  z-index: 10;
}

.innerContainer {
  position: fixed;
  margin-left: 12px;
  top: 120px;
  width: 300px;
  overflow-y: auto;
  z-index: 20;
  overflow-x: hidden;
  box-shadow: $box-shadow-default;
}

.title {
  background: $color-caribbean-green;
  color: white;
  padding: 9px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }

  > span {
    font-size: 12px;
    line-height: 15px;

    text {
      opacity: 0.5;
    }
  }

  .close {
    color: white;
    cursor: pointer;
    margin-top: 7px;
  }
}

.savedViews {
  background: white;

  h2 {
    background-color: #F2F2F2;
    color: $color-regent;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    padding: 9px;
    margin-bottom: 0;
  }
}

.search {
  padding: 9px;
  border-bottom: 1px dashed $color-grey-keyline;
}

.search:last-of-type {
  border-bottom: 0;
}

.row {
  display: flex;
  justify-content: space-between;

  &.filters {
    justify-content: flex-start;
  }
}

.saved-name {
  font-size: 12px;
  line-height: 24px;
}

.saved-filters {
  justify-content: flex-start;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 10px;
  line-height: 13px;
  color: $color-grey-keyline;
}

.params {
  background: $color-member;
  padding: 11px 15px;
}

.searchName {
  background: white;
  padding: 10px 10px 0px;
  font-size: 11px;
  line-height: 14px;
  color: $color-grey-keyline;

  .filters {
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .currentFilters {
    padding-left: 5px;
  }

  .searchBox {
    border: 0;
    outline: 0;
    padding: 2px 10px;
    font-size: 14px;
    height: 30px;
    box-shadow: $box-shadow-default;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;

    > input, > input:focus, > input:active {
      border: 0;
      outline: none;
      width: 100%;
      padding-right: 10px;
      font-size: 14px;
      line-height: 18px;
      color: rgba(0, 0, 0, 0.21);
    }

    > input::placeholder {
      font-family: "Circular Book";
      color: rgba(0, 0, 0, 0.21);
    }

    .save {
      line-height: 20px;
      padding: 3px 10px;
      border: 1px solid #40A1DD;
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 11px;
      color: #40A1DD;
      text-transform: uppercase;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
    }

    .disabled {
      cursor: default;
      opacity: 0.4;
    }
  }
}

.info {
  font-size: 12px;
}

.count {
  background-color: #FD6A49;
  border-radius: 25px;
  font-size: 10px;
  line-height: 13px;
  font-weight: normal;
  color: white;
  padding: 1px 5px;
}

.delete {
  cursor: pointer;
}

.actions {
  margin: 0;
  display: flex;

  .view {
    border: 1px solid #40A1DD;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 11px;
    line-height: 14px;
    padding: 4px 10px;
    color: #40A1DD;
    cursor: pointer;
  }
}
