.toggleContainer {
  background-color: $color-rhino-10;
  color: $color-rhino-50;
  align-items: center;
  justify-content: space-between;
  display: flex;
  font-size: 12px;
  padding: 12px;
}

.toggleIcon {
  font-size: 14px;
  padding-right: 5px;
  color: $color-rhino-50;
}

.toggleIsActive {
  background-color: $color-caribbean-green-20;
  color: $color-caribbean-green;

  .toggleIcon {
    color: $color-caribbean-green;
  }
}

.toggle {
  align-items: center;
  display: flex;
  line-height: 14px;
}

.guidance {
  margin-left: 10px;
}