.people-list-container {
  composes: messages-section from '../../MessageSection/MessageSection.scss';
  flex: 1;
  padding: 0;
  border: 0;
  height: 0;
}

.people-list-header {
  composes: hdr-subheadline from 'css/typography.scss';
  margin-top: $space-8x;
  color: $color-rhino-80;
}

.people-list {
  padding: 0;

  li:hover {
    background-color: $color-rhino-10;
  }
}
