.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-fullscreen {
  composes: flex;
  width: 100%;
  height: 100vh;
}

.loading {
  composes: flex;
  width: 100%;
  height: 100%;
}

.loading-top {
  text-align: center;
  width: 100%;
  padding-top: 10%;
  height: 100%;
}

.loading-indicator {
  svg path {
    fill: #999999;
  }
}
