.person-list-item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: left;
  max-width: 500px;
  margin: $space-1x 0;
  padding: $space-2x;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  transition: all .25s ease;

  div span {
    display: block;
  }
}

.active {
  background-color: $color-rhino-10;
}

.avatar {
  margin-right: $space-4x;
  border: none;
  min-width: 36px;
}

.name {
  composes: bdy-lt-sm from 'css/typography.scss';
  flex: 1;
  padding-right: $space-2x;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.group {
  composes: faint-lt-sm from 'css/typography.scss';
}

@media screen and (max-width: 650px) {
  .name {
    font-size: 12px;
    line-height: 16px;
  }

  .person-list-item {
    max-width: 100%;
  }

  .group {
    font-size: 11px;
    line-height: 16px;
  }

  .avatar {
    min-width: 30px;
    width: 30px;
    height: 30px;
  }
}
