// AccountSettingsTab
.title {
  composes: title from 'routes/UserSettings/NotificationSettingsTab/NotificationSettingsTab.module.scss';
}

.button-row {
  padding: 4px;
  width: inherit;
}

.modal-container {
  text-align: left;
}

.saveChanges {
  position: fixed;
  bottom: 10px;
  padding: 10px;
  background: rgba(255,255,255,1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  width: inherit;
  margin-top: $space-9x;

  span {
    display: inline-block;
    color: rgba(35, 64, 91, .5);
    padding: 10px 0 0 10px;
    margin-right: 30px;
    font-size: 14px;
  }

  span.settingChanged {
    color: rgba(35, 64, 91, 1);
  }
}

.save-button {
  margin: 0 auto;
}

.help {
  composes: bdy-lt-sm from 'css/typography.scss';
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.error {
  composes: caption-lt-lg from 'css/typography.scss';
  font-size: 12px;
  border: 1px solid $color-amaranth;
  color: $color-amaranth;
  padding: 5px;
  margin-bottom: 25px;
}

@media screen and (max-width: 600px) {
  .saveChanges {
    bottom: 60px;
  }
}
