.modal {
  position: fixed;
  background: $color-white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 25;
  height: 100vh;
}

.modal-content {
  display: flex;
  justify-content: center;
  width: $content-width;
  margin: 0 auto;
  display: flex;
  height: 100vh;
}
@media (max-width: $bp-small-screen) {
  .modal-content {
    width: 100%;
  }
}