// Global Typography
.hdr-display {
  @include font-bold;
  font-size: 32px;
  letter-spacing: -0.5;
  line-height: 36px;
  color: $color-rhino;
}

.hdr-headline {
  @include font-medium;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
  color: $color-rhino;
}

.hdr-subheadline {
  @include font-regular;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  color: $color-rhino;
}

.hdr-minor {
  @include font-regular;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  color: $color-rhino;
}

/* Body */

.bdy-drk-lg {
  @include font-regular;
  color: $color-rhino-80;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}

.bdy-lt-lg {
  @include font-regular;
  color: $color-rhino-60;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 25px;
}

.bdy-drk-sm {
  @include font-regular;
  color: $color-rhino-80;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22px;
}

.bdy-lt-sm {
  @include font-regular;
  color: $color-rhino-60;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22px;
}

.caption-drk-lg {
  @include font-regular;
  color: $color-rhino-80;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}

.caption-lt-lg {
  @include font-regular;
  color: $color-rhino-60;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 19px;
}

/* Communities Drawer */

.drawer-inv-bd {
  @include font-bold;
  color: $color-white;
  font-size: 17px;
}

.drawer-inv-lg {
  @include font-medium;
  font-size: 19px;
  color: $color-white;
}

.drawer-inv-sm {
  font-size: 12px;
  color: $color-white-60;
}

.drawer-inv-li {
  font-size: 16px;
  color: $color-white-80;
}

/* Misc */

.tag {
  @include font-bold;
  color: $color-rhino-50;
  font-size: 10px;
  letter-spacing: 0.6;
  line-height: 14px;
  text-transform: uppercase;
}

.text-button {
  @include font-medium;
  color: $color-caribbean-green;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.text-button-sm {
  @include font-bold;
  color: $color-caribbean-green;
  font-size: 10px;
  letter-spacing: 0.6;
  line-height: 14px;
}

.cards {
  @include font-bold;
  color: $color-rhino;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.timestamp {
  @include font-regular;
  color: $color-rhino-30;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}
