// Global Typography

blockquote {
  border-left: solid 2px $color-rhino-30;
  color: $color-rhino-30;
  margin-left: 0.25em;
  padding: 0.5em;
  padding-bottom: 0.25em;
}

code {
  background-color: $color-athens-gray-medium;
  border-radius: 0.25em;
  font-size: 0.9em;
  padding: 0.2em;
}

pre code {
  color: $color-white-80;
  background-color: $color-rhino-80;
  border-radius: 0.25em;
  display: flex;
  font-size: 14px;
  padding: 1em 1.25em;
}

ol li p:last-child,
ul li p:last-child {
  margin-bottom: 0;
}

.hashtag, .mention {
  color: $color-caribbean-green;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: $color-gossamer;
  }
}

.linkified {
  color: #0275d8
}

.linkified:focus,
.linkified:hover {
  color: #014c8c
}

/* override draft-js placeholder */
.public-DraftEditorPlaceholder-root {
  color: $color-rhino-30 !important;
  padding-left: 2px;
}

.hdr-display {
  @include font-bold;
  font-size: 32px;
  letter-spacing: -0.5;
  line-height: 36px;
  color: $color-rhino;
}

.hdr-headline, h1 {
  @include font-medium;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 28px;
  color: $color-rhino;
  word-wrap: break-word;
}

.hdr-subheadline, h2 {
  @include font-regular;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  color: $color-rhino;
}

.hdr-minor, h3 {
  @include font-regular;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  color: $color-rhino;
}

/* Body */

input, textarea {
  font-family: 'Circular Book';
}

.bdy-drk-lg {
  @include font-regular;
  color: $color-rhino-80;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
}

.bdy-lt-lg {
  @include font-regular;
  color: $color-rhino-60;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 25px;
}

.bdy-drk-sm {
  @include font-regular;
  color: $color-rhino-80;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22px;
}

.bdy-lt-sm {
  @include font-regular;
  color: $color-rhino-60;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22px;
}

.caption-drk-lg {
  @include font-regular;
  color: $color-rhino-80;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}

.caption-lt-lg {
  @include font-regular;
  color: $color-rhino-60;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 19px;
}

/* Groups Drawer */

.drawer-inv-bd {
  @include font-bold;
  color: $color-white;
  font-size: 17px;
}

.drawer-inv-lg {
  @include font-medium;
  font-size: 19px;
  color: $color-white;
}

.drawer-inv-sm {
  font-size: 12px;
  color: $color-white-60;
}

.drawer-inv-li {
  font-size: 16px;
  color: $color-white-80;
}

/* Misc */

.tag {
  @include font-bold;
  color: $color-rhino-60;
  font-size: 10px;
  letter-spacing: 0.6px;
  line-height: 14px;
  text-transform: uppercase;
}

.text-button {
  @include font-medium;
  color: $color-caribbean-green;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  &:hover {
    text-decoration: none;
    color: $color-gossamer;
    cursor: pointer;
  }
}

.text-button-sm {
  @include font-bold;
  color: $color-caribbean-green;
  font-size: 10px;
  letter-spacing: 0.6;
  line-height: 14px;
  &:hover {
    color: $color-gossamer;
    cursor: pointer;
  }
}

.username-cards {
  @include font-bold;
  color: $color-rhino;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

.timestamp {
  @include font-regular;
  color: $color-rhino-40;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.faint-lt-sm {
  @include font-regular;
  color: $color-rhino-30;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
}

.new-messages {
  @include font-regular;
  color: $color-caribbean-green;
  font-size: 12px;
  letter-spacing: 0.6;
  line-height: 14px;
}

.person-name {
  @include font-bold;
  color: $color-rhino-80;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}

@media screen and (max-width: 600px) {
  .hdr-headline {
    font-size: 20px;
  }
}

@media screen and (max-width: 425px) {
  .hdr-headline {
    font-size: 16px;
    line-height: 20px;
    padding: 0 5px;
  }

  .hdr-display {
    font-size: 20px;
  }

  .bdy-lt-sm {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 375px) {
  .bdy-lt-sm {
    font-size: 12px;
    line-height: 16px
  }

  .caption-lt-lg {
    font-size: 10px;
    line-height: 12px
  }
}

@media screen and (max-width: 320px) {
  .timestamp {
    font-size: 10px;
  }
}