.autocomplete-control {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: flex-end;
  padding-bottom: $space-2x;
  margin-right: $space-5x;
  min-height: $space-13x;
}

.backButton {
  display: none;
}

.autocomplete {
  composes: body-drk-lg from 'css/typography.scss';
  flex: 1;
  border-radius:  30px;
  height:  2.5rem;
  transition:  all .25s ease;
  width:  150px;
  color:  rgba(49, 73, 101, 1.00);
  outline: none;
  margin-right: 0.5rem;
  border: none;
  margin-top: 8px;

  // Yep, believe it or not this is necessary... can't group the selectors!
  &::-webkit-input-placeholder {
    color: $color-rhino-30;
    letter-spacing: 0.4;
  }

  &::-moz-placeholder {
    color: $color-rhino-30;
    letter-spacing: 0.4;
  }

  &:-ms-input-placeholder {
    color: $color-rhino-30;
    letter-spacing: 0.4;
  }

  &:-moz-placeholder {
    color: $color-rhino-30;
    letter-spacing: 0.4;
  }

  &::placeholder {
    color: $color-rhino-30;
    letter-spacing: 0.4;
  }
}

.close-button {
  margin-bottom: $space-4x;
  margin-left: $space-6x;
}

.arrow-down {
  margin-right: 30px;
  margin-top: 10px;
  color: $color-caribbean-green;
  cursor: pointer;
}

.thread-header {
  composes: header from '../Messages.scss';
  height: unset;
  padding-top: 0;
  padding-right: .5rem;
  padding-bottom: 0;
  padding-left: .5rem;

  .select-people {
    position: relative;
    max-width: 150px;
  }

  .to {
    font-size: 16px;
    color: rgba(125, 140, 157, 1.000);
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 10px;
  }
}

@media screen and (max-width: 650px) {
  .backButton {
    display: block;
    position: relative;
    top: 10px;

    span {
      transform: rotate(90deg);
      display: block;
      top: -2px;
    }
  }

  .thread-header {
    padding: 9px 0;
    padding-bottom: 0;
    overflow: visible;

    .to {
      height: 28px;
      line-height: 28px;
      font-size: 12px;
    }

    .select-people {
      width: 100px;
      max-width: 100px;
      padding: 0;
    }
  }

  .autocomplete {
    padding: 0 5px;
    font-size: 12px;
    height: 28px;
    margin: 0;
    display: inline-block;
    width: 100px;
    top: 0;
  }

  .autocomplete-control {
    align-items: center;
    max-height: 64px;
    overflow: scroll;
  }
}
