.colorSample {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100px;
  margin-right: 10px;
}

.circle {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.label {
  font-size: 14px;
}

.tailSection {
  margin-bottom: 40px;
}

.tail {
  width: 2px;
  height: 15px;
  position: relative;
  left: 47px;
}

.smallCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  left: 43px;
}

.description {
  margin-top: 15px;
  color: $color-rhino-60;
  max-width: 100px;
  font-size: 14px;
}
