.container { /* !empty */ }

.section {
  position: relative;
}

// Banner
.banner {
  background-color: $color-athens-gray;
  width: 100%;
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: center;
  margin-left: 25px;
  font-size: 2em;
}

.connect-button {
  position: absolute;
  right: 0;
}

.content-margins {
  margin-left: 20px;
  margin-right: 20px;
}

// Group invite/request picker
.group-picker {
  position: absolute;
  width: 300px;
  background: white;
  border: 1px solid gray;
  z-index: 1;
  left: 300px;
  top: 40px;
}

.group-picker-list {
  height: 150px;
  overflow-y: auto;
}

.invite-button {
  padding: 0px 10px;
  color: green;
  cursor: pointer;

  &:hover {
    color: darkgreen;
  }
}

// GroupList
.group-list {
  composes: content-margins;
}

// GroupCard
.group-card {
  display: flex;
  border-bottom: 1px solid $color-rhino-10;
  padding-top: 6px;
  padding-bottom: 6px;
}

.group-image {
  margin-right: 10px;
}

.group-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.group-name {
  color: $color-rhino;
  @include font-regular;
  font-size: 24px;
  line-height: 24px;
}

.group-stats {
  color: $color-rhino-60;
  @include font-regular;
  font-size: 14px;
}

.button {
  text-align: center
}