.title {
  composes: title from '../Login/Login.module.scss'
}

.subtitle {
  composes: caption-lt-lg from 'css/typography.scss';
  margin-bottom: 25px;
}

.formWrapper {
  padding: 30px;
}

.success {
  composes: caption-lt-lg from 'css/typography.scss';
  border: 1px solid $color-caribbean-green;
  color: $color-caribbean-green;
  padding: 5px;
  margin-bottom: 25px;
}

.error {
  composes: caption-lt-lg from 'css/typography.scss';
  border: 1px solid $color-amaranth;
  color: $color-amaranth;
  padding: 5px;
  margin-bottom: 25px;
}

.field {
  margin-bottom: 20px;

  input {
    border: 1px solid rgba(225, 229, 233, 1.00);
    background-color: rgba(251, 252, 253, 1.00);
    padding-top: 0;
  }
}

.submit {
  composes: submit from '../Login/Login.module.scss'
}
