.cardPadding {
  padding: 0px $space-4x;
}

.body {
  flex: 1;
  display: flex;
  composes: cardPadding;
  padding-top: 20px;
  flex-direction: column;
}

.eventBody {
  flex-direction: row;
}

.cardPadding.eventBody {
  padding-top: 20px;
  padding-bottom: 20px;
}

.smallMargin {
}

.smallMargin .eventTop {
  display: none;
}

.constrained.smallMargin {
  margin-bottom: 0;
}

.title {
  composes: cardPadding;
  margin-bottom: 12px;
}

.details {
  composes: cardPadding;
  // Extract typography? This one is exactly half way between
  // BDY-LT-LG and BDY-LT-SM
  @include font-regular;
  color: $color-rhino-60;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.file-attachments {
  composes: cardPadding;
  display: flex;
  flex-direction: row;
}

.file-attachment {
  display: flex;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  &:hover, &:visited, &:link, &:active {
    text-decoration: none;
  }
}

.file-icon {
  font-size: 20px;
  color: $color-tree-poppy;
  margin-right: 8px;
}

.file-name {
  @include font-regular;
  color: $color-caribbean-green;
  &:hover {
    color: $color-gossamer;
  }
  font-size: 12px;
  max-width: 155px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.eventBody {
  display: flex;
  padding: 0px 10px;
  position: relative;
  flex-direction: column;
}


.eventImage .eventResponseTop {
  position: absolute;
  top: -25px;
  right: 20px;
  display: flex;
  align-items: center;
  padding-right: 15px;

}

.eventResponseTop {
  display: flex;
  align-items: center;
  padding-right: 15px;

  .rsvp {
    box-shadow: 0px 4px 15px rgba(17, 39, 64, 0.20);
    border-radius: 20px;
    margin-right: 10px;
  }

  .inviteButton {
    margin-top: 0;
    box-shadow: 0px 4px 15px rgba(17, 39, 64, 0.20);
  }
}

.constrained.eventBody {
  padding: 0 1rem;
}

.eventBodyColumn {
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-direction: column;
}

.constrained .eventBodyColumn .eventLocation {
  display: none;
}

.constrained .eventRightColumn {
  display: none;
}

.eventResponse {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;

  .inviteButton {
    margin-top: 0;
    margin-left: 10px;
  }
}

.eventAttendance {
  padding: 15px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 15px rgba(17, 39, 64, 0.20);
  border-radius: 5px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  color: $color-regent;
  line-height: 30px;
  font-size: 14px;
  text-align: left;
  align-items: center;

  .people {
    position: relative;
    display: flex;
    overflow: hidden;

    .fade {
      position: absolute;
      width: 60px;
      height: 100%;
      top: 0;
      right: 0;
      background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0.71) 42.71%, rgba(255, 255, 255, 0) 100%);
    }

    span {
      display: flex;
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 20px;
    }
  }
}

.eventData {
  composes: caption-lt-lg from 'css/typography.scss';
  display: flex;
  padding: 0px 8px;
  margin-bottom: 15px;
}

.eventTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 20px 10px;
  position: relative;
  top: 0;
  width: 100%;
}

.constrained .eventData {
  padding: 0 0 0 0;
  height: 55px;
  margin-bottom: 1px;
}

.eventLocation {
  margin-bottom: 20px;
}

.constrained .calendarDate {
  display: none;
}

.calendarDate {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  width: 45px;
  box-shadow: 0px 4px 15px rgb(17 39 64 / 20%);
  border-radius: 5px;
}

.eventImage .eventTop {
  margin-top: -18px;
}

.eventImage .calendarDate {
    margin: -30px 0 10px 0;
}

.eventDetails {

}

.constrained.eventDetails {
  display: none;
}

.inviteButton {
  margin-top: 10px;
}

.icon {
  margin-right: 5px;
  font-size: 20px;
}

@media screen and (max-width: 500px) {
  .eventBody {
    padding: 0 15px 0 15px;
    position: relative;
    flex-direction: column;
  }

  .eventAttendance {
    margin: 0 0 8px 0;
  }

  .calendarDate {
    margin-top: 0px;
  }

  .eventRightColumn {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: auto;
  }

  .inviteButton {
    margin-top: 0;
    margin-left: 15px;
  }

  .eventData {
    padding: 0 0 0 0;
    margin: 0 0 5px 0;
  }

  .cardPadding {
    padding: 15px 10px 0 10px;
  }

  .body {
    padding-bottom: 10px;
  }
}
