.cardPadding {
  padding: 0px $space-4x;
}

.body {
  margin-bottom: 36px;
  display: flex;
  composes: cardPadding;
  flex-direction: column;
}

.eventBody {
  flex-direction: row;
}

.smallMargin {
  margin-bottom: 12px;
}

.title {
  composes: cardPadding;
  margin-bottom: 12px;
}

.details {
  composes: cardPadding;
  // TODO: Extract typography? This one is exactly half way between
  // BDY-LT-LG and BDY-LT-SM
  @include font-regular;
  color: $color-rhino-60;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.file-attachments {
  composes: cardPadding;
  display: flex;
  flex-direction: row;
}

.file-attachment {
  display: flex;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  &:hover, &:visited, &:link, &:active {
    text-decoration: none;
  }
}

.file-icon {
  font-size: 20px;
  color: $color-tree-poppy;
  margin-right: 8px;
}

.file-name {
  @include font-regular;
  color: $color-caribbean-green;
  &:hover {
    color: $color-gossamer;
  }
  font-size: 12px;
  max-width: 155px;
  overflow: hidden;
  text-overflow: ellipsis;
}

:global {
  .hashtag, .mention {
    color: $color-caribbean-green;
    &:hover {
      text-decoration: none;
      color: $color-gossamer;
    }
  }
}

.eventBody {
  display: flex;
  padding: 0px 30px;
}

.eventBodyColumn {
  display: flex;
  flex-direction: column;
}

.eventData {
  composes: caption-lt-lg from 'css/typography.scss';
  display: flex;
  padding: 0px 20px;
  margin-bottom: 15px;
}

.eventLocation {
  margin-bottom: 20px;
}

.icon {
  margin-right: 10px;
  font-size: 16px;
}