.cardPadding {
  padding: 0px $space-4x;
}

.body {
  flex: 1;
  margin-bottom: 36px;
  display: flex;
  composes: cardPadding;
  flex-direction: column;
}

.eventBody {
  flex-direction: row;
}

.smallMargin {
  margin-bottom: 12px;
}

.constrained.smallMargin {
  margin-bottom: 0;
}

.title {
  composes: cardPadding;
  margin-bottom: 12px;
}

.details {
  composes: cardPadding;
  // Extract typography? This one is exactly half way between
  // BDY-LT-LG and BDY-LT-SM
  @include font-regular;
  color: $color-rhino-60;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}

.file-attachments {
  composes: cardPadding;
  display: flex;
  flex-direction: row;
}

.file-attachment {
  display: flex;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  &:hover, &:visited, &:link, &:active {
    text-decoration: none;
  }
}

.file-icon {
  font-size: 20px;
  color: $color-tree-poppy;
  margin-right: 8px;
}

.file-name {
  @include font-regular;
  color: $color-caribbean-green;
  &:hover {
    color: $color-gossamer;
  }
  font-size: 12px;
  max-width: 155px;
  overflow: hidden;
  text-overflow: ellipsis;
}

:global {
  .hashtag, .mention {
    color: $color-caribbean-green;
    &:hover {
      text-decoration: none;
      color: $color-gossamer;
    }
  }
}

.eventBody {
  display: flex;
  padding: 0px 30px;
}

.constrained.eventBody {
  padding: 0 1rem;
}

.eventBodyColumn {
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-direction: column;
}

.constrained .eventBodyColumn .eventLocation {
  display: none;
}

.constrained .eventRightColumn {
  display: none;
}

.eventRightColumn {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.eventData {
  composes: caption-lt-lg from 'css/typography.scss';
  display: flex;
  padding: 0px 20px;
  margin-bottom: 15px;
}

.constrained .eventData {
  padding: 0 0 0 0;
  height: 55px;
  margin-bottom: 1px;
}

.eventLocation {
  margin-bottom: 20px;
}

.constrained .calendarDate {
  display: none;
}

.eventDetails {

}

.constrained.eventDetails {
  display: none;
}

.inviteButton {
  margin-top: 10px;
}

.icon {
  margin-right: 5px;
  font-size: 20px;
}

@media screen and (max-width: 425px) {
  .eventRightColumn, .calendarDate {
    display: none;
  }

  .eventData {
    padding: 0 0 0 0;
    margin: 0 0 5px 0;
  }

  .eventBody {
    padding: 0 15px 0 15px;
  }

  .cardPadding {
    padding: 0 10px;
  }
}