.offers-and-requests {
  width: 100%;
  padding: 0 15px;

  .item {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 15px rgba(41, 64, 90, .2);
    border-radius: 5px;
    text-align: left;
    position: relative;
    transition: all .25s ease;
    padding: 10px 10px 10px 40px;
    margin: 0 0 15px 0;

    .meta {
      font-size: 14px;
      color: rgba(128, 140, 156, 1.00);

      .type {
        text-transform: capitalize;
      }

      .num-comments {
        color: rgba(255, 255, 255, 1);
        font-size: 10px;
        width: 18px;
        height: 18px;
        line-height: 18px;
        border-radius: 24px;
        display: inline-block;
        text-align: center;
        position: relative;
        top: -2px;
        margin-left: 5px;

        .tail {
          width: 5px;
          height: 5px;
          position: absolute;
          bottom: 1px;
          left: 1px;
        }
      }

      .num-comments.offer, .offer .tail {
        background-color: rgba(0, 196, 159, 1.00);
      }

      .num-comments.request, .request .tail {
        background-color: rgba(98, 75, 162, 1.00);
      }
    }

    .title {
      font-size: 16px;
      font-weight: bold;
      color: rgba(41, 64, 90, 1.00);
      line-height: 18px;
    }

    .author-image {
      position: absolute;
      left: -10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  a:hover {
    text-decoration: none;

    .item {
      margin-left: -3px;
      margin-right: -3px;
      box-shadow: 0px 4px 15px rgba(41, 64, 90, .4);
    }
  }

  .item.create-offer-request {
    border: 1px dashed rgba(198, 202, 209, .50);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0);
    transition: all .25s ease;

    &:hover {
      box-shadow: 0px 4px 15px rgba(41, 64, 90, .2);
    }
  }
}

.ask-offer-cta {
  display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
  align-items: center;

  a {
    font-size: 12px;
    margin-right: 5px;
    text-decoration: none;
    color: rgba(192, 197, 205, 1.00);
    border: 1px solid rgba(192, 197, 205, 1.00);
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 0 15px;
    border-radius: 30px;
    transition: all .25s ease;

    span {
      display: inline-block;
      padding-left: 5px;
      transition: all .25s ease;
    }

    .offer {
      color: rgba(37, 196, 159, 1.00);
    }

    .request {
      color: rgba(98, 75, 163, 1.00);
    }
  }

  a.offer-link:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(37, 196, 159, 1.00);
    border: 1px solid rgba(37, 196, 159, 1.00);

    .offer {
      color: rgba(255, 255, 255, 1);
    }
  }
  a.request-link:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(98, 75, 163, 1.00);
    border: 1px solid rgba(98, 75, 163, 1.00);

    .request {
      color: rgba(255, 255, 255, 1);
    }
  }
}
