$member-width: 288px;
$member-padding: 16px;
$avatar-size: 120px;
$skill-vertical-margin: 8px;
.member {
  position: relative;
  display: block;
  padding: $member-padding;
  padding-bottom: $member-padding - $skill-vertical-margin;
  text-align: center;
  border: 1px solid rgba(54,60,60,0.10);
  border-radius: 4px;
  max-width: $member-width;

  &:hover {
    text-decoration: none;
  }
}

.avatar {
  @include image($avatar-size);
  border-radius: $avatar-size/2;
}

.dropdown {
  position: absolute;
  top: 10px;
  right: 0px;
  padding: 10px;
}

.name {
  composes: hdr-headline from 'css/typography.scss';
  margin-top: $member-padding;
  word-wrap: break-word;
}

.location {
  composes: caption-lt-lg from 'css/typography.scss';
  word-wrap: break-word;
}

.tagline {
  composes: bdy-lt-sm from 'css/typography.scss';
  margin-top: $member-padding;
  word-wrap: break-word;
}

.skills {
  margin-top: $member-padding;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: $skill-vertical-margin;
}
