.post-row {
  border-bottom: 1px solid $color-cape-cod-10;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: all .25s ease;
  margin-left: 0 0;
  padding: 12px 20px;
}

.type-author {
  display: flex;
  align-items: center;

  .post-type {
    border-radius: 3px;
    padding: 2px 4px;
    font-size: 8px;
    text-transform: uppercase;
    margin-right: 5px;
    margin-top: 1px;
  }

  .post-type.event {
    border: 1px solid rgba(237, 86, 83, .25);
    color: rgba(237, 86, 83, 1);
  }

  .post-type.discussion {
    border: 1px solid rgba(58, 160, 223, .25);
    color: rgba(58, 160, 223, 1);
  }

  .post-type.offer {
    border: 1px solid rgba(0, 196, 159, .25);
    color: rgba(0, 196, 159, 1);
  }

  .post-type.resource {
    border: 1px solid rgba(254, 214, 55, .25);
    color: rgba(254, 214, 55, 1);
  }

  .post-type.project {
    border: 1px solid rgba(238, 134, 14, .25);
    color: rgba(238, 134, 14, 1);
  }

  .post-type.request {
    border: 1px solid rgba(98, 75, 162, .25);
    color: rgba(98, 75, 162, 1);
  }

  .date span {
    display: inline-block;
  }
}

.content-summary {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
}

.votes {
  flex: 0 0 50px;
  padding-right: 14px;
  text-align: center;
  color: $color-caribbean-green;
  font-weight: bold;

  a {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.participants, .details, .timestamp, .topics {
  font-size: 12px;
}

.topics {
    display: block;
    margin-bottom: -3px;
    font-size: 12px;
    opacity: .5;
}

.participants {
  color: $color-grey-keyline;

  div {
    display: flex;
    align-items: center;

    span {
      display: inline-block;
      margin-left: 3px;
    }
  }
}

.avatar {
  margin-right: 5px;
}

.title {
  color: $color-member;
  font-size: 16px;
  margin: 0;
  display: flex;
  align-items: center;

  span {
    font-size: 10px;
    font-weight: normal;
  }
}

.details {
  color: $color-regent;
  height: 1.5em;
  width: 100%;
}

.title, .details p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.vote-button {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(37, 195, 159, .5);
  background: $color-white;
  border-radius: 3px;
  font-size: 12px;
}

.vote-icon {
  display: block;
  margin: 0 0 -4px 0;
  color: $color-caribbean-green;
  font-size: 18px;
}

// button state when upvote is active
.vote-button.voted {
  background: $color-caribbean-green;

  color: $color-white !important;
  .vote-icon {
    color: $color-white;
  }
}

.topic {
  color: $color-caribbean-green;
  margin-right: 10px;
}

.timestamp {
  color: $color-grey-keyline;
  margin-left: auto;
}

// unread state overrides
.unread {

}

// active state overrides
.expanded {
  margin: 0 -1rem;
}


@media screen and (max-width: 425px) {
  .participants div span {
    display: none;
  }

  .post-type {
    display: none;
  }

  .title {
    font-size: 14px;
  }

  .details {
    font-size: 11px;
  }

  .post-row {
    padding: 10px;
  }
}
