.button {
  cursor: pointer;
  &:hover {
    .icon {
      opacity: 0.85;
    }
  }
}

.icon {
  opacity: 0.5;
  font-size: 30px;
}

.black {
  color: $color-black;
}

.white {
  color: $color-white;
  position: relative;
  top: 2px;
  left: -29px;
}
