.topRow {
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.container {
  background-color: white;
  // box-shadow: 15px 15px 52px -14px $color-ghost-30;
  box-shadow: 0px 0px 6px 0px $color-black-10;
  padding: 50px 40px 40px;
  border-radius: 8px;
  // border-top: 1px solid $color-ghost-30;
  // border-left: 1px solid $color-ghost-30;
  width: 420px;
}

.formWrapper {
  padding: 30px;
}

.title {
  composes: hdr-headline from 'css/typography.scss';
  color: $color-caribbean-green;
  text-align: center;
  margin-bottom: 40px;
}

.field {
  display: block;
  margin-bottom: 20px;
  position: relative;

  .field-label {
    color: rgba(128, 140, 156, 1.00);
    font-size: 16px;
    display: block;
    position: absolute;
    top: 12px;
    left: 15px;
    transition: all .25s ease;
  }

  .authInput {
    height: 50px;

    input {
      height: 50px;
      border: 1px solid rgba(225, 229, 233, 1.00);
      background-color: rgba(251, 252, 253, 1.00);
      padding-top: 8px;
    }

    input:-webkit-autofill, input:-internal-autofill-selected {
      animation-name: onAutoFillStart;
    }

    input:not(:-webkit-autofill) {
      animation-name: onAutoFillCancel;
    }

  }

  .field-label.active, .field-label:-webkit-autofill {
    font-size: 11px;
    top: 4px;
    left: 16px;
  }
}

/* the only way to detect autocomplete */
@keyframes onAutoFillStart {
    from {/**/}  to {/**/}
}

@keyframes onAutoFillCancel {
    from {/**/}  to {/**/}
}


.submit {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.forgot-password {
  composes: text-button from 'css/typography.scss';
  font-size: 12px;
  display: inline-block;
  float: right;
  clear: both;
  margin-bottom: 8px;
}

.connect-label {
  composes: caption-lt-lg from 'css/typography.scss';
  margin-top: $space-4x;
  margin-bottom: $space-4x;
  text-align: center;
}

.auth-buttons {
  background-color: rgba(247,247,247, 1);
  padding: 30px 0;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  :not(:last-child) {
    margin-bottom: $space-4x;
  }
}

.error {
  color: $color-amaranth;
  background-color: transparentize($color-amaranth, 0.9);
  border: 1px solid $color-amaranth;
  border-radius: 4px;
  padding: 9px 16px;
  margin-bottom: 20px;
}

.below-container {
  margin-top: $space-2x;
  a {
    color: white !important;
    cursor: pointer;
  }
}
