.link {
  width: 100%;
  &:hover {
    text-decoration: none;
  }
}

.comment-card {
  composes: bdy-lt-sm from 'css/typography.scss';
  $padding-left: $space-18x;
  border-radius: $space-1x;
  padding: $space-4x $space-5x;
  cursor: pointer;
  position: relative;

  &:hover {
    box-shadow: 0px 2px 6px 0px $color-black-10;
  }

  .comment-header {
    display: flex;
    align-items: center;
  }

  .comment-body {
    padding-left: 15px;
    margin-top: 10px;
  }

  .comment-images {
    margin-left: $padding-left;
    width: 50%;
    border-radius: 20px;
  }

  .comment-files {
    padding-left: $padding-left;
  }

  .comment-footer {
    display: flex;
    align-items: center;
    color: $color-caribbean-green;
    padding-left: $padding-left;

    a {
      color: $color-caribbean-green;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &.expanded,
  &.expanded:hover {
    box-shadow: 0px 4px 6px 0px $color-black-10;
  }
}

.comment-body {
  composes: bdy-lt-sm from 'css/typography.scss';
}

.comment-meta {
  flex-grow: 3;
  margin-left: $space-3x;
}

.person-name {
  composes: person-name from 'css/typography.scss';
  font-size: 12px;
  line-height: 14px;

  &:hover {
    color: $color-rhino;
    text-decoration: none;
  }
}

.post-title {
  /* Might not be general enough for a global style */
  composes: person-name;
}

.date {
  color: $color-rhino-30;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  top: -8px;
  right: 10px;
}

.reply-button {
  font-size: $space-3x;
  margin-right: $space-3x;
}

.profileImage {
  min-width: 2.75rem;
}


@media screen and (max-width: 425px) {
  .comment-card {
    padding: 10px;

    .comment-body {
      padding-left: 10px;
    }
  }
}
