.link {
  width: 100%;
  &:hover {
    text-decoration: none;
  }
}

.comment-card {
  composes: bdy-lt-sm from 'css/typography.scss';
  $padding-left: $space-14x;

  border: 1px solid $color-cape-cod-10;
  border-radius: $space-1x;
  padding: $space-4x $space-5x;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 2px 6px 0px $color-black-10;
  }

  .comment-header {
    display: flex;
    align-items: center;
  }

  .comment-body {
    margin-top: 10px;
    padding-left: $padding-left;
  }

  .comment-footer {
    display: flex;
    align-items: center;
    color: $color-caribbean-green;
    padding-left: $padding-left;

    a {
      color: $color-caribbean-green;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &.expanded,
  &.expanded:hover {
    box-shadow: 0px 4px 6px 0px $color-black-10;
  }
}

.comment-image {
  max-width: 256px;
  max-height: 256px;
}

.comment-body {
  composes: bdy-lt-sm from 'css/typography.scss';
}

.comment-meta {
  flex-grow: 3;
  margin-left: $space-3x;
}

.person-name {
  composes: person-name from 'css/typography.scss';
  &:hover {
    color: $color-rhino;
    text-decoration: none;
  }
}

.post-title {
  /* Might not be general enough for a global style */
  composes: person-name;
}

.date {
  color: $color-rhino-30;
}

.reply-button {
  font-size: $space-3x;
  margin-right: $space-3x;
}

.image {
  background-position: center;
  background-size: cover;
  @include fluid-height(62%);
  width: 100%;
  margin-bottom: 20px;
  margin: 0 auto 20px auto;
}
