.container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  height: 100vh;
  overflow: hidden;
}

.debug {
  .main {
    border: 1px dashed red;
  }
  .left {
    border: 1px dashed blue;
  }
  .center {
    border: 1px dashed green;
  }
  .sidebar {
    border: 1px dashed magenta;
  }
  .detail {
    border: 1px dashed purple;
  }
}

.top {
  /* empty */
  margin-bottom: -1 * $space-6x;
}

.main {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  width: $content-width;
  margin-left: auto;
  margin-right: auto;
  &.map-view {
    width: $map-content-width;
  }
}

$drawer-width: 367px;
$drawer-height: 100vh;
$drawer-z-index: 51;
.drawer {
  width: $drawer-width;
  height: $drawer-height;
  position: fixed;
  left: 0px;
  z-index: $drawer-z-index;
  display: flex;
  flex-direction: column;
  transition-delay: 0s;
  transition-duration: 0.2s;
  &.hidden {
    left: -$drawer-width;
  }
}

.left {
  /* empty */
}

.center {
  padding-left: 3px;
  background: $color-white;
  // From Bootstrap make-col-ready():
  position: relative;
  min-height: 1px; // Prevent collapsing
  height: 100vh;
  flex: 0 0 $center-column-width;
  max-width: $center-column-width;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: $space-2x;
  padding-bottom: 100px;
}

.center::-webkit-scrollbar {
  background-color:transparent;
  width: 5px;
  border-radius: 5px;
}

.center::-webkit-scrollbar-thumb {
  background-color: rgba(200,200,200,.5   );
  outline: none;
  border-radius: 3px;
}

.sidebar {
  // From Bootstrap make-col-ready():
  position: relative;
  min-height: 1px; // Prevent collapsing
  flex: 0 0 29%;
  max-width: 29%;
  transition-delay: 0.1s;
  transition-duration: 0.3s;
  right: 0px;
  padding: 0 16px 0 $layout-spacing;
  overflow-y: auto;

  &.hidden {
    opacity: 0;
    right: -60px;
    transition-delay: 0.0s;
  }
}

.detail {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0px;
  height: 100%;
  width: $detail-column-width;
  box-shadow: 0px 4px 56px 0px $color-alto;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  padding-bottom: 150px;
  overflow-y: auto;

  &.hidden {
    opacity: 0;
    right: -580px;
    transition-delay: 0.0s;
  }
}

.detail::-webkit-scrollbar {
  background-color:transparent;
  width: 5px;
  border-radius: 5px;
}

.detail::-webkit-scrollbar-thumb {
  background-color: rgba(200,200,200,.5);
  outline: none;
}

