.container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  height: 100vh;
  overflow-x: hidden;
  width: $content-width;
}

.debug {
  .main {
    border: 1px dashed red;
  }
  .left {
    border: 1px dashed blue;
  }
  .center {
    border: 1px dashed green;
  }
  .sidebar {
    border: 1px dashed magenta;
  }
  .detail {
    border: 1px dashed purple;
  }
}

.top {
  /* empty */
  margin-bottom: -1 * $space-6x;
}

.main {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  width: $content-width;
  margin-left: auto;
  margin-right: auto;
}

.left {
  /* empty */
}

.center {
  background: $color-white;
  // From Bootstrap make-col-ready():
  position: relative;
  min-height: 1px; // Prevent collapsing
  flex: 0 0 $center-column-width;
  max-width: $center-column-width;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: $space-2x;
}

.sidebar {
  // From Bootstrap make-col-ready():
  position: relative;
  min-height: 1px; // Prevent collapsing
  flex: 0 0 25%;
  max-width: 25%;
  transition-delay: 0.1s;
  transition-duration: 0.3s;
  right: 0px;
  padding: 0 16px 0 $layout-spacing;
  overflow-y: auto;

  &.hidden {
    opacity: 0;
    right: -60px;
    transition-delay: 0.0s;
  }
}

.detail {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0px;
  height: 100%;
  width: $detail-column-width;
  box-shadow: 0px 4px 56px 0px $color-alto;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  overflow-y: auto;

  &.hidden {
    opacity: 0;
    right: -580px;
    transition-delay: 0.0s;
  }
}
