.container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  height: 100vh;
  overflow: hidden;
  &.map-view {
    height: 100vh;
  }
}

.debug {
  .main {
    border: 1px dashed red;
  }
  .left {
    border: 1px dashed blue;
  }
  .center {
    border: 1px dashed green;
  }
  .sidebar {
    border: 1px dashed magenta;
  }
  .detail {
    border: 1px dashed purple;
  }
}

.top {
  /* empty */
  margin-bottom: -1 * $space-6x;
}

.main {
  padding-top: 56px;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  &.map-view {
    width: 100%;
    max-width: 100%;
  }
}

$drawer-width: 367px;
$drawer-height: 100vh;
$drawer-z-index: 51;
.drawer {
  width: $drawer-width;
  height: $drawer-height;
  position: fixed;
  left: 0px;
  z-index: 600;
  display: flex;
  flex-direction: column;
  transition-delay: 0s;
  transition-duration: 0.2s;
  box-shadow: 0px 4px 56px 0px rgba(35, 64, 91, .5);

  &.hidden {
    left: -$drawer-width;
    box-shadow: 0px 4px 56px 0px rgba(35, 64, 91, 0);
  }
}

.left {
  transition: all .45s ease;
}

.left .map-field {
    height: calc(100vh - 60px);
}

.center {
  padding-left: 3px;
  background: $color-white;
  // From Bootstrap make-col-ready():
  position: relative;
  min-height: 1px; // Prevent collapsing
  height: calc(100vh - 56px);
  flex: 0 0 $center-column-width;
  max-width: $center-column-width;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all .45s ease;
  padding-right: $space-2x;
  padding-bottom: 100px;
  &.map-view {
    max-width: $map-center-column-width;
    flex: 0 0 $map-center-column-width;
    height: calc(100vh - 40px);
    padding-bottom: 0px;
  }
}

.singleColumn .center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 0;
  height: calc(100vh - 58px);
  padding-left: 0;
}

.center.collapsedState {
  width: 43%;
  flex: 0 0 43%;
}

.center.map-view.collapsedState {
  width: calc(100% - 68px);
  max-width: calc(100% - 68px);
  flex: 0 0 100%;
}

.center::-webkit-scrollbar {
  background-color:transparent;
  width: 5px;
  border-radius: 5px;
}

.center::-webkit-scrollbar-thumb {
  background-color: rgba(200,200,200,.5   );
  outline: none;
  border-radius: 3px;
}

.sidebar {
  // From Bootstrap make-col-ready():
  position: relative;
  z-index: 10;
  min-height: 1px; // Prevent collapsing
  flex: 0 0 29%;
  max-width: 29%;
  transition-delay: 0.1s;
  transition-duration: 0.3s;
  top: 0;
  right: 0px;
  padding: 0 16px 0 $layout-spacing;
  overflow-y: auto;
  overflow-x: hidden;

  &.hidden {
    opacity: 0;
    right: -60px;
    transition-delay: 0.0s;
  }
}

.detail {
  background-color: white;
  position: absolute;
  z-index: 30;
  top: 58px;
  right: 0px;
  height: calc(100vh - 58px);
  width: $detail-column-width;
  box-shadow: 0px 4px 56px 0px $shadow-color;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  padding-bottom: 50px;
  overflow-y: auto;
  margin-top: -8px;

  &.hidden {
    opacity: 0;
    right: -1000px;
    transition-delay: 0.0s;
  }
}

.map-view .detail {
  max-width: 700px;
}

.detail::-webkit-scrollbar {
  background-color:transparent;
  width: 5px;
  border-radius: 5px;
}

.detail::-webkit-scrollbar-thumb {
  background-color: rgba(200,200,200,.5);
  outline: none;
}


@media screen and (max-width: 1024px) {
  .sidebar {
    top: -100vh;
    opacity: 0;
    transform: scale(0);
    height: 0;
  }

  .center {
    max-width: 70%;
    flex: 0 0 75%;
  }

  .center.collapsedState {
    width: 60%;
    flex: 0 0 60%;
  }

  .detail {
    width: 60%;
  }
}

@media screen and (max-width: 930px) {
  .center {
    max-width: 80%;
    flex: 0 0 80%;
    left: 5%;
  }

  .center.map-view {
    max-width: 93%;
    flex-basis: 93%;
    left: 0;
  }
}

@media screen and (max-width: 700px) {
  .center {
    max-width: 86%;
    flex: 0 0 86%;
    left: 0%;
  }

  .center.map-view {
    max-width: 90%;
    flex: 0 0 90%;
  }

  .detail {
    width: calc(100% - 80px);
    margin-top: 0;
  }

}

@media screen and (max-width: 600px) {
  .center {
    max-width: 100%;
    flex: 0 0 100%;
    left: 0%;
    height: calc(100vh - 104px);
    padding: 0 0 150px 0;
  }

  .center.map-view {
    max-width: 100%;
    flex: 0 0 100%;
    left: 0;
    padding: 0;
  }

  .detail {
    z-index: 110;
  }

  .left {
    position: fixed;
    box-shadow: 0px 4px 56px 0px $shadow-color;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    height: 50px;
  }
}

@media screen and (max-width: 425px) {
  .detail {
    width: 100%;
    margin-top: 0;
    top: 0;
  }

  .center {
    overflow-y: scroll;
  }
  .center.map-view {
    overflow-y: auto;
  }
}

@media screen and (max-width: 375px) {
  .drawer {
    width: 100%;

    &.hidden {
      left: -100%;
    }
  }
}
