.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 0 0;
  width: $content-width;
  margin-left: auto;
  margin-right: auto;
}

.header {
  // From Bootstrap make-col-ready():
  position: relative;
  width: $content-width;
  min-height: 1px; // Prevent collapsing
  margin-bottom: $space-6x;
  padding: $space-6x;
  box-shadow: 0px 3px 5px 0px $color-nepal;
  color: $color-athens-gray;
  background-color: $color-persimmon;
}

.content {
  // From Bootstrap make-col-ready():
  position: relative;
  min-height: 1px; // Prevent collapsing
  flex: 0 0 49%;
  max-width: 49%;
}

.sidebar {
  // From Bootstrap make-col-ready():
  position: relative;
  width: 100%;
  min-height: 1px; // Prevent collapsing

  flex: 0 0 25%;
  max-width: 25%;
  transition-delay: 0.1s;
  transition-duration: 0.3s;
  right: 0px;
  &.hidden {
    opacity: 0;
    right: -60px;
    transition-delay: 0.0s;
  }
}

.detail {
  composes: detail;
  padding-top: 80px;
  position: absolute;
  top: 0;
  right: 0px;
  flex: 0 0 45%;
  max-width: 45%;
  box-shadow: 0px 4px 56px 0px $color-alto;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  height: 100vh;
  width: 100vw;
  &.hidden {
    opacity: 0;
    right: -580px;
    transition-delay: 0.0s;
  }
}
