.detail-nav {
  width: 100%;
  padding: 5px;
  z-index: 30;
}


.container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  height: 100vh;
}

.hidden {
  display: none;
}

.debug {
  .main {
    border: 1px dashed red;
  }
  .left {
    border: 1px dashed blue;
  }
  .center {
    border: 1px dashed green;
  }
  .sidebar {
    border: 1px dashed magenta;
  }
  .detail {
    border: 1px dashed purple;
  }
}

.top {
  /* empty */
  margin-bottom: -1 * $space-6x;
}

.main {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: $bp-small-screen) {
  .main {
    margin: unset;
  }
}

$drawer-width: 367px;
$drawer-height: 100vh;
$drawer-z-index: 51;
.drawer {
  width: $drawer-width;
  height: $drawer-height;
  position: fixed;
  left: 0px;
  z-index: $drawer-z-index;
  display: flex;
  flex-direction: column;
  transition-delay: 0s;
  transition-duration: 0.2s;
  &.hidden {
    left: -$drawer-width;
  }
}

.left {
  // empty
}

.center {
  background: $color-white;
  // From Bootstrap make-col-ready():
  position: relative;
  min-height: 1px; // Prevent collapsing
  height: 100%;
  flex: 1;
  max-width: $center-column-width;
  min-width: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: $space-2x;
}
@media (max-width: $bp-small-screen) {
  .center {
    flex: 0 0 100%;
    max-width: unset;
    min-width: unset;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.sidebar {
  // From Bootstrap make-col-ready():
  position: relative;
  min-height: 1px; // Prevent collapsing
  flex: initial;
  max-width: 300px;
  transition-delay: 0.1s;
  transition-duration: 0.3s;
  right: 0px;
  padding: 0 16px 0 $layout-spacing;
  overflow-y: auto;

  &.hidden {
    opacity: 0;
    right: -60px;
    transition-delay: 0.0s;
  }
}
@media (max-width: $bp-small-screen) {
  .sidebar {
    display: none;
    &.hidden {
      display: none;
    }
  }
}

.detail {
  background-color: white;
  height: 100%;
  width: $detail-column-width;
  min-width: 500px;
  margin: 0 20px 0 20px;
  box-shadow: 0px 4px 26px 0px $color-alto;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  overflow-y: auto;

  &.hidden {
    opacity: 0;
    right: -580px;
    transition-delay: 0.0s;
  }
}
@media (max-width: $bp-medium-screen) {
  .detail {
    width: 100%;
    margin: unset;
    z-index: 2;
  }
}
@media (max-width: $bp-small-screen) {
  .detail {
    width: 100%;
    min-width: unset;
    margin: unset;
    z-index: 2;
  }
}

