.container {
  /* empty */
}

.row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0 0;
  width: $content-width;
  margin-left: auto;
  margin-right: auto;
}

.content {
  background: $color-white;
  // From Bootstrap make-col-ready():
  position: relative;
  min-height: 1px; // Prevent collapsing
  flex: 0 0 49%;
  max-width: 49%;
}

.sidebar {
  // From Bootstrap make-col-ready():
  position: relative;
  min-height: 1px; // Prevent collapsing
  flex: 0 0 25%;
  max-width: 25%;
  transition-delay: 0.1s;
  transition-duration: 0.3s;
  right: 0px;
  padding: 0 16px 0 $layout-spacing;
  &.hidden {
    opacity: 0;
    right: -60px;
    transition-delay: 0.0s;
  }
}

.detail {
  background-color: white;
  padding-top: 80px;
  position: absolute;
  top: 0;
  right: 0px;
  flex: 0 0 43%;
  max-width: 43%;
  box-shadow: 0px 4px 56px 0px $color-alto;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  height: 100vh;
  width: 100vw;
  &.hidden {
    opacity: 0;
    right: -580px;
    transition-delay: 0.0s;
  }
}
