// CommunitySettingsTab
.name {
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 25px;
  composes: hdr-display from 'css/typography.scss';
  background-color: $color-catskill-white;
  border: none;
  width: 100%;
}

.banner {
  width: 100%;
  height: 165px;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  padding-top: 5px;
  padding-left: 5px;
}

.change-banner-button {
  /* empty */
}

.communityPublicToggle {
  background: rgba(244, 247, 250, 0.56);
  border: 1px dashed #E1E5E9;
  padding: 25px;
  margin-bottom: 25px;
  position: relative;
}

.settingDisabled {
  border: 1px solid $color-black-10;
  border-radius: 3px;
  padding: 2px 10px;
  position: absolute;
  transition: opacity .2s ease;
  top: 20px;
  right: 25px;
  font-size: 14px;
}

.avatar {
  display: flex;
  align-items: flex-end;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin: -70px auto $space-8x auto;
}

.change-avatar-button {
  margin: 0 auto;
  width: 30px;
}

.privacy-settings {
  margin: 25px 0;
}

.privacy-detail {
  color: $color-regent;
  font-size: 14px;
  margin: 25px 0;
}

.privacy-option-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  line-height: 1;
  margin-bottom: 25px;
}

.request-setting {
  padding-left: 25px;
}

.privacy-option {
  margin-left: 10px !important;
  text-align: left !important;
  width: 70%;
}

.privacy-option.disabled {
  color: $color-regent-70;
}

label {
  color: $color-regent-70;
  margin-left: 10px;
  transition: color .25s ease;
}

.privacy-state {
  border: 1px solid $color-regent;
  border-radius: 10px;
  color: $color-regent;
  font-size: 10px;
  font-style: bold;
  transition: color .25s ease;
  padding: 2px 6px;
}

.on {
  .privacy-state {
    border: 1px solid $color-picton-blue;
    color: $color-picton-blue;
  }

  label {
    color: $color-regent !important;
  }
}

.control-label {
  display: block;
  composes: tag from 'css/typography.scss';
  color: $color-rhino-30;
  margin-bottom: $space-1x;
}

.privacy-option {
  color: $color-rhino;
  font-size: 16px;
  flex-grow: 1;
}

.social-label {
  composes: control-label;
  margin-top: $space-9x;
}

.button-row {
  display: flex;
  width: 100%;
  margin-top: $space-9x;
}

.save-button {
  margin: 0 auto;
}

.on .settingDisabled {
  opacity: 0;
}

.communityPublicToggle h3 {
  color: $color-black-50;
  padding-right: 80px;
}

.communityPublicToggle p {
  color: $color-black-30;
}

.communityPublicToggle.on h3, .communityPublicToggle.on p {
  color: $color-black;
  transition: all .25s ease;
  padding-right: 0;
}

.communityPublicToggle.on p {
  color: $color-black-60;
}

.communityPublicToggle h3 {
  font-size: 14px;
}

.communityPublicToggle p {
  font-size: 12px;
  border-bottom: 1px dashed #E1E5E9;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.request-setting label {
    display: flex;
    align-items: center;
}

.member-visibility {
  display: flex;
  align-items: center;
  justify-content: center;
}

.communitySettings {
  padding-bottom: 150px;
}