.messages-section {
  flex: 1;
  padding: 20px $space-6x 150px;
  overflow-y: auto;
}

.messages-section-inner {
    padding-bottom: 100px;
}

.new-messages {
  width: 100%;
  margin: $space-4x auto;
  display: flex;
}

.new-messages-text {
  composes: new-messages from 'css/typography.scss';
  margin-right: $space-4x;
}

.new-messages-line {
  margin-top: 7px;
  border-top: 1px solid $color-caribbean-green-50;
  flex: 1;
}
@media screen and (max-width: 650px) {
  .messages-section {
    padding:  15px 15px 15px 15px;
  }
}

@media screen and (max-width: 425px) {
  .messages-section {
    padding: 12px 12px 12px 12px;
  }
}
