:global {
  .ProseMirror {
    // Matching Post Details color
    color: rgba(44, 64, 89, 0.7);
  }

  .ProseMirror:focus {
    outline: none;
  }

  /* Placeholder (at the top) */
  .ProseMirror p.is-editor-empty:first-child::before {
    // Matches placeholder text in `PostEditor`
    color: $color-rhino-30;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  .ProseMirror p:last-child {
    margin-bottom: 0px;
  }

  .ProseMirror a {
    cursor: pointer;
  }
}

.addLinkPreviewButton {
  display: flex;
  align-items: center;
  color: $color-white-80;
  cursor: pointer;
  font-size: 0.7em;
  svg {
    margin-right: 0.3em;
    font-size: 1.5em;
  }
  &:hover {
    color: white;
  }
}

.topMenuBar,
.bottomMenuBar {
  max-width: 580px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1em;
  background-color: rgba(255, 255, 255, 1);

  button {
    background-color: none;
    margin: 0;
    background: none;
    border: 0;
    color: $color-rhino-60;
    font-size: 14px;
    border-radius: 3px;
    transition: all .25s ease;
    padding-top: 3px;

    &.is-active {
      background-color: $color-rhino-80;
      color: whitesmoke;

      &:hover {
        background-color: $color-rhino;
      }
    }
    &:hover {
      background-color: rgba(107, 121, 139, .1);
      cursor: pointer;
    }
  }

  .divider {
    display: inline-block;
    background-color: #0000001a;
    height: 1.25rem;
    margin-left: .2rem;
    margin-right: .2rem;
    width: 2px;
  }
}

// Mention and Topic suggestions
// * see HyloEditorMobile.scss for Mobile theme of same
:global {
  .tippy-box[data-theme='suggestions'] {
    background-color: transparent;

    .tippy-content {
      padding: 0
    }

    .tippy-arrow {
      color: $color-caribbean-green;
    }

    .suggestion-list {
      display: flex;
      flex-direction: column;
      background: #fff;
      border-radius: 0.5rem;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.1);
      font-size: 0.9rem;
      color: $color-rhino-50;
      padding: 0.2rem;
      position: relative;
    }

    .suggestion-list-item {
      display: flex;
      background: transparent;
      border: 1px solid transparent;
      border-radius: 0.4rem;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;
      flex-wrap: nowrap;
      margin: 0;
      padding: 0.2rem 0.4rem;
      color: $color-caribbean-green;
      &.is-selected {
        background-color: $color-caribbean-green;
        color: white;
      }
    }

    .suggestion-list-item-avatar {
      padding: 0;
      margin-right: 0.45em;
      div {
        width: 1.3rem;
        height: 1.3rem;
        border-width: 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .topMenuBar {
    display: none;
  }

  .post-chat-box {
    padding-top: 10px;
  }
}
