// From draft-js-plugins mentions docs
// mention: '', // mention text.
// mentionSuggestions: '', // suggestions component.
// mentionSuggestionsEntry: '', // an entry in the suggestions component.
// mentionSuggestionsEntryFocused: '', // the focused entry in the suggestions component.
// mentionSuggestionsEntryText: '', // an entry’s text in the suggestions component.
// mentionSuggestionsEntryAvatar: '' // an entry’s avatar image in the suggestions component.

.mention, .mention:visited {
  color: $color-caribbean-green;
  cursor: pointer;
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
  text-decoration: none;
}

.mention:hover, .mention:focus {
  color: #677584;
  background: #edf5fd;
  outline: 0; /* reset for :focus */
}

.mention:active {
  color: #222;
  background: #455261;
}

.mentionSuggestionsEntry,
.mentionSuggestionsEntryFocused {
  background-color: $color-white;
  width: 100%;
  min-height: 40px;
  display: inline-flex;
  padding: 7px 10px 3px 10px;
}

.mentionSuggestionsEntry {
  transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
}

.mentionSuggestionsEntry:active {
  background-color: #cce7ff;
}

.mentionSuggestionsEntryFocused {
  background-color: $color-black-squeeze;
}

.mentionSuggestionsEntryText {
  display: inline-block;
  margin-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 368px;
  font-size: 0.9em;
}

.mentionSuggestionsEntryAvatar {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}

.mentionSuggestionsPostEditor {
  max-height: 140px;
  overflow-y: auto;
  border: 1px solid #eee;
  position: absolute;
  min-width: 220px;
  max-width: 440px;
  background: $color-white;
  border-radius: 2px;
  box-shadow: 0px 4px 30px 0px rgba(220,220,220,1);
  cursor: pointer;
  z-index: 2;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transform: scale(0);
}

.mentionSuggestionsCommentForm {
  max-height: 140px;
  overflow-y: auto;
  border: 1px solid #eee;
  margin-top: -10.5em;
  position: absolute;
  min-width: 220px;
  max-width: 440px;
  background: $color-white;
  border-radius: 2px;
  box-shadow: 0px 4px 30px 0px rgba(220,220,220,1);
  cursor: pointer;
  z-index: 2;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transform: scale(0);
}
