.groupTopics {
  margin: 25px 0;
}

.groupSubtitle {
  color: $color-loblolly;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 10px;
}

.topicButton {
  border: 1px solid #B6EDE2;
  color: $color-caribbean-green;
  padding: 0 8px 0 0;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  position: relative;
  height: 30px;
  padding: 0 10px 0 40px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 30px;
}

.topicCount {
  background: #B6EDE2;
  display: inline-block;
  height: 100%;
  margin: 0 6px 0 0 !important;
  color: $color-caribbean-green;
  width: 30px;
  display: inline-block;
  border-radius: 3px 0 0 3px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
  font-weight: bold;
}