.post {
  padding-top: $space-6x;
  background-color: white;
}

.header {
  margin-bottom: 10px;
}

.header-sticky {
  position: fixed;
  top: $topnav-height;
  background-image: linear-gradient(0deg, rgba(255,255,255,0.00) 0%, $color-white 25%);
  padding: $space-6x 0;
  z-index: 1;
}

.activity-sticky {
  z-index: 1;
  position: fixed;
  top: $topnav-height;
  background: $color-white;
}

.image {
  background-position: center;
  background-size: cover;
  @include fluid-height(62%);
  width: 100%;
  margin-bottom: 10px;
}

.body {
  padding-left: 10px;
  padding-right: 10px;
}

.activity-header {
  composes: tag from 'css/typography.scss';
  padding-bottom: 8px;
  padding-left: 27px;
}

.join-project-button-container {
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
}

.join-project-button {
  margin: 0px;
}

// ProjectContributions

.project-contributions {
  width: 100%;
  border-top: 1px solid $color-cape-cod-10;  
  padding: 10px 16px;
}

.project-contributions-total {
  composes: caption-lt-lg from 'css/typography.scss';
  margin-top: 10px;
}

.amount-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.amount-label {
  composes: caption-lt-lg from 'css/typography.scss';
  margin-right: 10px;
}

.success-notification {
  color: white;
  background-color: $color-mountain-meadow;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.error-notification {
  color: white;
  background-color: $color-amaranth;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.cancel-button {
  margin-left: 10px;
}

// PostTag

.tags {
  padding: 0px 25px;
  margin-bottom: 10px;
}

.tag {
  // TODO: Extract typography
  @include font-regular;
  color: $color-caribbean-green;
  font-size: 12px;
  &:hover {
    text-decoration: none;
    color: $color-gossamer;
  }
  margin-right: 7px;
}

.disabled-button {
  background-color: white;
  opacity: 0.5;
}