.post {
  padding-top: 25px;
  background-color: white;
  overflow-x: hidden;
}

.header {
  margin-bottom: 10px;
}

.donate, .project-management-tool, .join-project {
  padding: 15px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 15px rgba(17, 39, 64, 0.20);
  border-radius: 5px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  color: $color-regent;
  line-height: 30px;
  font-size: 14px;

  .project-button {
    background-color: #0cc39f;
    padding: 0 10px;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 50px;
    line-height: 30px;
    height: 30px;
    display: inline-block;
  }

  img {
    height: 18px;
  }
}

.header-sticky {
  position: fixed;
  top: 49px;
  background-image: linear-gradient(0deg, rgba(255,255,255,0.00) 0%, $color-white 25%);
  padding: 25px 5px 25px 0;
  z-index: 10;
}

.noUser .header-sticky {
  top: 0;
}

.activity-sticky {
  z-index: 10;
  position: fixed;
  top: $topnav-height;
  background: $color-white;
}

.body {
  padding-left: 20px;
  padding-right: 20px;
}

.activity-header {
  composes: tag from 'css/typography.scss';
  padding-bottom: 8px;
  padding-left: 27px;
}

.join-project-button-container {
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
}

.join-project-button {
  margin: 0px;
}

// PostTag

.tags {
  padding: 0px 25px;
  margin-bottom: 10px;
}

.tag {
  // Extract typography?
  @include font-regular;
  color: $color-caribbean-green;
  font-size: 12px;
  &:hover {
    text-decoration: none;
    color: $color-gossamer;
  }
  margin-right: 7px;
}

@media screen and (max-width: 425px) {
  .header-sticky {
    top: 0;
  }

  .activity-sticky {
    top: 9px;
  }
}
