.post {
  padding-top: 25px;
  background-color: white;
  overflow-x: hidden;
}

.header {
  margin-bottom: 10px;
}

.header-sticky {
  position: fixed;
  top: 49px;
  background-image: linear-gradient(0deg, rgba(255,255,255,0.00) 0%, $color-white 25%);
  padding: 25px 5px 25px 0;
  z-index: 10;
}

.noUser .header-sticky {
  top: 0;
}

.activity-sticky {
  z-index: 10;
  position: fixed;
  top: $topnav-height;
  background: $color-white;
}

.body {
  padding-left: 20px;
  padding-right: 20px;
}

.activity-header {
  composes: tag from 'css/typography.scss';
  padding-bottom: 8px;
  padding-left: 27px;
}

.join-project-button-container {
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
}

.join-project-button {
  margin: 0px;
}

// PostTag

.tags {
  padding: 0px 25px;
  margin-bottom: 10px;
}

.tag {
  // Extract typography?
  @include font-regular;
  color: $color-caribbean-green;
  font-size: 12px;
  &:hover {
    text-decoration: none;
    color: $color-gossamer;
  }
  margin-right: 7px;
}

@media screen and (max-width: 425px) {
  .header-sticky {
    top: 0;
  }

  .activity-sticky {
    top: 9px;
  }
}
