.tooltip {
  font-size: 12px;
  padding: 5px 12px;
  border-radius: 24px !important;
  font-weight: bold;
  // @see Tooltip.js - styles are applied as props
  // background: $color-white !important;
  // color: $color-member !important;
  // border: 1px solid $color-picton-blue !important;
  box-shadow: $box-shadow-default;
}


@media screen and (max-width: 425px) {
  .tooltip {
    display: none;
  }
}
