// Hylo App

// DEFINE ONLY VARIABLES IN THIS FILE, NO CSS
// These variables are globally included and should not
// be manually imported into any SASS file.

// Spacing
// One REM equals 16px in a typical browser environment, so,
// 0.25 REM is equal to 4px, our current spacing and sizing base unit
$space-base-unit: 0.25rem;
$space-1x: $space-base-unit;
$space-2x: $space-base-unit * 2;
$space-3x: $space-base-unit * 3;
$space-4x: $space-base-unit * 4;
$space-5x: $space-base-unit * 5;
$space-6x: $space-base-unit * 6;
$space-7x: $space-base-unit * 7;
$space-8x: $space-base-unit * 8;
$space-9x: $space-base-unit * 9;
$space-10x: $space-base-unit * 10;
$space-11x: $space-base-unit * 11;
$space-12x: $space-base-unit * 12;
$space-13x: $space-base-unit * 13;
$space-14x: $space-base-unit * 14;
$space-15x: $space-base-unit * 15;
$space-16x: $space-base-unit * 16;
$space-17x: $space-base-unit * 17;
$space-18x: $space-base-unit * 18;

// $space-sm: $space-3x;
// $space-std: $space-8x;
// $space-lg: $space-9x;
// $space-xl: $space-10x;
// $space-xxl: $space-18x;

$content-width: 80rem;
$layout-spacing: 70px;
$size-feed-width: 590px;
$messages-header-height: 80px;
$messages-header-vertical-padding: 19px;
$messages-header-horizontal-padding: 24px;

// Colors
// For now standardized on using "Name that Color" naming:
// http://chir.ag/projects/name-that-color http://chir.ag/projects/ntc/
$color-rhino: #2C4059;
$color-rhino-80: rgba($color-rhino, .8);
$color-rhino-60: rgba($color-rhino, .6);
$color-rhino-50: rgba($color-rhino, .5);
$color-rhino-30: rgba($color-rhino, .3);
$color-rhino-darker: #2C405A;
$color-nepal: #8DABC4;
$color-chambray: #315280;

// Grays
$color-white: #FFFFFF;
$color-white-80: rgba($color-white, .8);
$color-white-60: rgba($color-white, .6);
$color-white-50: rgba($color-white, .5);
$color-black: #000000;
$color-black-10: rgba($color-black, .1);
$color-athens-gray: #FAFBFC;
$color-athens-gray-dark: #E1E5EA;
$color-ghost-30: rgba(#CCD1D7, .3);
$color-cape-cod: #363D3C;
$color-cape-cod-10: rgba($color-cape-cod, .1);
$color-cape-cod-05: rgba($color-cape-cod, .05);
$color-dove-gray-50: rgba(#717171, .5);
$color-black-squeeze: #E5EEF5;
$color-cod-gray-0: rgba(#161616, 0);
$color-cod-gray-dark: #1C1C1C;
$color-seashell: #F1F1F1;

$color-caribbean-green: #0DC3A0;
$color-medium-purple: #9883E5;
$color-fuchsia-pink: #BB60A8;
$color-picton-blue: #40A1DD;
$color-persimmon: #FE6848;

$color-iceberg: #CFF3EC;
$color-moon-raker: #EAE6FA;
$color-prim: #F1DFEE;
$color-link-water: #D9ECF8;
$color-peach-schnapps: #FFE1DA;

$color-mountain-meadow: #23CC80;
$color-amaranth: #EE4266;
$color-yello-orange: #FFB949;

$color-alto: #DCDCDC;
$color-polar: #F0FCF9;
$color-ziggurat: #BDE0DC;
$color-gossamer: #0A9682;

// Fonts
@mixin font-regular {
  font-family: 'Circular Book', sans-serif;
  font-weight: normal;
}

@mixin font-medium {
  font-family: 'Circular Medium', sans-serif;
  font-weight: normal;
}

@mixin font-bold {
  font-family: 'Circular bold', sans-serif;
}

// Utilities
@mixin image($width: 32px, $height: false) {
  background-position: center;
  background-size: cover;
  display: inline-block;
  width: $width;
  height: $height or $width;
}

$light-border: 1px solid $color-cape-cod-10;
