@font-face {
  font-family: 'Circular Book';
  src: url('/assets/fonts/Circular-Font-Family/lineto-circular-book.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular Medium';
  src: url('/assets/fonts/Circular-Font-Family/lineto-circular-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular Bold';
  src: url('/assets/fonts/Circular-Font-Family/lineto-circular-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'hylo-evo-03-15-17';
  src:  url('/assets/fonts/icons/hylo-evo-03-15-17.eot?9jxhoe');
  src:  url('/assets/fonts/icons/hylo-evo-03-15-17.eot?9jxhoe#iefix') format('embedded-opentype'),
    url('/assets/fonts/icons/hylo-evo-03-15-17.ttf?9jxhoe') format('truetype'),
    url('/assets/fonts/icons/hylo-evo-03-15-17.woff?9jxhoe') format('woff'),
    url('/assets/fonts/icons/hylo-evo-03-15-17.svg?9jxhoe#hylo-evo-03-15-17') format('svg');
  font-weight: normal;
  font-style: normal;
}
