@font-face {
  font-family: 'Circular Book';
  src: url('/assets/fonts/Circular-Font-Family/lineto-circular-book.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular Medium';
  src: url('/assets/fonts/Circular-Font-Family/lineto-circular-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular Bold';
  src: url('/assets/fonts/Circular-Font-Family/lineto-circular-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'hylo-evo-04-11-17';
  src:  url('/assets/fonts/icons/hylo-evo-04-11-17.eot');
  src:  url('/assets/fonts/icons/hylo-evo-04-11-17.eot#iefix') format('embedded-opentype'),
    url('/assets/fonts/icons/hylo-evo-04-11-17.ttf') format('truetype'),
    url('/assets/fonts/icons/hylo-evo-04-11-17.woff') format('woff'),
    url('/assets/fonts/icons/hylo-evo-04-11-17.svg#hylo-evo-04-11-17') format('svg');
  font-weight: normal;
  font-style: normal;
}
