@font-face {
  font-family: 'Circular Book';
  src: url('/assets/fonts/Circular-Font-Family/lineto-circular-book.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular Medium';
  src: url('/assets/fonts/Circular-Font-Family/lineto-circular-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Circular Bold';
  src: url('/assets/fonts/Circular-Font-Family/lineto-circular-bold.ttf') format('truetype');
}
