[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hylo-evo-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Star:before {
  content: "\e900";
}
.icon-ProfileUrl:before {
  content: "\e901";
}
.icon-ProfileTwitter:before {
  content: "\e902";
}
.icon-ProfileLinkedin:before {
  content: "\e903";
}
.icon-ProfileFacebook:before {
  content: "\e904";
}
.icon-Reply:before {
  content: "\e905";
}
.icon-LinkedIn:before {
  content: "\e906";
}
.icon-Google:before {
  content: "\e907";
}
.icon-Facebook:before {
  content: "\e908";
}
.icon-Ex:before {
  content: "\e909";
}
.icon-NewCommunity:before {
  content: "\e90a";
}
.icon-Projects:before {
  content: "\e90b";
}
.icon-Events:before {
  content: "\e90c";
}
.icon-Home:before {
  content: "\e90d";
}
.icon-Topics:before {
  content: "\e90e";
}
.icon-Members:before {
  content: "\e90f";
}
.icon-Messages:before {
  content: "\e910";
}
.icon-Notifications:before {
  content: "\e911";
}
.icon-Search:before {
  content: "\e912";
}
.icon-Share:before {
  content: "\e913";
}
.icon-More:before {
  content: "\e914";
}
.icon-ArrowUp:before {
  content: "\e915";
}
.icon-ArrowDown:before {
  content: "\e916";
}
.icon-Location:before {
  content: "\e917";
}
.icon-Trash:before {
  content: "\e918";
}
.icon-Pin:before {
  content: "\e919";
}
.icon-Complete:before {
  content: "\e91a";
}
.icon-Flag:before {
  content: "\e91b";
}
.icon-Circle:before {
  content: "\e91c";
}
