[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hylo-evo-03-15-17' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-More:before {
  content: "\e909";
}
.icon-Messages:before {
  content: "\e905";
}
.icon-Notifications:before {
  content: "\e906";
}
.icon-Search:before {
  content: "\e907";
}
.icon-Share:before {
  content: "\e908";
}
.icon-Members:before {
  content: "\e904";
}
.icon-Topics:before {
  content: "\e903";
}
.icon-Projects:before {
  content: "\e900";
}
.icon-Events:before {
  content: "\e901";
}
.icon-Home:before {
  content: "\e902";
}
