[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hylo-evo-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-EmailNotification:before {
  content: "\e900";
}
.icon-InAppNotification:before {
  content: "\e901";
}
.icon-PushNotification:before {
  content: "\e902";
}
.icon-Announcement:before {
  content: "\e903";
}
.icon-Invite:before {
  content: "\e904";
}
.icon-Post:before {
  content: "\e905";
}
.icon-Star:before {
  content: "\e906";
}
.icon-Plus:before {
  content: "\e907";
}
.icon-Settings:before {
  content: "\e908";
}
.icon-ArrowForward:before {
  content: "\e909";
}
.icon-Document:before {
  content: "\e90a";
}
.icon-Download:before {
  content: "\e90b";
}
.icon-Send:before {
  content: "\e90c";
}
.icon-Checkmark:before {
  content: "\e90d";
}
.icon-Empty:before {
  content: "\e90e";
}
.icon-Back:before {
  content: "\e90f";
}
.icon-AddImage:before {
  content: "\e910";
}
.icon-Clock:before {
  content: "\e911";
}
.icon-StarCircle:before {
  content: "\e912";
}
.icon-ProfileUrl:before {
  content: "\e913";
}
.icon-ProfileTwitter:before {
  content: "\e914";
}
.icon-ProfileLinkedin:before {
  content: "\e915";
}
.icon-ProfileFacebook:before {
  content: "\e916";
}
.icon-Reply:before {
  content: "\e917";
}
.icon-LinkedIn:before {
  content: "\e918";
}
.icon-Google:before {
  content: "\e919";
}
.icon-Facebook:before {
  content: "\e91a";
}
.icon-Ex:before {
  content: "\e91b";
}
.icon-NewGroup:before {
  content: "\e91c";
}
.icon-Projects:before {
  content: "\e91d";
}
.icon-Events:before {
  content: "\e91e";
}
.icon-Home:before {
  content: "\e91f";
}
.icon-Topics:before {
  content: "\e920";
}
.icon-Members:before {
  content: "\e921";
}
.icon-Messages:before {
  content: "\e922";
}
.icon-Notifications:before {
  content: "\e923";
}
.icon-Search:before {
  content: "\e924";
}
.icon-Share:before {
  content: "\e925";
}
.icon-More:before {
  content: "\e926";
}
.icon-ArrowUp:before {
  content: "\e927";
}
.icon-ArrowDown:before {
  content: "\e928";
}
.icon-Location:before {
  content: "\e929";
}
.icon-Trash:before {
  content: "\e92a";
}
.icon-Pin:before {
  content: "\e92b";
}
.icon-Complete:before {
  content: "\e92c";
}
.icon-Flag:before {
  content: "\e92d";
}
.icon-Circle:before {
  content: "\e92e";
}
.icon-Paperclip:before {
  content: "\e92f";
}
.icon-Globe:before {
  content: "\e930";
}
.icon-Stack:before {
  content: "\e931";
}
.icon-Calendar:before {
  content: "\e932";
}
.icon-Public:before {
  content: "\e933";
}
.icon-Filter:before {
  content: "\e934";
}
.icon-Hamburger:before {
  content: "\e935";
}
.icon-BadgeCheck:before {
  content: "\e936";
}
.icon-Unlock:before {
  content: "\e937";
}
.icon-Person:before {
  content: "\e938";
}
.icon-Eye:before {
  content: "\e939";
}
.icon-Letter:before {
  content: "\e93a";
}
.icon-Phone:before {
  content: "\e93b";
}
.icon-Email:before {
  content: "\e93c";
}
.icon-Copy:before {
  content: "\e93d";
}
.icon-Heart:before {
  content: "\e93e";
}
.icon-Info:before {
  content: "\e93f";
}
.icon-Create:before {
  content: "\e940";
}
.icon-Groups:before {
  content: "\e941";
}
.icon-Project:before {
  content: "\e942";
}
.icon-Resource:before {
  content: "\e943";
}
.icon-Discussion:before {
  content: "\e944";
}
.icon-Event:before {
  content: "\e945";
}
.icon-Offer:before {
  content: "\e946";
}
.icon-SmallEdit:before {
  content: "\e947";
}
.icon-Replies:before {
  content: "\e948";
}
.icon-Smiley:before {
  content: "\e949";
}
.icon-Twitter:before {
  content: "\ea96";
}
.icon-Edit:before {
  content: "\1f323";
}
.icon-CardView:before {
  content: "\e94a";
}
.icon-ListView:before {
  content: "\e94b";
}
.icon-Stream:before {
  content: "\e94c";
}
.icon-Enter-Door:before {
  content: "\e94d";
}
.icon-Lock:before {
  content: "\e94e";
}
.icon-Shield:before {
  content: "\e94f";
}
.icon-Hand:before {
  content: "\e950";
}
.icon-Hidden:before {
  content: "\e951";
}
.icon-CircleEx:before {
  content: "\e952";
}
