// NOTE: font-face declarations need to be outside
//       of CSS Modules global calls.
//       ref: https://github.com/css-modules/css-modules/issues/95
@import './fonts';

:global {
  @import './bootstrap';
  @import './icons';
  @import '../typography';
  @import '../datepicker';

  body {
    overflow-x: hidden;
  }

  .hashtag, .mention {
    color: $color-caribbean-green;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: $color-gossamer;
    }
  }

  .linkified {
    color: #0275d8
  }

  .linkified:focus,
  .linkified:hover {
    color: #014c8c
  }
}
