// NOTE: font-face declarations need to be outside
//       of CSS Modules global calls.
//       ref: https://github.com/css-modules/css-modules/issues/95
@import './fonts.scss';

:global {
  @import './bootstrap-global.scss';
  @import './icons.scss';
  @import '../typography.scss';

}
