.selector-matched-item {
  display: flex;
  align-items: center;
  margin-right: $space-2x;
  margin-top: .5rem;
  padding: $space-1x;
  height: $space-10x;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 10px rgba(42, 64, 89, 0.2);
  border-radius: 30px;
}

.avatar {
  margin-right: $space-1x;
}

.name {
  composes: caption-drk-lg from 'css/typography.scss';
  @include font-bold;
}

.delete-match {
  font-size: 18px;
  color: $color-rhino-30;
  margin: 0 $space-2x;
  cursor: pointer;
  position:  relative;
  top:  2px;
}

@media screen and (max-width: 650px) {
  .selector-matched-item {
    padding-top: 0rem;
    box-shadow: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0rem;
    height: 28px;
    margin-right: 0;

    .avatar {
      width: 18px;
      height: 18px;
    }

    .name {
      font-size: 11px;
    }

    .delete-match {
      font-size: 14px;
      position: relative;
      top: -1px;
    }
  }
}
