.commentForm {
  padding: 0 25px;
  margin-bottom: 40px;
}

.reply {
  composes: text-button from 'css/typography.scss';
  margin-bottom: 20px;
}

.prompt {
  display: flex;
  border-radius: 4px;
  width: 100%;
  min-height: 56px;
  box-shadow: 0px 4px 21px 2px $color-black-squeeze;
  cursor: pointer;
  @include font-regular;
  font-size: 16px;
  color: $color-rhino-30;
}

.image {
  margin-right: 10px;
  margin-left: 20px;
  position: relative;
  top: 14px;
}

.editor {
  width: 100%;
  position: relative;
  top: 16px;
  padding-bottom: 20px;
}
