.commentForm {
  margin-bottom: $space-10x;
  box-shadow: 0px 4px 21px 2px $color-rhino-30;
  border-radius: 4px;
}

.icon {
  color: $color-caribbean-green;
  font-size: 10px;
  margin-right: 7px;
}

.prompt {
  display: flex;
  border-radius: 4px;
  width: 100%;
  min-height: 56px;
  background-color: $color-white;
  box-shadow: 0px 4px 21px 2px $color-rhino-30;
  cursor: pointer;
  composes: bdy-lt-sm from 'css/typography.scss';
  color: $color-rhino-80;
  font-size: 16px;

  &.disabled {
    cursor: default;
  }
}

.image {
  margin-right: 10px;
  margin-left: 20px;
  position: relative;
  top: 14px;
}

.anonymous-image {
  margin-right: 10px;
  margin-left: 20px;
  position: relative;
  top: 20px;
  font-size: 17px;
  cursor: default;
}

.upload-button {
  display: flex;
  align-items: center;
  margin-right: $space-2x;
}

.upload-button-icon {
  font-size: 32px;
  cursor: pointer;
  &:hover {
    color: $color-caribbean-green;
  }
}

.upload-button-loading {
  width: 32px;
  height: 32px;
  div {
    svg path {
      fill: $color-caribbean-green;
    }
  }
}

.placeholder {
  width: 100%;
}

.editor {
  width: 90%;
  position: relative;
  top: 18px;
  padding: 0 30px 30px 0;
  overflow-wrap: break-word;
}

.signupButton, .signupButton:visited {
  line-height: 2em;
  background: #40A1DD;
  border-radius: 15px;
  color: white;
  display: inline-block;
  width: 200px;
  height: 2em;
  text-align: center;
  position: relative;
  top: 11px;
  right: 11px;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

@media screen and (max-width: 425px) {
  .commentForm {
    margin-bottom: 25px;
    z-index: 1000;
  }

  .editor {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .editor {
    font-size: 12px;
    padding: 0 10px 30px 0;
  }

  .image {
    margin-left: 10px;
  }

  .commentForm {
    margin-bottom: 10px;
  }
}
