.wrapper {
  padding: 30px;
}

.setting-explanation {
  composes: caption-lt-lg from 'css/typography.scss';
  font-size: 13px;
  color: black;
  margin-bottom: 0;
}

.form-wrapper {
  padding: 0px;
}

.setting-wrapper {
  padding-bottom: 0px;
}

.unsubscribeAllLabel {
  color: #2C4059;
}

.submit {
  composes: submit from '../Login/Login.module.scss';
  margin-top: 20px;
}
