.colorSection {
  flex-grow: 4;
  flex-shrink: 0;
  flex-basis: 100px;
  margin-top: 15px;
  margin-right: 25px;
  min-height: 180px;
}

.colorSection-title {
  text-transform: uppercase;
  font-size: 8pt;
  color: $color-rhino-60;
  margin-bottom: 20px;
}
.colorSection-description {
  font-size: 10pt;
  color: $color-rhino-80;
}
