$rowHeight: 60px;

.header {
  border-radius: 4px;
  background-color: $color-athens-gray;
  padding: $space-7x $space-6x;
  margin-bottom: $space-8x;
  margin-top: $space-6x;
}

.switch-header {
  border-radius: 4px;
  background-color: $color-athens-gray;
  padding: $space-7x $space-6x;
  margin-bottom: $space-8x;
  margin-top: $space-6x;
  display: flex;
  max-height: 80px;
}

.title {
  composes: hdr-display from 'css/typography.scss';
}

.subtitle {
  composes: caption-lt-lg from 'css/typography.scss';
}

.invite-link-settings {
  display: flex;
  align-items: flex-end;
}

.invite-link-text {
  display: flex;
  flex-direction: column;
}

.help {
  composes: caption-lt-lg from 'css/typography.scss';
  margin-bottom: 10px;
}

.invite-link {
  composes: text-button from 'css/typography.scss';
  font-size: 13px;
}

.buttons {
  margin-left: 10px;
}

.button {
  white-space: nowrap;
  padding: 0 15px;
  width: 95px;
  text-align: center;
  transition: 0.5s;
}

.reset-button {
  composes: button;
  margin-right: 10px;
}

.copy-button {
  composes: button;
  margin-top: 10px;
}

.email-section {
  display: flex;
  flex-direction: column;
  margin-top: 38px;
}

.send-invite-button {
  text-align: right;
  margin-top: 20px;
}

.email-addresses-input {
  border: 1px solid $color-ghost;
  font-size: 14px;
  height: 50px;
  border-radius: 2px;
  &::placeholder {

  }
}

.invite-msg-input {
  border: 1px solid $color-ghost;
  margin-top: 16px;
  padding: 14px;
  border-radius: 2px;
  @include font-regular;
  font-size: 14px;

  &:focus {
    outline: 0;
  }
}

.resend-all-button {
  margin-top: 3px;
}

.pending-invites-section {
  margin-top: 40px;

  .pending-invites-header {
    display: flex;
    flex-direction: row;

    h1 {
      font-size: 24px;
      color: $color-rhino-darker;
    }
  }

  .pending-invites-list {
    display: flex;
    margin-top: 10px;
    align-content: space-between;
    flex-direction: column;

    .row {
      @include font-regular;
      color: $color-rhino-60;
      font-size: 14px;
      width: 100%;
      align-items: center;
      height: $rowHeight;
      max-height: $rowHeight;
      border-top: 1px solid $color-ghost;
      display: flex;
      flex-direction: row;

      &:last-child {
        border-bottom: 1px solid $color-ghost;
      }
    }

    .invite-date {
      padding-left: 10px;
      color: #BFC5CD;
      @include font-regular;
    }

    .invite-actions {
      width: 150px;
      text-align: right;
      display: flex;
      flex-direction: row;
    }

    .action-btn {
      @include font-regular;
      cursor: pointer;
      &:hover {
        font-weight: bold;
      }
      user-select: none;
    }

    .expire-btn {
      color: $color-amaranth;
      flex: 0.5;
    }

    .resend-btn {
      color: $color-caribbean-green;
      flex: 0.5
    }
  }
}

.enter {
  opacity: 0.01;
}

.enter.enter-active {
  opacity: 1;
  transition: 400ms ease-in;
}

.leave {
  opacity: 1;
  max-height: $rowHeight;
}

.leave.leave-active {
  opacity: 0.01;
  max-height: 2px;
  transition: 500ms ease-in;
}

.error {
  color: $color-amaranth;
}

.success {
  color: $color-mountain-meadow;
}

.switch {
  float: right;
  margin-left: 180px;
  margin-top: -6px;
}

.switch-label {
  composes: caption-lt-lg from 'css/typography.scss';
}

@media screen and (max-width: 525px) {
  .invite-link-settings {
    display: block;
    text-align: center;
  }

  .switch {
    margin-left: 20px;
  }
}