.people-list-container {
  composes: messages-section from '../../MessageSection/MessageSection.module.scss';
  display: flex;
  flex-direction: column;
  flex: 1;
  position: absolute;
  top: 44px;
  width: 280px;
  height:  300px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 12px 15px rgba(42, 64, 89, 0.15);
  border-radius: 5px;
  padding: 0;
}

.people-list {
  padding: 0;
}

@media screen and (max-width: 650px) {
  .people-list-container {
    position: fixed;
    left: 0;
    top: 112px;
    width: 100%;
    transform: translateY(5px);
  }

  /* XXX: Hack to make sure people selector doesn't look weird on mobile when right-column slides in and out
   *      Needed because we set it to position: fixed above and so it otherwise would hang in place.
   *      Global styles helpful here!
   */
  :global .right-column-enter, :global .right-column-appear {
    .people-list-container {
      opacity: 0;
    }
  }

  :global .right-column-enter-done {
    .people-list-container {
      opacity: 1;
    }
  }

  :global .right-column-exit {
    .people-list-container {
      opacity: 0;
    }
  }
}
