.member-profile {
  padding-top: $space-6x;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .avatar {
    margin-left: $space-2x;
    border: none;
  }
}

.error { color: $color-amaranth; }

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-plate-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $color-athens-gray;
  height: 2 * $space-20x;
  border-radius: $space-1x;
  padding: $space-7x $space-4x;
}

.name-plate {
  display: flex;
}

.details {
  padding: $space-1x $space-5x;
}

.fine-details {
  display: flex;
  align-items: center;
  .spacer {
    margin: 0 7px;
    font-size: 8px;
    top: -2px;
  }

  .star {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $space-1x;
    font-size: 18px;
    width: 15px;
    height: 15px;
    color: $color-link-water;
    background-color: $color-rhino-80;
    border-radius: 50%;
    border: 1px solid white;
  }
}

.name {
  composes: hdr-display from 'css/typography.scss';
}

.name-plate-right-side {
  padding-top: 0.25rem;
}

.location {
  composes: caption-lt-lg from 'css/typography.scss';
}

.role-bling {
  display: flex;
  align-items: center;
}

.role {
  composes: caption-lt-lg from 'css/typography.scss';
}

.content {
  width: 93%;
  justify-content: center;

  .activity-item {
    margin: $space-5x 0;

    a:first-child {
      text-decoration: none;
    }
  }
}

.tagline {
  composes: bdy-lt-lg from 'css/typography.scss';
  font-size: 18px;
  position: relative;
  top: 3px;
}

.subhead {
  composes: hdr-headline from 'css/typography.scss';
  margin: $space-8x 0 $space-6x 0;
}

.banner-image {
  width: 93%;
  height: 4 * $space-18x;
  margin-top: -$space-10x;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: $space-1x;
  border: 1px solid black;
}

.controls {
  margin: $space-2x 0;
  flex-direction: row;
  justify-content: flex-start;
}

.controls-children {
  display: flex;
  align-items: center;
  height: $space-11x;
  position: relative;
  top: 5px;
}

.separator {
  margin: $space-4x 0 $space-8x 0;
  opacity: 0.3;
}

.social-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: $space-6x 0 $space-3x auto;
}

.bio {
  composes: bdy-lt-lg from 'css/typography.scss';
  margin-bottom: $space-5x;
}

.social-link {
  &:focus, &:hover {
    text-decoration: none;
  }
}

.icon {
  margin: $space-1x;

  &-facebook {
    color: #3b5998;
  }
  &-linkedin {
    color: #007BB6;
  }
  &-twitter {
    color: #4099FF;
  }
}
