@mixin column-margins {
  margin: 0 $space-10x 0 $space-10x;
}

@mixin column-padding {
  padding: 0 $space-10x 0 $space-10x;
}

@mixin post-tile {
  background: #FFFFFF;
  border: 1px solid $color-grey-keyline-light;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 7px auto;
}

@mixin post-meta {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Circular Book';
  color: $color-ghost;
}

// MEMBER PROFILE

.memberProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// HEADER

.edit-profile-button {
  position: absolute;
  right: $space-4x;
  top: $space-4x;
  display: flex;
  height: unset;
  line-height: $space-6x;
  color: white;
  background-color: rgba(0,0,0,0.6);
  padding: 0 $space-2x 0 $space-2x;
  border: unset;
  font-size: $space-3x;
  border-radius: 4px;
  & > span {
    display: flex;
    font-size: $space-5x;
    margin-right: $space-1x;
    align-items: center;
    color: white;
  }
  &:hover {
    background-color: $color-caribbean-green;
  }
}

.header {
  width: 100%;
  position: relative;
}

.header-banner {
  @include column-padding();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3 * $space-18x;
  background: linear-gradient($color-caribbean-green, $color-rhino-30);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-member-avatar {
  border: unset;
  box-shadow: 0 0 3px $color-rhino-80;
  margin-bottom: $space-1x;
}
.header-member-name,
.header-member-location,
.header-member-location-icon {
  color:white;
}
.header-member-name {
  composes: hdr-display from 'css/typography.scss';
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}
.header-member-location {
  composes: caption-lt-lg from 'css/typography.scss';
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $space-4x;
  &-icon {
    margin-right: $space-1x;
    font-size: $space-5x;
  }
}

// ACTION ICONS

.action-icons {
  @include column-margins();
  display: flex;
  justify-content: flex-end;
  margin-top: -$space-5x;
  margin-bottom: $space-6x;
}

.action-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-width: 1px;
  box-shadow: 0 0 3px $color-rhino-80;
  padding: $space-5x;
  background-color: white;
  margin-right: $space-3x;
  height: $space-1x;
  width: $space-1x;
  font-size: $space-4x;
  &:hover, &-hover {
    cursor: pointer;
    background-color: $color-caribbean-green;
    color: white;
  }
  &:not(.action-menu) {
    &:first-child {
      margin-right: auto;
      background-color: $color-caribbean-green;
      color: white;
      font-size: 1.5em;
      &:hover, &-hover {
        background-color: white;
        color: $color-caribbean-green;
      }
    }
  }
  &:last-child {
    margin-right: 0;
  }
  &.action-menu {
    // Correction of global style particular to "More" icon
    top: 0px;
    margin-right: 0;
  }
}

.tooltip {
  margin-top: 0px !important;
}

.action-icon-tooltip {
  display: flex;
  border: solid 1px $color-rhino-10;
  padding: $space-2x;
  color: $color-caribbean-green;
  cursor: pointer;
  border-radius: 4px;
  align-items: center;
  font-size: 16px;
  .action-icon-tooltip-content {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 250px;
  }
  .action-icon-tooltip-button {
    display: flex;
    font-size: 12px;
    margin-left: $space-3x;
    height: unset;
    line-height: unset;
    padding: $space-1x $space-2x $space-1x $space-2x;
    background-color: white;
    color: $color-rhino-60;
    border-color: $color-rhino-40;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    > span {
      padding: unset;
      font-size: 18px;
      margin-right: $space-1x;
    }
    &:hover,
    &.copied {
      background-color: $color-caribbean-green;
      border-color: $color-caribbean-green;
      color: white;
      > span {
        color: white;
      }
    }
  }
}

// BIO/TAGLINE AREA

.tagline {
  @include column-margins();
  composes: hdr-headline from 'css/typography.scss';
  color: $color-rhino-60;
  text-align: center;
  margin-bottom: $space-6x;
}

.bio {
  @include column-margins();
  composes: bdy-lt-lg from 'css/typography.scss';
  margin-bottom: $space-6x;
}

// MEMBER DETAILS

.member-details {
  @include column-margins();
  padding: $space-3x;
  margin-top: $space-6x;
  margin-bottom: $space-5x;
  border-top: solid 1px $color-rhino-10;
  border-bottom: solid 1px $color-rhino-10;
}

.bio {
  composes: bdy-lt-lg from 'css/typography.scss';
  margin-bottom: $space-5x;
}

.profile-subhead {
  text-transform: uppercase;
  color: $color-rhino-30;
  font-size: $space-3x;
  padding-top: $space-3x;
  margin-top: $space-3x;
  margin-bottom: $space-3x;
}

.profile-subhead:first-of-type {
  margin-top: 0;
  border-top: 0;
}

// EVENTS & PROJECTS

.event, .project {
  @include post-tile();

  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Circular Bold';
    color: $color-black;
  }

  .meta {
    @include post-meta();
  }

  .members {
    display: inline-flex;
  }

  .members-plus {
    display: inline-flex !important;
    position: relative;
    left: 15px;
  }

  .member {
    border-radius: 50px;
    padding: 10px 15px;
    border: 1px solid $color-black;
  }

  .plus {
    margin-top: 0;
  }
}

.event {
  justify-content: left;
  padding-right: 11px;

  .date {
    background-color: $color-events-50;
    color: white;
    border-radius: 4px 0px 0px 4px;
    padding: 5px 8px;
    text-align: center;
    text-transform: uppercase;
    min-width: 50px;

    .month {
      font-size: 14px;
    }

    .day {
      font-size: 28px;
      line-height: 23px;
    }
  }

  .details {
    text-align: left;
    padding: 0 11px;
    display: block;
    width: 100%;
    justify-content: space-between;
  }

  .meta {
    max-width: 350px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    > span {
      font-size: 12px;
      margin-right: 2px;
    }
  }
}

@media screen and (max-width: 1350px) {
  .event > .details > .meta {
      max-width: 250px;
  }
}

@media screen and (max-width: 1150px) {
  .event > .details > .meta {
      max-width: 200px;
  }
}

@media screen and (max-width: 375px) {
  .event > .details > .meta {
      max-width: 100px;
  }
}

.event:hover {
  border: 1px solid $color-events-50;
}

.project {
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 8px 11px;
}

.project:hover {
  border: 1px solid $color-projects-50;
}

.tagline {
  margin: 0 15px 15px 15px;
}

.bio {
  margin: 0 15px 15px 15px;
}

.action-icons {
  margin: 0 15px;
  position: relative;
  top: -20px;
}

.member-details {
  margin: 0 0 15px 0;
}
// CONTENT

.content {
  padding: 0 10px;
  width: 100%;
  justify-content: center;
  .activity-item {
    margin: $space-5x 0;
    a:first-child {
      text-decoration: none;
    }
  }
}

.content-controls {
  margin: $space-2x 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-header {
  composes: hdr-headline from 'css/typography.scss';
  font-size: 16px;
  // margin: 0 0 $space-6x 0;
}

.content-dropdown {
  composes: label from 'components/SkillLabel/component.scss';
  color: $color-rhino-60;
  min-width: 120px;
  height: 32px;
  text-transform: unset;
  &, &-icon {
    font-size: 14px;
  }
  &-icon {
    vertical-align: middle;
    margin-left: $space-1x;
  }
}

.isSingleColumn .action-icons, .isSingleColumn .bio, .isSingleColumn .tagline, .isSingleColumn .member-details {
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 25px;
  max-width: 640px;
  position: relative;
  top: -45px;
}

.isSingleColumn .content {
  max-width: 640px;
}

// ERROR

.error { color: $color-amaranth; }

@media screen and (max-width: 600px) {

  .isSingleColumn .action-icons, .isSingleColumn .bio, .isSingleColumn .tagline, .isSingleColumn .member-details, .isSingleColumn .content {
    margin: 0;
  }
}
