// mixins

.section-label {
  color: $color-rhino-80;
  white-space: nowrap;
  margin-right: 28px;
  font-size: 14px;
}

// Overall wrapper

$wrapperBorderRadius: 8px;

.wrapper {
  display: flex;
  flex-direction: column;
  min-width: $post-editor-width;
  list-style: none;
  border: solid 1px rgb(0,0,0);
  border-radius: $wrapperBorderRadius;
  border: 1px solid $color-cape-cod-10;
  background: $color-white;
}
@media (max-width: $bp-small-screen) {
  .wrapper {
    min-width: unset;
    height: 100%;
  }
}
@media (max-height: 500px) {
  .wrapper {
    min-height: unset;
    height: 100%;
  }
}

.wrapper-scrollable-inner {
  max-height: 360px;
  overflow: scroll;
}

// Header area

.header {
  padding: $space-4x $space-4x 0 $space-4x;
}

.initial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: normal;
  margin-bottom: $space-4x;
  &-prompt {
    color: $color-loblolly;
    composes: bdy-lt-sm from 'css/typography.scss';
  }
  &-closeButton {
    cursor: pointer;
  }
}

.postTypes {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $space-6x;
}

.postType {
  composes: tag from 'css/typography.scss';
  color: $color-rhino-darker;
  font-size: 11px;
  letter-spacing: 1.2px;
  line-height: 40px !important;
  display: inline-block;
  width: 100%;
  margin: 0 $space-2x;
  padding: 0 $space-5x;
  text-align: center;
  border-radius: $space-1x;
  background-color: $color-athens-gray-dark;
  &:last-child {
    margin-right: 0;
  }
  &:first-child {
    margin-left: 0;
  }
  &-discussion {
    &.selectable:hover, &:active, &.active {
      color: $color-picton-blue;
      background-color: $color-link-water;
    }
  }
  &-request {
    &.selectable:hover, &:active, &.active {
      color: $color-persimmon;
      background-color: $color-peach-schnapps;
    }
  }
  &-offer {
    &.selectable:hover, &:active, &.active  {
      color: $color-caribbean-green;
      background-color: $color-iceberg;
    }
  }
  &-project {
    color: $color-fuchsia-pink;
    background-color: $color-prim;
  }
  &-event {
    color: $color-medium-purple;
    background-color: $color-moon-raker;
  }
}
@media (max-width: $bp-small-screen) {
  .postType {
    margin: 0 $space-1x;
    padding: 0 $space-1x;
    font-size: 11px;
  }
}

// Body area

.body {
  padding: 0 $space-4x;
  display: flex;
  flex: 1;
  flex-direction: row;
  &-column:last-child {
    width: 100%;
  }
}

.titleAvatar {
  margin-right: $space-2x;
  padding: $space-1x;
  height: $space-9x;
}

.titleInput {
  composes: hdr-headline from 'css/typography.scss';
  margin-bottom: $space-2x;
  padding: 0;
  height: $space-9x;
  width: 100%;
  outline: none;
  border: none;
  &:disabled {
    color: $color-rhino-80;
  }
  &::placeholder {
    color: $color-rhino-30;
  }
}

.editor {
  min-height: 200px;
  max-height: 200px;
  margin-bottom: $space-6x;
  color: $color-rhino-80;
}
@media (max-width: $bp-small-screen) {
  .editor {
    min-height: unset;
  }
}
@media (max-height: 500px) {
  .editor {
    min-height: unset;
  }
}

// Footer area

.footer {
  padding: 0;
}

.footerSection {
  min-height: 3rem;
  border-top: solid 1px $color-ghost-30;
  padding: $space-5x;
  line-height: 1;
  display: flex;
  align-items: center;
  &-label {
    composes: section-label;
  }
  &-communities {
    /* !empty */
  }
}

.accept-contributions {
  display: flex;
  align-items: center;
}

.accept-contributions-switch {
  margin-right: 55px;
}

.alignedLabel {
  width: 60px;
}

.locationInput {
  border-color: transparent;
  color: $color-rhino-80;
  font-size: inherit;
  line-height: inherit; 
}

.locationInput::placeholder {
  color: $color-rhino-30;
}

.actionsBar {
  display: flex;
  flex-wrap: nowrap;
  background-color: $color-athens-gray;
  flex-direction: row;
  padding: $space-3x 18px;
  border-radius: $wrapperBorderRadius;
  align-items: center;
  border-top: solid 1px $color-ghost-30;
}

.actions {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.action-icon {
  font-size: 32px;
  cursor: pointer;
  &:hover {
    color: $color-caribbean-green;
  }
}

.highlight-icon {
  color: $color-caribbean-green;
  cursor: default;
}

.postButton {
  margin-left: auto;
}

.hide {
  display: none;
}

.title-error {
  color: white;
  background-color: $color-amaranth;
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

.accept-contributions-help {
  composes: caption-lt-lg from 'css/typography.scss';
}
