// mixins

.section-label {
  color: $color-rhino-80;
  white-space: nowrap;
  margin-right: 28px;
  font-size: 14px;
}

// Overall wrapper

$wrapperBorderRadius: 8px;

.wrapper {
  display: flex;
  flex-direction: column;
  min-width: $post-editor-width;
  list-style: none;
  border: solid 1px rgb(0,0,0);
  border-radius: $wrapperBorderRadius;
  border: 1px solid $color-cape-cod-10;
  background: $color-white;
}

.wrapper-scrollable-inner {
  max-height: 360px;
  overflow: scroll;
}

// Header area

.header {
  padding: $space-4x $space-4x 0 $space-4x;
}

.initial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: normal;
  margin-bottom: $space-4x;
  &-prompt {
    color: $color-loblolly;
    composes: bdy-lt-sm from 'css/typography.scss';
  }
  &-closeButton {
    cursor: pointer;
  }
}

.postTypes {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $space-6x;
}

.postType {
  composes: tag from 'css/typography.scss';
  color: $color-rhino-darker;
  font-size: 11px;
  letter-spacing: 1.2px;
  line-height: 40px;
  display: inline-block;
  width: 100%;
  margin: 0 $space-2x;
  padding: 0 $space-5x;
  text-align: center;
  border-radius: $space-1x;
  background-color: $color-athens-gray-dark;
  &:last-child {
    margin-right: 0;
  }
  &:first-child {
    margin-left: 0;
  }
  &-discussion {
    &.selectable:hover, &:active, &.active {
      color: $color-discussions;
      background-color: $color-discussions-20;
    }
  }
  &-request {
    &.selectable:hover, &:active, &.active {
      color: $color-requests;
      background-color: $color-requests-20;
    }
  }
  &-offer {
    &.selectable:hover, &:active, &.active  {
      color: $color-offers;
      background-color: $color-offers-20;
    }
  }
  &-resource {
    &.selectable:hover, &:active, &.active  {
      color: $color-resources;
      background-color: $color-resources-20;
    }
  }
  &-project {
    color: $color-projects;
    background-color: $color-projects-20;
  }
  &-event {
    color: $color-events;
    background-color: $color-events-20;
  }
}

// Body area

.body {
  padding: 0 $space-4x;
  display: flex;
  flex-direction: row;
  &-column:last-child {
    flex: 1;
    overflow: hidden;
  }
}

.titleAvatar {
  margin-right: $space-2x;
  padding: $space-1x;
  height: $space-9x;
}

.titleInput {
  composes: hdr-headline from 'css/typography.scss';
  margin-bottom: $space-2x;
  padding: 0;
  height: $space-9x;
  width: 100%;
  outline: none;
  border: none;
  &:disabled {
    color: $color-rhino-80;
  }
  &::placeholder {
    color: $color-rhino-30;
  }
}

.editor {
  min-height: 100px;
  max-height: 200px;
  margin-bottom: $space-6x;
  color: $color-rhino-80;
}

// Footer area

.footer {
  padding: 0;
}

.footerSection {
  min-height: 3rem;
  border-top: solid 1px $color-ghost-30;
  padding: $space-4x;
  line-height: 1;
  display: flex;
  align-items: center;
  &-prompt {
    color: $color-rhino-30;
    font-weight: bold;
    margin: 15px auto 25px;
    font-size: 18px;
  }
  &-helper {
    color: #C0C5CD;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 15px;
  }
  &-label {
    composes: section-label;
  }
  &-topics {
    width: 100%;
  }
  &-groups {
    width: 100%;
  }
}

.accept-contributions {
  display: flex;
  align-items: center;
}

.accept-contributions-switch {
  margin-right: 55px;
}

.alignedLabel {
  width: 60px;
}

.locationInput {
  border-color: transparent;
  color: $color-rhino-80;
  font-size: inherit;
  line-height: inherit;
}

.locationInput::placeholder {
  color: $color-rhino-30;
}

.actionsBar {
  display: flex;
  flex-wrap: nowrap;
  background-color: $color-athens-gray;
  flex-direction: row;
  padding: $space-3x 18px;
  border-radius: $wrapperBorderRadius;
  align-items: center;
  border-top: solid 1px $color-ghost-30;
}

.actions {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.action-icon {
  font-size: 32px;
  cursor: pointer;
  &:hover {
    color: $color-caribbean-green;
  }
}

.highlight-icon {
  color: $color-caribbean-green;
  cursor: default;
}

.postButton {
  margin-left: auto;
}

.hide {
  display: none;
}

.title-error {
  color: white;
  background-color: $color-amaranth;
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

.accept-contributions-help {
  composes: caption-lt-lg from 'css/typography.scss';
}

.datePickerModule {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


@media screen and (max-width: 600px) {
  .wrapper {
    min-width: 320px;
    border-radius: 0;
  }

  .postType {
    font-size: 10px;
    padding: 0 5px;
    line-height: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 425px) {
  .postType {
    margin: 0 2px;
  }

  .editor {
    font-size: 14px;
  }
}

@media screen and (max-width: 340px) {
  .footerSection-helper {
    margin: 0 5px;
    font-size: 10px;
  }

  .section-label, .footerSection-label, .section-label.footerSection-label {
    margin-right: 15px;
  }
}
