.wrapper {
  display: flex;
  flex-direction: column;
  width: 590px;
  list-style: none;
  border: solid 1px rgb(0,0,0);
  border-radius: $space-1x;
  border: 1px solid $color-cape-cod-10;
}

.body {
  padding: $space-4x;
}

.initialPrompt {
  composes: bdy-lt-sm from 'css/typography.scss';
  margin-bottom: $space-4x;
}

.postTypes {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: $space-6x;
}

.postType {
  display: inline-block;
  width: 100%;
  margin: 0 $space-2x;
  padding: $space-5x;
  font-size: 0.625rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 0;
  border-radius: $space-1x;
  color: $color-rhino-30;
  background-color: $color-athens-gray-dark;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &:first-child {
    margin-left: 0;
  }
  &-discussion {
    &:hover, &:active, &-active {
      color: $color-picton-blue;
      background-color: $color-link-water;
    }
  }
  &-request {
    &:hover, &:active, &-active {
      color: $color-persimmon;
      background-color: $color-peach-schnapps;
    }
  }
  &-offer {
    &:hover, &:active, &-active  {
      color: $color-caribbean-green;
      background-color: $color-iceberg;
    }
  }
}

.titleAndDescription {
  display: flex;
  flex-direction: row;
  &-row {
    width: 100%;
  }
}

.titleAvatar {
  margin-right: $space-2x;
  padding: $space-1x;
  height: $space-9x;
}

.titleInput {
  composes: hdr-headline from 'css/typography.scss';
  margin-bottom: $space-2x;
  height: $space-9x;
  width: 100%;
  outline: none;
  border: none;
}

.editor {
  height: 200px;
  margin-bottom: $space-6x;
}

// Footer area

.footer {
  /* !empty */
}

.postIn {
  min-height: 3rem;
  border-top: solid 1px $color-ghost-30;
  padding: $space-5x;
  line-height: 1;
  display: flex;
  align-items: flex-start;
  &-label {
    color: $color-rhino-80;
    white-space: nowrap;
    margin-right: $space-4x;
  }
  &-communities {
    /* !empty */
  }
}

.actionsBar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  height: 3.75rem;
  padding: $space-3x;
  background-color: $color-athens-gray-dark;
}

.actions {
  /* !empty */
}

.postButton {
}
