.topNav {
  // @include make-col-ready();
    position: relative;
    // Prevent columns from becoming too narrow when at smaller grid tiers by
    // always setting `width: 100%;`. This works because we use `flex` values
    // later on to override this initial width.
    width: 100%;
    height: 56px; // Prevent collapsing
    // @each $breakpoint in map-keys($gutters) {
    //   @include media-breakpoint-up($breakpoint) {
    //     $gutter: map-get($gutters, $breakpoint);
    //     padding-right: ($gutter / 2);
    //     padding-left:  ($gutter / 2);
    //   }
    // }
  composes: d-flex justify-content-start pl-5 pr-5 mb-6 from $bootstrap-path;
  // mixing metaphors here because the top padding is not a multiple of the spacer
  background-color: white;
  z-index: 50;
  padding-top: 13px;
  box-shadow: 0px 4px 56px 0px $color-alto;
}

.image {
  @include image(30px);
  border-radius: 4px;
  margin-right: 10px;
}

.title {
  display: inline-block;
}

.label {
  /* empty */
}

.communityName {
  font-size: 16px !important;
  position: relative;
  top: -2px;
}

.navIcons {
  composes: ml-auto from $bootstrap-path;
  display: inline-block;
}

.navIcon, .navIcon:hover {
  margin-right: 15px;
  text-decoration: none;
}

.icon {
  font-size: 22px;
  top: 3px;
}

.icon:hover {
  color: $color-rhino;
}
