.topNavWrapper {
  width: 100%;
  z-index: 21;
}

.topNav {
  // Notes from Bootstrap make-col-ready(): Prevent columns from becoming too
  // narrow when at smaller grid tiers by always setting `width: 100%;`. This
  // works because we use `flex` values later on to override this initial width.
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: $topnav-height; // Prevent collapsing
  display: flex;
  justify-content: flex-start;
  background-color: white;
  z-index: 50;
  margin-bottom: $space-6x;
  // mixing metaphors here because the top padding is not a multiple of the spacer
  padding-top: 13px;
  padding-left: $space-5x;
  padding-right: $space-5x;
  box-shadow: 0px 4px 56px 0px $color-alto;
}

.image {
  @include image(30px);
  border-radius: 4px;
  cursor: pointer;
  position: relative;

  &:hover {
    background: $color-caribbean-green !important;
    &::after {
      content: "<";
      color: $color-white;
      font-size: 20px;
      padding-left: 9px;
    }
  }
}

.logoBadge {
  position: absolute;
  top: -10px;
  left: 19px;
}

.title {
  padding-left: 10px;
  display: inline-block;
  cursor: pointer;
}

.label {
  composes: tag from 'css/typography.scss';
}

.communityName {
  composes: hdr-subheadline from 'css/typography.scss';
  font-size: 16px !important;
  position: relative;
  top: -2px;
}

.navIcons {
  margin-left: auto;
  display: inline-block;

  > * {
    vertical-align: middle;
    margin-right: 15px;
    display: inline-block;
    height: 28px;
    margin-right: 15px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}

.icon {
  position: relative;
  top: 3px;
  font-size: 22px;
}

.icon:hover {
  color: $color-rhino;
}

.user-menu {
  margin-right: 0 !important;
  li a {
    &, &:not([href]) {
      color: $color-rhino-60;
      cursor: pointer;
    }
    &:hover {
      text-decoration: none;
    }
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid $color-athens-gray;
  }
}

.hover-highlight {
  /* emtpy */
}

.hover-highlight:hover {
  color: $color-black;
}

.logo-hover {
  &:hover span {
    background: $color-caribbean-green !important;
    &::after {
      content: "<";
      color: $color-white;
      font-size: 20px;
      padding-left: 9px;
    }
  }
}
