.topicNavigation {
  min-width: 206px;
  padding: 32px 12.5px 0 12.5px;
  color: $color-rhino-60;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  color: $color-rhino-60;
  margin-bottom: 14px;
  padding-right: $space-2x;
}

.header-link {
  cursor: pointer;
}

.title {
  flex: 1;
}

.topics {
  list-style: none;
  padding: 0 0 0 46px;
  line-height: 27px;
  overflow: auto;
  color: $color-rhino-60;
}

.topic {
  a {
    font-size: 14.5px;
    color: $color-rhino-60;
    text-decoration: none !important;
  }
  a:hover, a:active {
    color: $color-rhino;
    text-decoration: none !important;
  }
}

.topicLink {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  margin-right: 24px;
}

.name {
  // min-width: 104px;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badge {
  padding-right: 2px;
  display: flex;
  width: auto;
}

.closeIcon {
  font-size: 14px;
  margin-right: -1px;
}

.addTopic {
  margin-left: 46px;
  margin-bottom: $space-16x;
  a, a:hover {
    color: $color-caribbean-green;
    text-decoration: none;
  }
}

:global {
  .active-topic-nav-link {
    color: $color-caribbean-green !important;
  }
}
