.topicNavigation {
  min-width: 206px;
  padding: 32px 12.5px 0 12.5px;
  color: $color-rhino-60;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  color: $color-rhino-60;
  margin-bottom: 14px;
  padding-right: $space-2x;

  a:hover {
    text-decoration: none;
  }
}

.header-link {
  cursor: pointer;
}

.title {
  flex: 1;
}

.topics {
  list-style: none;
  padding: 0 0 0 46px;
  line-height: 27px;
  overflow: auto;
  color: $color-rhino-60;
}

.topics::-webkit-scrollbar {
  background-color:transparent;
  width: 5px;
  border-radius: 5px;
}

.topics::-webkit-scrollbar-thumb {
  background-color: rgba(200,200,200,.5   );
  outline: none;
  border-radius: 3px;
}

.topic {
  position: relative;

  a {
    font-size: 14.5px;
    color: $color-rhino-60;
    text-decoration: none !important;
  }
  a:hover, a:active {
    color: $color-rhino;
    text-decoration: none !important;
  }
}

.topicLink {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  margin-right: 24px;
}

.name {
  // min-width: 104px;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badge {
  padding-right: 2px;
  display: block;
  width: auto;
  position: absolute;
  left: -25px;
  top: -1px;

  span {
    width: 15px;
    height: 15px;

    span {
      color: white;
      font-size: 10px;
      line-height: 15px;
    }
  }
}

.closeIcon {
  font-size: 14px;
  margin-right: -1px;
}

.addTopic {
  margin-left: 46px;
  margin-bottom: $space-5x;
  a, a:hover {
    color: $color-caribbean-green;
    text-decoration: none;
  }
}

:global {
  .active-topic-nav-link {
    color: $color-caribbean-green !important;
  }
}

@media screen and (max-width: 600px) {
  .topicNavigation {
    display: none;
  }
}
