.placeholder {
  position: relative;
  z-index: 2;
  height: $space-7x;
  margin-bottom: $space-3x;
}

.bar {
  width: 100%;
  padding: 0 $space-4x;
  display: flex;
  align-content: stretch;
}

.fixed {
  position: fixed;
  top: 72px;
  z-index: 20;
  width: $center-column-width;

  &:before {
    z-index: -1;
    content: '';
    pointer-events: none;
    position: absolute;
    left: 0;
    top: -100px;
    height: 200px;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.9) 55%, rgba(255, 255, 255, 0));
  }
}

.tabs {
  flex-grow: 1;
  > span {
    cursor: pointer;
  }
}

.tab {
  composes: caption-lt-lg from 'css/typography.scss';
  padding: 0 15px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
}

.tab-active {
  composes: tab;
  // TODO: extract typography? 1px from .HDR-MINOR
  @include font-bold;
  color: $color-rhino;
  font-size: 15px;
  background-color: $color-cape-cod-05;
  border-radius: 4px;
}

.sorter {
  font-size: 14px;
}

.sorter-label {
  composes: caption-lt-lg from 'css/typography.scss';
  > span {
    vertical-align: middle;
    margin-left: $space-1x;
  }
}
